<div class="fill-table-container" [style.height.vh]="40">

  <table mat-table [dataSource]="dataSource" [style.max-height.vh]="40">

    <ng-container matColumnDef="operacion">
      <th mat-header-cell *matHeaderCellDef> Concepto </th>
      <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
    </ng-container>

    <ng-container matColumnDef="actionDelete">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let row" class="column-action">

        <button mat-icon-button empNgStopPropagation
          title="Eliminar concepto"
          (click)="onRemoveClicked(row)">
          <mat-icon>
            delete
          </mat-icon>
        </button>

      </td>
    </ng-container>

    <ng-container matColumnDef="notFoundMessage">
      <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
        No se encontraron conceptos.
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['notFoundMessage']" class="text-not-found"
      [hidden]="hasOperations"></tr>

  </table>

</div>
