<emp-ng-card
  [title]="title"
  [hint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Producto">

      <emp-ng-product-editor
        [product]="data.product"
        [actions]="data.actions"
        (productEditorEvent)="onProductEditorEvent($event)">

      </emp-ng-product-editor>

    </mat-tab>

    <mat-tab label="Control presupuestal">

      <emp-ng-product-budget-segments-edition
        [productUID]="data.product.uid"
        [items]="data.budgetSegments"
        [canEdit]="data.actions.canEditBudgetData"
        (productBudgetSegmentsEditionEvent)="onProductBudgetSegmentsEditionEvent($event)">

      </emp-ng-product-budget-segments-edition>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
