<div class="fx-row-container fx-gap-size entry-gap-size sm-fx-gap">

  <div class="fx-item-size check-column-size sm-fx-item-none">
    <mat-checkbox empNgStopPropagation
      [checked]="selected"
      (change)="onCheckClicked()">
    </mat-checkbox>
  </div>

  <div class="fx-item">
    <div class="list-item-text-highlight nowrap"
      (click)="onSelectClicked()">
      <a class="bold-text">{{transaction.transactionNo}}</a>
    </div>
    <div class="bold-text">{{transaction.transactionTypeName}}</div>
  </div>

  <div class="fx-item-size first-column-size sm-fx-item-none">
    <div class="list-item-text-highlight">{{transaction.basePartyName}}</div>
    <div class="bold-text">{{transaction.operationSourceName}}</div>
  </div>


  <div class="fx-item-size second-column-size sm-fx-item-none">
    <div>
      {{!transaction.applicationDate ? '-' : (transaction.applicationDate | empDateTimeFormat)}}
    </div>
    <div>
      {{!transaction.requestedDate ? '-' : (transaction.requestedDate | empDateTimeFormat)}}
    </div>
  </div>

  <div class="fx-item-size third-column-size sm-fx-item-none">
    <div>{{transaction.description}} </div>
  </div>

  <div class="fx-item-size status-column-size sm-fx-item-none">
    <span class="tag"
      [ngClass]="{'tag-base-error': ['Suspendida', 'Eliminada' , 'Rechazada'].includes(transaction.statusName)}">
      {{transaction.statusName}}
    </span>
  </div>

</div>
