<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <emp-ng-bills-explorer
    class="primary priority"
    [class.std-hide]="displayTabbedView"
    [query]="query"
    [dataList]="dataList"
    [selectedUID]="selectedData.bill.uid"
    [isLoading]="isLoading"
    [queryExecuted]="queryExecuted"
    (billsExplorerEvent)="onBillsExplorerEvent($event)">

  </emp-ng-bills-explorer>

  <emp-ng-bill-tabbed-view *ngIf="displayTabbedView"
    class="secondary std-stacked"
    [data]="selectedData"
    (billTabbedViewEvent)="onBillTabbedViewEvent($event)">

  </emp-ng-bill-tabbed-view>

</div>
