<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div class="fx-item-quarter">

        <label>Tipo de presupuesto:</label>

        <emp-ng-select
          formControlName="budgetTypeUID"
          [config]="{autoSelect: !isSaved}"
          [items]="budgetTypesList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.budgetTypeUID)"
          (changes)="onBudgetTypeChanged($event)">
        </emp-ng-select>

      </div>

      <div class="fx-item-quarter">

        <label>Presupuesto:</label>

        <emp-ng-select
          formControlName="budgetUID"
          [config]="{autoSelect: !isSaved}"
          [items]="budgetsList"
          [loading]="isLoading"
          [placeholder]="budgetTypePlaceholder"
          [showError]="formHelper.isControlInvalid(form.controls.budgetUID)"
          (changes)="onBudgetChanges($event)">
        </emp-ng-select>

      </div>

      <div class="fx-item-half">

        <label>Tipo de transacción:</label>

        <emp-ng-select
          formControlName="transactionTypeUID"
          [config]="{autoSelect: !isSaved}"
          [items]="transactionTypesList"
          [loading]="isLoading"
          [placeholder]="budgetPlaceholder"
          [showError]="formHelper.isControlInvalid(form.controls.transactionTypeUID)"
          (changes)="onTransactionTypeChanges($event)">
        </emp-ng-select>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Área:</label>

        <emp-ng-select
          formControlName="basePartyUID"
          [config]="{virtualScroll: true, showTooltip: true, autoSelect: !isSaved}"
          [items]="orgUnitsList"
          [loading]="isLoadingOrgUnits"
          [placeholder]="transactionTypePlaceholder"
          [showError]="formHelper.isControlInvalid(form.controls.basePartyUID)"
          (changes)="onOrgUnitsChanges($event)">
        </emp-ng-select>

      </div>

      <div class="fx-item-quarter">

        <label>Fuente:</label>

        <emp-ng-select
          formControlName="operationSourceUID"
          [config]="{autoSelect: !isSaved}"
          [items]="operationSourcesList"
          [loading]="isLoading"
          [placeholder]="transactionTypePlaceholder"
          [showError]="formHelper.isControlInvalid(form.controls.operationSourceUID)">
        </emp-ng-select>

      </div>

      <div class="fx-item-none">

        <label>Fecha de aplicación:</label>

        <emp-ng-datepicker
          formControlName="applicationDate"
          [showError]="formHelper.isControlInvalid(form.controls.applicationDate)">
        </emp-ng-datepicker>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Tipo de documento relacionado:</label>

        <emp-ng-select
          formControlName="baseEntityTypeUID"
          [config]="{clearable: true, autoSelect: !isSaved }"
          [items]="baseEntityTypesList"
          [loading]="isLoading"
          [placeholder]="baseEntityTypePlaceholder"
          [showError]="formHelper.isControlInvalid(form.controls.baseEntityTypeUID)"
          (changes)="onBaseEntityTypeChanges()">
        </emp-ng-select>

      </div>

      <div class="fx-item-half">

        <label>Documento relacionado:</label>

        <emp-ng-select-typeahead #baseEntitySearcher
          formControlName="baseEntityUID"
          [placeholder]="baseEntityPlaceholder"
          [config]="{ searchByQuery: true, showTooltip: true, clearable: true }"
          [initQuery]="{
              relatedDocumentTypeUID: form.value.baseEntityTypeUID,
              organizationalUnitUID: form.value.basePartyUID ?? null,
              keywords: ''
          }"
          [searcherAPI]="baseEntitiesAPI"
          [initialValue]="isSaved && !editionMode ? transaction.baseEntity : null"
          [showError]="formHelper.isControlInvalid(form.controls.baseEntityUID)">

          <ng-template #tLabelTemplate let-item="item">
            {{(!!item.entityNo ? item.entityNo : 'N/D') | uppercase}} | Cuenta: {{!item?.name ? 'N/D' : item?.name}}
          </ng-template>

          <ng-template #tOptionTemplate let-item="item">

            <div class="item wrap">

              <span class="item-highlight">
                {{(!!item.entityNo ? item.entityNo : 'N/D') | uppercase}}  | {{item.payTo?.name}} | {{item.budget?.name}} | {{item.total ?? 0 | empDecimal}} | {{item.currency?.name}}
              </span> <br>
              <span class="item-text-xs">
                {{!item?.name ? 'N/D' : item?.name}}
              </span>

            </div>

          </ng-template>

        </emp-ng-select-typeahead>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-one">
        <label>Justificación:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          formControlName="justification"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.justification)">
        </textarea>
      </div>

    </div>

  </div>

  <mat-divider class="horizontal" *ngIf="!isSaved || hasActions">

  </mat-divider>

  <div #rowFooter class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitButtonClicked()">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div class="fx-item fx-items-center">

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.canDelete"
            type="button" class="btn-warning"
            (click)="onEventButtonClicked(eventType.DELETE)">
            Eliminar
          </button>

        </ng-container>

        <ng-container *ngIf="!editionMode">

          <button *ngIf="actions.canSendToAuthorization"
            type="button" class="btn"
            (click)="onEventButtonClicked(eventType.SEND_TO_AUTHORIZE)">
            Enviar a autorización
          </button>

          <button *ngIf="actions.canAuthorize"
            type="button" class="btn"
            (click)="onEventButtonClicked(eventType.AUTHORIZE)">
            Autorizar
          </button>

          <button *ngIf="actions.canReject"
            type="button" class="btn"
            (click)="onEventButtonClicked(eventType.REJECT)">
            Rechazar
          </button>

        </ng-container>

      </div>

      <div class="fx-item fx-end fx-items-center">

        <button *ngIf="!editionMode && (actions.canDelete || actions.canUpdate)"
          class="btn-action"
          (click)="enableEditor(true)">
          Editar
        </button>

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.canUpdate"
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>

        </ng-container>

      </div>

    </ng-container>

  </div>

</form>
