
<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <div class="primary" [class.std-hide]="displayTabbedView">

    <emp-pmt-payables-explorer
      [query]="query"
      [dataList]="dataList"
      [selectedUID]="selectedData.payable.uid"
      [isLoading]="isLoading"
      [queryExecuted]="queryExecuted"
      (payablesExplorerEvent)="onPayablesExplorerEvent($event)">

    </emp-pmt-payables-explorer>

  </div>


  <div class="secondary priority" *ngIf="displayTabbedView">

    <emp-pmt-payable-tabbed-view
      [data]="selectedData"
      (payableTabbedViewEvent)="onPayableTabbedViewEvent($event)">

    </emp-pmt-payable-tabbed-view>

  </div>

</div>


<emp-pmt-payable-creator *ngIf="displayCreator"
  (payableCreatorEvent)="onPayableCreatorEvent($event)">

</emp-pmt-payable-creator>
