<emp-ng-card
  [cardTitle]="title"
  [cardHint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Cuenta estándar">

      <emp-financial-standard-account-view
        [standardAccount]="data.standardAccount"
        [actions]="data.actions"
        (standardAccountViewEvent)="onStandardAccountViewEvent($event)">

      </emp-financial-standard-account-view>

    </mat-tab>

    <mat-tab label="Cuentas">

      <ng-template matTabContent>

        <emp-financial-accounts-edition
          queryType="standard-accounts"
          [accounts]="data.accounts"
          [canUpdate]="data.actions.canUpdate"
          (accountsEditionEvent)="onAccountsEditionEvent($event)">

        </emp-financial-accounts-edition>

      </ng-template>

    </mat-tab>

    <mat-tab label="Áreas">

      <div class="instruction-text">
        No se encontraron registros.
      </div>

    </mat-tab>

    <mat-tab label="Monedas">

      <div class="instruction-text">
        No se encontraron registros.
      </div>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
