<emp-ng-card
  [heading]="title"
  [hint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Cuenta estándar">

      <emp-financial-standard-account-view
        [standardAccount]="data.standardAccount"
        [actions]="data.actions"
        (standardAccountViewEvent)="onStandardAccountViewEvent($event)">

      </emp-financial-standard-account-view>

    </mat-tab>

    <mat-tab label="Cuentas">

      <ng-template matTabContent>

        <emp-financial-accounts-edition
          [queryType]="data.standardAccount.isProjectRelated ? 'standard-accounts-with-project' : 'standard-accounts-without-project'"
          [chartOfAccountsUID]="chartOfAccountsUID"
          [accounts]="data.accounts"
          [accountTypesList]="data.standardAccountTypes"
          [canUpdate]="data.actions.canUpdate"
          [canActivate]="data.actions.canActivate"
          [canSuspend]="data.actions.canSuspend"
          [canEditOperations]="data.actions.canEditOperations"
          [showOperations]="data.actions.showOperations"
          (accountsEditionEvent)="onAccountsEditionEvent($event)">

        </emp-financial-accounts-edition>

      </ng-template>

    </mat-tab>

    <mat-tab label="Áreas">

      <div class="instruction-text">
        No se encontraron registros.
      </div>

    </mat-tab>

    <mat-tab label="Monedas">

      <div class="instruction-text">
        No se encontraron registros.
      </div>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
