<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      {{ cardTitle }}

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="cardHint"
        [isLoading]="isLoading">
      </div>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div class="fx-column-container-fill">

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <emp-payments-orders-filter class="fx-item-none"
        [query]="query"
        [(showFilters)]="showFilters"
        (paymentsOrdersFilterEvent)="onPaymentsOrdersFilterEvent($event)">

      </emp-payments-orders-filter>

      <emp-payments-orders-list class="fx-item"
        [paymentsOrdersList]="paymentsOrdersList"
        [selectedPaymentOrderUID]="selectedPaymentOrderUID"
        (paymentsOrdersListEvent)="onPaymentsOrdersListEvent($event)">

      </emp-payments-orders-list>

    </div>

  </div>

</div>
