<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      {{ cardTitle }}

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="cardHint"
        [isLoading]="isLoading">
      </div>

    </div>

    <div class="card-header-options">

      <button *empNgHasPermission="PERMISSION_TO_CREATE"
        class="btn-action"
        (click)="onCreatePaymentOrderClicked()">
        Agregar orden de pago
      </button>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div class="fx-column-container-fill">

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <emp-pmt-payments-orders-filter class="fx-item-none"
        [query]="query"
        [(showFilters)]="showFilters"
        (paymentsOrdersFilterEvent)="onPaymentsOrdersFilterEvent($event)">

      </emp-pmt-payments-orders-filter>

      <emp-pmt-payments-orders-list class="fx-item"
        [dataList]="dataList"
        [selectedUID]="selectedUID"
        [queryExecuted]="queryExecuted"
        (paymentsOrdersListEvent)="onPaymentsOrdersListEvent($event)">

      </emp-pmt-payments-orders-list>

    </div>

  </div>

</div>
