<div class="fx-column-container-fill">

  <emp-ng-list-controls *ngIf="paymentsOrdersList.length > 0 && selection.selected.length > 0"
    class="fx-item-none"
    [config]="{itemsPronouns: 'las', itemsName: 'ordenes de pago', selectionMessage: 'seleccionadas'}"
    [selection]="selection"
    [operationsList]="operationsList"
    (listControlsEvent)="onListControlsEvent($event)">

  </emp-ng-list-controls>


  <emp-pmt-payments-orders-list-header class="fx-item-none"
    [paymentsOrdersList]="paymentsOrdersList"
    [selection]="selection">

  </emp-pmt-payments-orders-list-header>


  <div #listContainer class="fx-item">

    <cdk-virtual-scroll-viewport itemSize="61">

        <div *cdkVirtualFor="let item of paymentsOrdersList"
          class="list-item"
          [class.list-item-selected]="item.uid === selectedPaymentOrderUID">

          <div class="list-item-container">

            <emp-pmt-payments-orders-list-item
              [item]="item"
              [selected]="selection.isSelected(item)"
              (paymentsOrdersListItemEvent)="onPaymentsOrdersListItemEvent($event)">

            </emp-pmt-payments-orders-list-item>

          </div>

        </div>

        <div *ngIf="paymentsOrdersList.length === 0" class="text-not-found">
          {{ queryExecuted ?
             'No se encontraron ordenes de pago con el filtro proporcionado.' :
             'No se ha invocado la búsqueda de ordenes de pago.' }}
        </div>

    </cdk-virtual-scroll-viewport>

  </div>

</div>
