<div *ngIf="canRequestTravelExpenses || canCommit || canExercise || canValidate || canRequest || canApprove"
  class="fx-row-container fx-gap-half fx-space-between"
  [style.margin-bottom.px]="8">

  <div class="fx-item-none" *ngIf="canRequestTravelExpenses">
    <!-- requisition -->
    <button type="button"
      class="btn"
      (click)="onEventButtonClicked(eventType.REQUEST_TRAVEL_EXPENSES)">
      Solicitar pago de viáticos
    </button>

  </div>

  <div class="fx-item">

  </div>

  <div class="fx-item-none" *ngIf="canExercise">
    <!-- payment -->
    <button type="button"
      title="Funcionalidad temporal"
      class="btn"
      (click)="onEventButtonClicked(eventType.EXERCISE)">
      Ejercer
    </button>

  </div>

  <div class="fx-item-none" *ngIf="canApprove">
    <!-- payment -->
    <button type="button"
      class="btn-action"
      (click)="onEventButtonClicked(eventType.APPROVE)">
      Solicitar aprobación
    </button>

  </div>

  <div class="fx-item-none" *ngIf="canValidate">
    <!-- requisition -->
    <button type="button"
      class="btn"
      (click)="onEventButtonClicked(eventType.VALIDATE)">
      Validar suficiencia
    </button>

  </div>

  <div class="fx-item-none" *ngIf="canRequest">
    <!-- requisition -->
    <button type="button"
      class="btn-action"
      (click)="onEventButtonClicked(eventType.REQUEST)">
      Solicitar suficiencia
    </button>

  </div>

  <div class="fx-item-none" *ngIf="canCommit">
    <!-- contract, contract-order, expense, purchase -->
    <button type="button"
      class="btn-action"
      (click)="onEventButtonClicked(eventType.COMMIT)">
      Solicitar compromiso
    </button>

  </div>

</div>
