<div class="section-title"> Información del crédito </div>

<div class="fx-column-container fx-gap-half">

  <div class="fx-row-container">

    <div [ngClass]="isExternalCredit ? 'fx-item-quarter' : 'fx-item-half'">

      <label>Tipo de crédito:</label>

      <emp-ng-select
        [(ngModel)]="selectedData.creditType"
        [items]="creditTypesList"
        [config]="{clearable: true, bindByValue: false}"
        [placeholder]="formHelper.getSimplePlaceholder(editionMode && canEditExternalData)"
        [showError]="showError && errors?.creditTypeError"
        [disabled]="!canEditExternalData"
        (changes)="onSelectedDataChanged()">
      </emp-ng-select>

    </div>

    <div class="fx-item fx-row-container">

      <div class="fx-item-half" *ngIf="isExternalCredit">

        <label>No. crédito SIC:</label>

        <input type="text" class="text-box"
          [(ngModel)]="selectedData.externalCreditNo"
          [class.invalid-control]="showError && errors?.externalCreditNoError"
          [disabled]="!canEditExternalData"
          (change)="onSelectedDataChanged()">

      </div>

      <div [ngClass]="isExternalCredit ? 'fx-item-half' : 'fx-item-one'">

        <label>Línea de crédito:</label>

        <input type="text" class="text-box"
          [(ngModel)]="selectedData.creditLine"
          [class.invalid-control]="showError && errors?.creditLineError"
          [disabled]="!canEditExternalData"
          (change)="onSelectedDataChanged()">

      </div>

    </div>

    <div class="fx-item-quarter" *ngIf="isExternalCredit">

      <label>Auxiliar:</label>

      <input type="text" class="text-box"
        [(ngModel)]="selectedData.subledgerAccountNo"
        [class.invalid-control]="showError && errors?.subledgerAccountNoError"
        [disabled]="!canEditExternalData"
        (change)="onSelectedDataChanged()">

    </div>

    <div class="fx-item-quarter" *ngIf="isExternalCredit">

      <label>Etapa de riesgo del crédito:</label>

      <emp-ng-select
        [(ngModel)]="selectedData.creditRiskStage"
        [items]="creditRiskStagesList"
        [config]="{clearable: true, bindByValue: false}"
        [placeholder]="formHelper.getSimplePlaceholder(editionMode && canEditExternalData)"
        [showError]="showError && errors?.creditRiskStageError"
        [disabled]="!canEditExternalData"
        (changes)="onSelectedDataChanged()">
      </emp-ng-select>

    </div>

    <div class="fx-item-quarter" *ngIf="!isExternalCredit">

      <label>Etapa del proceso crediticio:</label>

      <emp-ng-select
        [(ngModel)]="selectedData.creditProcessStage"
        [items]="creditProcessStagesList"
        [config]="{clearable: true, bindByValue: false}"
        [placeholder]="formHelper.getSimplePlaceholder(editionMode && canEditExternalData)"
        [showError]="showError && errors?.creditProcessStageError"
        [disabled]="!canEditExternalData"
        (changes)="onSelectedDataChanged()">
      </emp-ng-select>

    </div>

  </div>

  <div class="fx-row-container">

    <div class="fx-item-half">

      <label>Acreditado:</label>

      <input type="text" class="text-box"
        [(ngModel)]="selectedData.borrower"
        [class.invalid-control]="showError && errors?.borrowerError"
        [disabled]="!canEditExternalData"
        (change)="onSelectedDataChanged()">

    </div>

    <div class="fx-item-half">

      <label>Tipo de obra:</label>

      <emp-ng-select
        [(ngModel)]="selectedData.creditProjectType"
        [items]="creditProjectTypes"
        [config]="{clearable: true, bindByValue: false}"
        [placeholder]="formHelper.getSimplePlaceholder(editionMode && canEditExternalData)"
        [showError]="showError && errors?.creditProjectTypeError"
        [disabled]="!canEditExternalData"
        (changes)="onSelectedDataChanged()">
      </emp-ng-select>

    </div>

  </div>

 </div>
