<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div class="fx-item-size" style="--size: calc(100% - 126px)">

        <label>Área solicitante:</label>

        <emp-ng-select
          formControlName="requestedByUID"
          [config]="{virtualScroll: true, showTooltip: true}"
          [items]="organizationalUnitsList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.requestedByUID)">
        </emp-ng-select>

      </div>

      <div class="fx-item-none">

        <label>Fecha límite:</label>
        <emp-ng-datepicker
          formControlName="dueTime"
          [showError]="formHelper.isControlInvalid(form.controls.dueTime)">
        </emp-ng-datepicker>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-third">

        <label>Tipo de orden:</label>

        <emp-ng-select
          formControlName="paymentOrderTypeUID"
          [items]="paymentOrderTypesList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.paymentOrderTypeUID)">
        </emp-ng-select>

      </div>

      <div class="fx-item-two-third">

        <label>Pagar a:</label>

        <emp-ng-select-typeahead
          formControlName="payToUID"
          [searcherAPI]="suppliersAPI"
          [initialValue]="paymentOrder.payTo"
          [showError]="formHelper.isControlInvalid(form.controls.payToUID)">

        </emp-ng-select-typeahead>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-third">

        <label>Total:</label>

        <input type="text" empNgCurrency
          class="text-box text-align-right"
          formControlName="total"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.total)">

      </div>

      <div class="fx-item-third">

        <label>Moneda:</label>

        <emp-ng-select
          formControlName="currencyUID"
          [items]="currenciesList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.currencyUID)">
        </emp-ng-select>

      </div>


      <div class="fx-item-third">

        <label>Método de pago:</label>

        <emp-ng-select
          formControlName="paymentMethodUID"
          [items]="paymentMethodsList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.paymentMethodUID)">
        </emp-ng-select>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-one">
        <label>Notas:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          formControlName="notes"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.notes)">
        </textarea>
      </div>

    </div>

  </div>

  <mat-divider class="horizontal" *ngIf="!isSaved || hasActions">

  </mat-divider>

  <div #rowFooter class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitButtonClicked()">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div class="fx-item fx-items-center">

        <ng-container *ngIf="editionMode">

          <!-- <button *ngIf="actions.canDelete"
            type="button" class="btn-warning"
            (click)="onDeleteButtonClicked()">
            Eliminar
          </button> -->

        </ng-container>

        <ng-container *ngIf="!editionMode">

          <button *ngIf="actions.canSendToPay"
            type="button" class="btn"
            (click)="onSendToPayButtonClicked()">
            Pagar
          </button>

        </ng-container>

      </div>

      <div class="fx-item fx-end fx-items-center">

        <!-- <button *ngIf="!editionMode && (actions.canDelete || actions.canUpdate)"
          class="btn-action"
          (click)="enableEditor(true)">
          Editar
        </button>

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.canUpdate"
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>

        </ng-container> -->

      </div>

    </ng-container>

  </div>

</form>
