<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container sm-fx-column-container sm-fx-gap-half">

      <div class="fx-item-third sm-fx-item">

        <label>Área solicitante:</label>

        <emp-ng-select
          formControlName="requesterOrgUnitUID"
          [config]="{virtualScroll: true, clearable: true}"
          [items]="requesterOrgUnitsList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.requesterOrgUnitUID)"
          (changes)="onRequesterOrgUnitChanged($event)"
          placeholder="Todas">

          <ng-template #optionTemplate let-item="item">
            <div class="item" [title]="item.name">
              {{item.name}}
            </div>
          </ng-template>

        </emp-ng-select>

      </div>

      <div class="fx-item-third sm-fx-item">

        <label>Tipo de solicitud:</label>

        <emp-ng-select
          formControlName="requestTypeUID"
          [config]="{clearable: true,
                     notFoundText: !form.value.requesterOrgUnitUID ? 'Seleccionar el área' : 'No se encontraron registros'}"
          [items]="requestTypesList"
          [loading]="isLoadingRequesterOrgUnits"
          [showError]="formHelper.isControlInvalid(form.controls.requestTypeUID)"
          placeholder="Todas">
        </emp-ng-select>

      </div>

      <div class="fx-item sm-fx-item">

        <label>Estado:</label>

        <emp-ng-select
          formControlName="requestStatus"
          [config]="{clearable: true}"
          [items]="requestStatusList"
          [showError]="formHelper.isControlInvalid(form.controls.requestStatus)"
          placeholder="Todos">
        </emp-ng-select>

      </div>

      <div #filterOptionsSection class="fx-item-none fx-items-start" [style.paddingTop.px]="13">

        <button title="Buscar"
          [class.btn-icon-action]="this.form.valid"
          [class.btn-icon]="!this.form.valid"
          (click)="onSearchClicked()">

          <mat-icon>search</mat-icon>

        </button>

        <mat-divider vertical="true" class="vertical-slim">

        </mat-divider>

        <button class="btn-base"
          [style.width.px]="100"
          (click)="onShowFiltersClicked()" >
          {{showFilters ? 'Ocultar' :'Mostrar'}} <mat-icon>filter_list</mat-icon>
        </button>

      </div>

    </div>

    <div *ngIf="showFilters" [@expandCollapse]>

      <mat-divider class="horizontal-md">

      </mat-divider>

      <div class="fx-row-container sm-fx-column-container sm-fx-gap-half">

        <div class="fx-item-two-third">

          <label>Lo tiene:</label>

          <emp-ng-select
            formControlName="responsibleUID"
            [config]="{virtualScroll: true, clearable: true}"
            [items]="responsiblesList"
            [showError]="formHelper.isControlInvalid(form.controls.responsibleUID)"
            placeholder="Todas">
          </emp-ng-select>

        </div>

        <div class="fx-item-none">

          <label>Del día:</label>
          <emp-ng-datepicker
            formControlName="fromDate"
            [showError]="formHelper.isControlInvalid(form.controls.fromDate)">

          </emp-ng-datepicker>

        </div>

        <div class="fx-item-none">

          <label>Al día:</label>
          <emp-ng-datepicker
            formControlName="toDate"
            [showError]="formHelper.isControlInvalid(form.controls.toDate)">

          </emp-ng-datepicker>

        </div>

      </div>

      <ng-container #clearFilterSection>

        <mat-divider class="horizontal">

        </mat-divider>

        <div class="fx-row-container fx-end fx-items-end">

          <mat-divider vertical="true" class="vertical-inline">

          </mat-divider>

          <div class="fx-item-none">

            <button class="btn-base"
              [style.width.px]="100"
              (click)="onClearFilters()">
              Limpiar <mat-icon>filter_list</mat-icon>
            </button>

          </div>

        </div>

      </ng-container>

    </div>

  </div>

</form>
