
<div class="fx-column-container-fill">

  <emp-ng-list-controls *ngIf="dataList.length > 0 && selection.selected.length > 0"
    class="fx-item-none"
    [config]="{itemsPronouns: 'las', itemsName: 'solicitudes', selectionMessage: 'seleccionadas'}"
    [selection]="selection"
    [operationsList]="operationsList"
    (listControlsEvent)="onListControlsEvent($event)">

  </emp-ng-list-controls>

  <emp-pyc-requests-list-header class="fx-item-none"
    [dataList]="dataList"
    [selection]="selection">

  </emp-pyc-requests-list-header>

  <div #listContainer class="fx-item">

    <cdk-virtual-scroll-viewport itemSize="80">

        <div *cdkVirtualFor="let request of dataList"
          class="list-item"
          [class.list-item-selected]="isSelected(request)"
          [style.min-height.px]="80">

          <div class="list-item-container">

            <emp-pyc-requests-list-item
              [request]="request"
              [selected]="selection.isSelected(request)"
              (requestsListItemEvent)="onRequestsListItemEvent($event)">

            </emp-pyc-requests-list-item>

          </div>

        </div>

        <div *ngIf="dataList.length === 0" class="text-not-found">
          {{ queryExecuted ?
             'No se encontraron solicitudes con el filtro proporcionado.' :
             'No se ha invocado la búsqueda de solicitudes.' }}
        </div>

    </cdk-virtual-scroll-viewport>

  </div>

</div>
