<div class="fx-row-container fx-gap-size entry-gap-size sm-fx-gap">

  <div class="fx-item-size check-column-size sm-fx-item-none">
    <mat-checkbox
      [checked]="selected"
      (click)="$event.stopPropagation()"
      (change)="onCheckRequestClicked()">
    </mat-checkbox>
  </div>

  <div class="fx-item-size first-column-size sm-fx-item-none">
    <div class="list-item-text-highlight nowrap"
      (click)="onRequestClicked()">
      <strong><a>{{request.uniqueID}}</a></strong>
    </div>
    <div><strong>{{request.requestTypeName}}</strong></div>
    <div>{{request.requesterName}}</div>
  </div>

  <div class="fx-item-size second-column-size sm-fx-item-none">
    <div class="list-item-text-highlight">{{request?.controlID}}</div>
    <div><strong>{{request?.requesterOrgUnitName}}</strong></div>
    <div>{{request.responsibleOrgUnitName}}</div>
  </div>

  <div class="fx-item">
    <div class="list-item-text-highlight">{{request.description}}</div>
    <div><strong>{{ !request?.filingTime ? 'N/D' : (request?.filingTime | dateTimeFormat) }}</strong></div>
    <div>{{request.filedByName}}</div>
  </div>

  <div class="fx-item-size status-column-size sm-fx-item-none">
    <span class="tag" [ngClass]="{'tag-error': request.status === 'Eliminada'}">
      {{request.status}}
    </span>
  </div>

</div>
