<div class="fx-row-container fx-gap-size entry-gap-size sm-fx-gap">

  <div class="fx-item-size check-column-size sm-fx-item-none">
    <mat-checkbox empNgStopPropagation
      [checked]="selected"
      (change)="onCheckRequestClicked()">
    </mat-checkbox>
  </div>

  <div class="fx-item-size first-column-size sm-fx-item-none">
    <div class="list-item-text-highlight nowrap"
      (click)="onRequestClicked()">
      <strong><a>{{request.requestNo}}</a></strong>
    </div>
    <div><strong>{{request.name}}</strong></div>
    <div>{{request.requestedBy}}</div>
  </div>

  <div class="fx-item-size second-column-size sm-fx-item-none">
    <div class="list-item-text-highlight">{{request?.internalControlNo}}</div>
    <div><strong>{{request?.requestedByOrgUnit}}</strong></div>
    <div>{{request.responsibleOrgUnit}}</div>
  </div>

  <div class="fx-item">
    <div class="list-item-text-highlight">{{request.description}}</div>
    <div><strong>{{ !request?.startTime ? 'N/D' : (request?.startTime | empDateTimeFormat) }}</strong></div>
    <div>{{request.startedBy}}</div>
  </div>

  <div class="fx-item-size status-column-size sm-fx-item-none">
    <span class="tag" [ngClass]="{'tag-error': request.status === 'Eliminada'}">
      {{request.status}}
    </span>
  </div>

</div>
