.header-padding {
  padding: 6px 24px 6px 8px;
}

.entry-gap-size {
  --gap-size: 32px
}

.check-column-size {
  --size: 20px;
}

.first-column-size {
  --size: 20%;
}

.second-column-size {
  --size: 25%;
}

.status-column-size {
  --size: 80px;
}
