<emp-ng-card
  [title]="title"
  [hint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Orden de pago">

      <emp-pmt-payment-order-editor
        [paymentOrder]="data.paymentOrder"
        [actions]="data.actions"
        (paymentOrderEditorEvent)="onPaymentOrderEditorEvent($event)">

      </emp-pmt-payment-order-editor>

    </mat-tab>

    <mat-tab label="Bitácora">

      <emp-pmt-instruction-log-table
        [log]="data.log">

      </emp-pmt-instruction-log-table>

    </mat-tab>

    <mat-tab label="Documentos">

      <emp-ng-documents-edition
        entityType="payments-orders"
        [entityUID]="data.paymentOrder.uid"
        [documents]="data.documents"
        [canEdit]="data.actions.canEditDocuments"
        (documentsEditionEvent)="onDocumentsEditionEvent($event)">

      </emp-ng-documents-edition>

    </mat-tab>

    <mat-tab label="Historial">

      <emp-ng-history-table
        [history]="data.history">

      </emp-ng-history-table>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
