<emp-ng-modal-window [config]="{width:'900px'}">

  <emp-ng-card
    [title]="title"
    hint='Información del movimiento'
    (cardClose)="onCloseButtonClicked()">

    <div class="card-body-padding">

      <form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

        <div class="fx-column-container fx-gap-half">

          <div class="fx-row-container">

            <div class="fx-item-half">
              <label>Movimiento:</label>
              <emp-ng-select
                formControlName="balanceColumnUID"
                [items]="balanceColumnsList"
                [showError]="formHelper.isControlInvalid(form.controls.balanceColumnUID)">
              </emp-ng-select>
            </div>

            <div class="fx-item-half">
              <label>Proyecto:</label>
              <emp-ng-select-typeahead
                formControlName="projectUID"
                [config]="{clearable: true}"
                [searcherAPI]="projectsAPI"
                [initialValue]="isSaved && !isFormDataReady ? entry.project : null"
                [showError]="formHelper.isControlInvalid(form.controls.projectUID)">

              </emp-ng-select-typeahead>
            </div>

          </div>

          <div class="fx-row-container">

            <div class="fx-item-one">
              <label>Partida presupuestal:</label>
              <emp-ng-select-typeahead
                formControlName="budgetAccountUID"
                [config]="{searchByQuery: true, clearable: true, minTermLength: 2}"
                [initQuery]="{transactionUID: transaction.uid, keywords: ''}"
                [searcherAPI]="accountsAPI"
                [initialValue]="isSaved && !isFormDataReady ? entry.budgetAccount : null"
                [showError]="formHelper.isControlInvalid(form.controls.budgetAccountUID)">

              </emp-ng-select-typeahead>
            </div>

          </div>

          <div class="fx-row-container">

            <div class="fx-item-quarter">
              <label>Año:</label>
              <emp-ng-select
                formControlName="year"
                [config]="{bindByValue: false}"
                [bindLabel]="null"
                [items]="transaction?.transactionType?.entriesRules?.years ?? []"
                [showError]="formHelper.isControlInvalid(form.controls.year)">
              </emp-ng-select>
            </div>

            <div class="fx-item-quarter">
              <label>Mes:</label>
              <emp-ng-select
                formControlName="month"
                [items]="monthsList"
                [showError]="formHelper.isControlInvalid(form.controls.month)">
              </emp-ng-select>
            </div>

            <div class="fx-item-quarter">
              <label>Importe:</label>
              <emp-ng-input-numeric
                formControlName="amount"
                [showError]="formHelper.isControlInvalid(form.controls.amount)">
              </emp-ng-input-numeric>
            </div>

            <div class="fx-item-quarter" *ngIf="displayCheckProductRequired"
              [style.margin-top.px]="12">

              <mat-checkbox empNgStopPropagation
                [(ngModel)]="checkProductRequired"
                [ngModelOptions]="{standalone: true}"
                [disabled]="!canUpdate">
                Requiere datos de producto
              </mat-checkbox>

            </div>

          </div>

          <div *ngIf="checkProductRequired" [@empExpandCollapse]>

            <div class="fx-column-container fx-gap-half">

              <div class="section-title"> Información del producto</div>

              <div class="fx-row-container">

                <div class="fx-item-half">
                  <label>Producto:</label>
                  <emp-ng-select-typeahead
                    formControlName="productUID"
                    [config]="{showTooltip: true, clearable: true}"
                    [searcherAPI]="productsAPI"
                    [initialValue]="!!isFormDataReady ? selectedProduct : null"
                    [showError]="formHelper.isControlInvalid(form.controls.productUID)"
                    (changes)="onProductChanges($event)">
                  </emp-ng-select-typeahead>
                </div>

                <div class="fx-item-quarter">
                  <label>Unidad:</label>
                  <emp-ng-select
                    formControlName="productUnitUID"
                    [config]="{notFoundText: form.controls.productUID.invalid ?
                              'No se encontraron registros' : 'El producto no tiene unidades'}"
                    [items]="productUnitsList"
                    [placeholder]="productUnitPlaceholder"
                    [showError]="formHelper.isControlInvalid(form.controls.productUnitUID)">
                  </emp-ng-select>
                </div>

                <div class="fx-item-quarter">
                  <label>Cantidad:</label>
                  <emp-ng-input-numeric
                    formControlName="productQty"
                    [minDecimals]="0"
                    [maxDecimals]="2"
                    [showError]="formHelper.isControlInvalid(form.controls.productQty)">
                  </emp-ng-input-numeric>
                </div>

              </div>

              <div class="fx-row-container">

                <div class="fx-item-one">
                  <label>Descripción:</label>
                  <textarea class="text-area" empNgTextareaAutoresize rows="1"
                    formControlName="description"
                    [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">
                  </textarea>
                </div>

              </div>

              <mat-divider class="horizontal-md">

              </mat-divider>

            </div>

          </div>

          <div class="fx-row-container">

            <div class="fx-item-one">
              <label>Justificación:</label>
              <textarea class="text-area" empNgTextareaAutoresize rows="1"
                formControlName="justification"
                [class.invalid-control]="formHelper.isControlInvalid(form.controls.justification)">
              </textarea>
            </div>

          </div>

          <ng-container *ngIf="!isSaved || (isSaved && canUpdate)">

            <mat-divider class="horizontal">

            </mat-divider>

            <div #rowFooter class="fx-row-container">

              <div class="fx-item fx-end fx-items-center">

                  <button
                    [class.btn]="!formHelper.isFormReady(form)"
                    [class.btn-action]="formHelper.isFormReady(form)"
                    (click)="onSubmitButtonClicked()">
                    {{!isSaved ? 'Agregar' : 'Guardar'}}
                  </button>

                </div>

            </div>

          </ng-container>

        </div>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
