<emp-ng-modal-window [config]="{width: isMonthlyType ? '1024px' : '95%'}">

  <emp-ng-card
    [title]="title"
    hint='Información del movimiento'
    (cardClose)="onCloseButtonClicked()">

    <div class="card-body-padding">

      <form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

      <div class="fx-row-container sm-fx-column-container" [style.marginBottom.rem]="0.75">

          <div class="fx-item-one">
            <label>Modalidad:</label>
            <mat-radio-group [disabled]="isSaved"
              [(ngModel)]="selectedEntryType" [ngModelOptions]="{standalone: true}"
              (change)="onEntryTypeChanges()">

              <mat-radio-button [value]="EntryType.Monthly">Mensual</mat-radio-button>
              <mat-radio-button [value]="EntryType.Annually">Anual</mat-radio-button>

            </mat-radio-group>
          </div>

        </div>

        <div class="section-title"> Información general del movimiento </div>

        <div class="fx-column-container fx-gap-half">

          <div class="fx-row-container">

            <div class="fx-item-half">
              <label>Movimiento:</label>
              <emp-ng-select
                formControlName="balanceColumnUID"
                [items]="balanceColumnsList"
                [showError]="formHelper.isControlInvalid(form.controls.balanceColumnUID)">
              </emp-ng-select>
            </div>

            <div class="fx-item-half">
              <label>Proyecto:</label>
              <emp-ng-select-typeahead
                formControlName="projectUID"
                [config]="{clearable: true}"
                [searcherAPI]="projectsAPI"
                [initialValue]="isSaved && !isFormDataReady ? entry.project : null"
                [showError]="formHelper.isControlInvalid(form.controls.projectUID)">

              </emp-ng-select-typeahead>
            </div>

          </div>

          <div class="fx-row-container">

            <div [ngClass]="isMonthlyType ? 'fx-item-one' : 'fx-item-half'">
              <label>Partida presupuestal:</label>
              <emp-ng-select-typeahead
                formControlName="budgetAccountUID"
                [config]="{searchByQuery: true, clearable: true, minTermLength: 2, showTooltip: true}"
                [initQuery]="{transactionUID: transaction.uid, keywords: ''}"
                [searcherAPI]="accountsAPI"
                [initialValue]="isSaved && !isFormDataReady ? entry.budgetAccount : null"
                [showError]="formHelper.isControlInvalid(form.controls.budgetAccountUID)">

              </emp-ng-select-typeahead>
            </div>

            <ng-container *ngIf="!isMonthlyType">

              <div class="fx-item-quarter">
                <label>Año:</label>
                <emp-ng-select
                  formControlName="year"
                  [config]="{bindByValue: false}"
                  [bindLabel]="null"
                  [items]="transaction?.transactionType?.entriesRules?.years ?? []"
                  [showError]="formHelper.isControlInvalid(form.controls.year)">
                </emp-ng-select>
              </div>

              <div class="fx-item-quarter" *ngIf="displayCheckProductRequired"
                [style.margin-top.px]="12">

                <mat-checkbox
                  [(ngModel)]="checkProductRequired"
                  [ngModelOptions]="{standalone: true}"
                  [disabled]="!canUpdate"
                  (change)="onCheckProductRequiredChanges()">
                  Requiere datos de producto
                </mat-checkbox>

              </div>

            </ng-container>

          </div>

          <div class="fx-row-container" *ngIf="isMonthlyType">

            <div class="fx-item-quarter">
              <label>Año:</label>
              <emp-ng-select
                formControlName="year"
                [config]="{bindByValue: false}"
                [bindLabel]="null"
                [items]="transaction?.transactionType?.entriesRules?.years ?? []"
                [showError]="formHelper.isControlInvalid(form.controls.year)">
              </emp-ng-select>
            </div>

            <div class="fx-item-quarter">
              <label>Mes:</label>
              <emp-ng-select
                formControlName="month"
                [items]="monthsList"
                [showError]="formHelper.isControlInvalid(form.controls.month)">
              </emp-ng-select>
            </div>

            <div class="fx-item-quarter">
              <label>Importe:</label>
              <emp-ng-input-numeric
                formControlName="amount"
                [showError]="formHelper.isControlInvalid(form.controls.amount)">
              </emp-ng-input-numeric>
            </div>

            <div class="fx-item-quarter" *ngIf="displayCheckProductRequired"
              [style.margin-top.px]="12">

              <mat-checkbox
                [(ngModel)]="checkProductRequired"
                [ngModelOptions]="{standalone: true}"
                [disabled]="!canUpdate"
                (change)="onCheckProductRequiredChanges()">
                Requiere datos de producto
              </mat-checkbox>

            </div>

          </div>

          <div *ngIf="checkProductRequired" [@empExpandCollapse]>

            <div class="fx-column-container fx-gap-half">

              <div class="section-title"> Información del producto</div>

              <div class="fx-row-container">

                <div class="fx-item-half">
                  <label>Producto:</label>
                  <emp-ng-select-typeahead
                    formControlName="productUID"
                    [config]="{showTooltip: true, clearable: true}"
                    [searcherAPI]="productsAPI"
                    [initialValue]="!!isFormDataReady ? selectedProduct : null"
                    [showError]="formHelper.isControlInvalid(form.controls.productUID)"
                    (changes)="onProductChanges($event)">
                  </emp-ng-select-typeahead>
                </div>

                <div class="fx-item-quarter">
                  <label>Unidad:</label>
                  <emp-ng-select
                    formControlName="productUnitUID"
                    [config]="{notFoundText: form.controls.productUID.invalid ?
                              'No se encontraron registros' : 'El producto no tiene unidades'}"
                    [items]="productUnitsList"
                    [placeholder]="productUnitPlaceholder"
                    [showError]="formHelper.isControlInvalid(form.controls.productUnitUID)">
                  </emp-ng-select>
                </div>

                <div class="fx-item-quarter" *ngIf="isMonthlyType">
                  <label>Cantidad:</label>
                  <emp-ng-input-numeric
                    formControlName="productQty"
                    [minDecimals]="0"
                    [maxDecimals]="2"
                    [showError]="formHelper.isControlInvalid(form.controls.productQty)">
                  </emp-ng-input-numeric>
                </div>

              </div>

              <div class="fx-row-container">

                <div class="fx-item-one">
                  <label>Descripción:</label>
                  <textarea class="text-area" empNgTextareaAutoresize rows="1"
                    formControlName="description"
                    [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">
                  </textarea>
                </div>

              </div>

              <mat-divider class="horizontal-md">

              </mat-divider>

            </div>

          </div>

          <div class="fx-row-container" *ngIf="isMonthlyType">

            <div class="fx-item-one">
              <label>Justificación:</label>
              <textarea class="text-area" empNgTextareaAutoresize rows="1"
                formControlName="justification"
                [class.invalid-control]="formHelper.isControlInvalid(form.controls.justification)">
              </textarea>
            </div>

          </div>


          <ng-container *ngIf="!isMonthlyType">

            <div class="section-title"> Información de importes por mes </div>

            <div class="fx-row-container">

              <table mat-table [dataSource]="dataSource">

                <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">

                  <th mat-header-cell *matHeaderCellDef>
                    {{i === 0 ? '' : monthsFields[i - 1]?.label ?? ''}}
                  </th>

                  <td mat-cell *matCellDef="let row;"
                    [class.padding-input]="i > 0"
                    [style.width]="i > 0 ? 'calc((100% - 75px) / ' + (displayedColumns.length - 1) + ')' : 'auto'">

                    <ng-container *ngIf="i === 0 && row === 'amount'">
                      <span [ngClass]="{'warning-text': isFormInvalidated && !isMonthsFieldsValid}">Importe</span>
                    </ng-container>

                    <ng-container *ngIf="i === 0 && row === 'productQty'">Cantidad</ng-container>

                    <ng-container *ngIf="i > 0 && row === 'amount'">

                      <emp-ng-input-numeric
                        [(ngModel)]="monthsFields[i - 1].amount"
                        [ngModelOptions]="{standalone: true}"
                        [noMargin]="true">

                      </emp-ng-input-numeric>

                    </ng-container>

                    <ng-container *ngIf="i > 0 && row === 'productQty'">

                      <emp-ng-input-numeric
                        [(ngModel)]="monthsFields[i - 1].productQty"
                        [ngModelOptions]="{standalone: true}"
                        [noMargin]="true">

                      </emp-ng-input-numeric>

                    </ng-container>

                  </td>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

              </table>

            </div>

          </ng-container>


          <ng-container *ngIf="!isSaved || (isSaved && canUpdate)">

            <mat-divider class="horizontal">

            </mat-divider>

            <div #rowFooter class="fx-row-container">

              <div class="fx-item fx-end fx-items-center">

                  <button
                    [class.btn]="!formHelper.isFormReady(form) || !isMonthsFieldsValid"
                    [class.btn-action]="formHelper.isFormReady(form) && isMonthsFieldsValid"
                    (click)="onSubmitButtonClicked()">
                    {{!isSaved ? 'Agregar' : 'Guardar'}}
                  </button>

                </div>

            </div>

          </ng-container>

        </div>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
