<div class="fx-row-container fx-gap-size entry-gap-size  sm-fx-gap">

  <div class="fx-item-size column-size-check" *ngIf="displayControls">
    <mat-checkbox empNgStopPropagation
      [checked]="selected"
      (change)="onCheckClicked()">
    </mat-checkbox>
  </div>

  <ng-container [ngSwitch]="queryType">

    <ng-container *ngSwitchCase="CashLedgerQueryType.transactions">

      <div class="fx-item column-size-sm">
        <div class="list-item-text-highlight nowrap"
          (click)="onSelectClicked()">
          <a class="bold-text">{{transaction.number}}</a>
        </div>
        <div class="bold-text">{{transaction.ledgerName}}</div>
        <div>{{transaction.sourceName ?? 'N/D'}}</div>
      </div>

      <div class="fx-item-size column-size-sm">
        <div class="list-item-text-highlight">{{transaction.transactionTypeName ?? 'N/D'}}</div>
        <div class="bold-text">{{!transaction.recordingDate ? '-' : (transaction.recordingDate | empDateTimeFormat)}}</div>
        <div>{{transaction.elaboratedBy}}</div>
      </div>

      <div class="fx-item-size column-size-sm">
        <div class="list-item-text-highlight">{{transaction.voucherTypeName ?? 'N/D'}}</div>
        <div class="bold-text">
          {{!transaction.accountingDate ? '-' : (transaction.accountingDate | empDateTimeFormat)}}
        </div>
        <div>{{!transaction.statusName ? '-' : transaction.statusName}}</div>
      </div>

      <div class="fx-item">
        <div empNgTextTruncateToggle [text]="transaction.concept">
          {{!transaction.concept ? '-' : transaction.concept}}
        </div>
      </div>

    </ng-container>



    <ng-container *ngSwitchCase="CashLedgerQueryType.entries">

      <div class="fx-item-size column-size-sm">
        <div class="list-item-text-highlight nowrap"
          (click)="onSelectClicked()">
          <a class="bold-text">{{entry.transactionNumber}}</a>
        </div>
        <div class="bold-text">{{entry.transactionLedgerName}}</div>
        <div>
          {{!entry.transactionAccountingDate ? 'N/D' : (entry.transactionAccountingDate | empDateTimeFormat)}} -
          {{!entry.transactionRecordingDate ? 'N/D' : (entry.transactionRecordingDate | empDateTimeFormat)}}
        </div>
      </div>

      <div class="fx-item column-size-sm">
        <div empNgTextTruncateToggle [text]="entry.transactionConcept">
          {{!entry.transactionConcept ? '-' : entry.transactionConcept}}
        </div>
      </div>

      <div class="fx-item-size column-size-sm" [title]="entry.parentAccountFullName">
        <div class="list-item-text-highlight">{{entry.accountNumber}}</div>
        <div class="bold-text">{{entry.accountName}}</div>
        <div>{{entry.sectorCode}}</div>
      </div>

      <div class="fx-item-size column-size-sm">
        <div class="list-item-text-highlight">{{!entry.subledgerAccountNumber ? 'No aplica' : entry.subledgerAccountNumber}}</div>
        <div class="bold-text">{{!entry.subledgerAccountName ? 'No aplica' : entry.subledgerAccountName}}</div>
        <div>{{entry.verificationNumber}}</div>
      </div>

      <div class="fx-item-size column-size-sm">
        <div class="list-item-text-highlight">
          {{ (entry.debit > 0 ? entry.debit : entry.credit) | number : '1.2-2' }}
          {{entry.currencyName}}
        </div>
        <div class="bold-text">T.C.: {{ entry.exchangeRate !== 0 ? (entry.exchangeRate | number : '1.6-6') : '-'}}</div>
        <div>{{entry.cashAccountName}}</div>
      </div>

    </ng-container>

  </ng-container>


</div>
