<div class="fx-column-container-fill" *ngIf="requestData.steps.length > 0"
  [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="submitted">

  </emp-ng-spinner>

  <emp-pyc-request-steps-list-controls
    [groupBy]="groupBy"
    [canInsertStep]="requestData.request.actions.canInsertWorkItems"
    (requestStepsListControlsEvent)="onRequestStepsListControlsEvent($event)">

  </emp-pyc-request-steps-list-controls>

  <emp-pyc-request-steps-list class="fx-item"
    [steps]="requestData.steps"
    [groupBy]="groupBy"
    (requestStepsListEvent)="onRequestStepsListEvent($event)">

  </emp-pyc-request-steps-list>

</div>

<emp-pyc-request-step-editor *ngIf="displayStepEditor"
  [requestsList]="requestsList"
  [requestUID]="requestData.request.uid"
  [workflowInstancesList]="requestData.workflowInstances"
  [step]="selectedStep"
  [stepsList]="requestData.steps"
  (requestStepEditorEvent)="onRequestStepEditorEvent($event)">

</emp-pyc-request-step-editor>

<div class="instruction-text" *ngIf="requestData.steps.length === 0">
  No se ha iniciado el proceso de esta solicitud.
</div>
