<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <emp-inv-assets-explorer
    class="primary"
    [class.std-hide]="displayTabbedView"
    [query]="query"
    [dataList]="dataList"
    [selectedUID]="selectedData.asset.uid"
    [fileUrl]="fileUrl"
    [isLoading]="isLoading"
    [queryExecuted]="queryExecuted"
    (assetsExplorerEvent)="onAssetsExplorerEvent($event)">

  </emp-inv-assets-explorer>

  <emp-inv-asset-tabbed-view  *ngIf="displayTabbedView"
    class="secondary priority std-stacked"
    [data]="selectedData"
    (assetTabbedViewEvent)="ondAssetTabbedViewEvent($event)">

  </emp-inv-asset-tabbed-view>

</div>
