<div class="list-header list-header-padding">

  <div class="list-header-container">

    <div class="fx-row-container fx-gap-size entry-gap-size">

      <div class="fx-item-size" [ngStyle]="{'--size': widthByMaxLevel + 'px'}"> Cuenta </div>

      <div class="fx-item list-header-column-border-shadow"> Descripción </div>

      <div class="fx-item-size column-size-sm"> Rol </div>

      <div class="fx-item-size column-size-md"> Tipo </div>

      <div class="fx-item-size column-size-sm"> Naturaleza </div>

      <div class="fx-item-size column-size-sm"> Alta / Baja </div>

      <div class="fx-item-size column-size-sm"> Estado </div>

    </div>

  </div>

</div>
