<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <emp-pyc-assignments-explorer
    class="primary"
    [class.std-hide]="displayTabbedView"
    [query]="query"
    [dataList]="dataList"
    [selectedUID]="selectedData.assignment.uid"
    [fileUrl]="fileUrl"
    [isLoading]="isLoading"
    [queryExecuted]="queryExecuted"
    (assetsAssignmentsExplorerEvent)="onAssetsAssignmentsExplorerEvent($event)">

  </emp-pyc-assignments-explorer>

  <emp-pyc-assignment-tabbed-view  *ngIf="displayTabbedView"
    class="secondary priority std-stacked"
    [data]="selectedData"
    (assetsAssignmentTabbedViewEvent)="onAssetsAssignmentTabbedViewEvent($event)">

  </emp-pyc-assignment-tabbed-view>

</div>
