<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <emp-inv-assignments-explorer
    class="primary priority"
    [class.std-hide]="displayTabbedView"
    [query]="query"
    [dataList]="dataList"
    [selectedUID]="selectedData.assignment.uid"
    [fileUrl]="fileUrl"
    [isLoading]="isLoading"
    [queryExecuted]="queryExecuted"
    (assignmentsExplorerEvent)="onAssignmentsExplorerEvent($event)">

  </emp-inv-assignments-explorer>

  <emp-inv-assignment-tabbed-view  *ngIf="displayTabbedView"
    class="secondary std-stacked"
    [data]="selectedData"
    (assignmentTabbedViewEvent)="onAssignmentTabbedViewEvent($event)">

  </emp-inv-assignment-tabbed-view>

</div>


<emp-inv-assignments-operation-data *ngIf="displayOperationDataModal"
  [data]="selectedOperationData"
  (assignmentsOperationDataEvent)="onAssignmentsOperationDataEvent($event)">

</emp-inv-assignments-operation-data>
