<div class="fx-column-container-fill" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="submitted || isLoading">

  </emp-ng-spinner>

  <emp-bdg-budget-submitter class="fx-item-none"
    [baseObjectType]="baseObjectType"
    [baseObjectUID]="baseObjectUID"
    [baseObjectName]="baseObjectName"
    [budgetTotal]="budgetTotal"
    [canAprove]="canAprove"
    [canCommit]="canCommit"
    [canExercise]="canExercise"
    [canRequest]="canRequest"
    [canValidate]="canValidate"
    (budgetSubmitterEvent)=" onBudgetSubmitterEvent($event)">

  </emp-bdg-budget-submitter>

  <emp-bdg-transactions-list  class="fx-item"
    [dataList]="budgetTransactions"
    [queryExecuted]="true"
    [displayControls]="false"
    [displayFile]="true"
    (transactionsListEvent)="onTransactionsListEvent($event)">

  </emp-bdg-transactions-list>

</div>


<emp-ng-file-preview #filePreview
  heading="Visor de cédula"
  hint="Información de la transacción presupuestal">

</emp-ng-file-preview>
