<div *ngIf="canCommit || canExercise || canValidate || canRequest"
  class="fx-row-container fx-gap-half fx-end"
  [style.margin-bottom.px]="8">

  <div class="fx-item-none" *ngIf="canCommit">

    <button type="button"
      class="btn-action"
      (click)="onEventButtonClicked(eventType.COMMIT)">
      Solicitar compromiso
    </button>

  </div>

  <div class="fx-item-none" *ngIf="canExercise">

    <button type="button"
      class="btn-action"
      (click)="onEventButtonClicked(eventType.EXERCISE)">
      Ejercer presupuesto
    </button>

  </div>

  <div class="fx-item-none" *ngIf="canValidate">

    <button type="button"
      class="btn"
      (click)="onEventButtonClicked(eventType.VALIDATE)">
      Validar suficiencia
    </button>

  </div>

  <div class="fx-item-none" *ngIf="canRequest">

    <button type="button"
      class="btn-action"
      (click)="onEventButtonClicked(eventType.REQUEST)">
      Solicitar suficiencia
    </button>

  </div>

</div>

<!-- || canRequestModification -->

  <!-- <mat-divider vertical="true" *ngIf="(canCommit || canExercise || canRequest || canValidate ) && canRequestModification">

  </mat-divider>

  <div class="fx-item-none" *ngIf="canRequestModification">

    <button type="button"
      class="btn-action"
      (click)="onEventButtonClicked(eventType.REQUEST_MODIFICATION)">
      Solicitar modificación
    </button>

  </div> -->
