<emp-ng-modal-window [config]="{width:'960px'}">

  <emp-ng-card
    [heading]="'Agregar ' + config.nameSingular"
    [hint]="'Información de ' + config.pronounSingular + ' '  + config.nameSingular + '.'"
    (cardClose)="onCloseModalClicked()">

      <div class="card-body-padding" [empNgSpinnerHost]="spinner">

        <emp-ng-spinner #spinner [visible]="submitted">

        </emp-ng-spinner>

        <emp-ng-order-header
          [config]="config"
          (orderHeaderEvent)="onOrderHeaderEvent($event)">

        </emp-ng-order-header>

      </div>

  </emp-ng-card>

</emp-ng-modal-window>
