<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container fx-wrap fx-wrap-gap-half">

      <div class="fx-item-half" *ngIf="isRequisition || isContract || isExpense">

        <label>{{isContract ? 'Tipo de contrato:' : 'Categoría:'}}</label>

        <emp-ng-select
          formControlName="categoryUID"
          [items]="categoriesList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.categoryUID)">

        </emp-ng-select>

      </div>

      <div class="fx-item-half" *ngIf="isExpense">

        <label>Tipo de gasto:</label>

        <emp-ng-select
          formControlName="expenseTypeUID"
          [items]="expenseTypesList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.expenseTypeUID)">

        </emp-ng-select>

      </div>

      <ng-container *ngIf="isContract">

        <div class="fx-item-quarter">

          <label>Proyecto:</label>

          <emp-ng-select-typeahead
            formControlName="projectUID"
            [config]="{ showTooltip: true }"
            [searcherAPI]="projectsAPI"
            [initialValue]="isSaved ? order.project : null"
            [showError]="formHelper.isControlInvalid(form.controls.projectUID)">

          </emp-ng-select-typeahead>

        </div>

        <div class="fx-item-quarter"
          [style.margin-top.px]="12">

          <mat-checkbox empNgStopPropagation
            formControlName="isForMultipleBeneficiaries">
            Sobre múltiples áreas
          </mat-checkbox>

        </div>

        <div class="fx-item-half">
          <label>No. de contrato:</label>
          <input type="text" class="text-box"
            formControlName="contractNo"
            [class.invalid-control]="formHelper.isControlInvalid(form.controls.contractNo)">
        </div>

      </ng-container>

      <div class="fx-item-none" *ngIf="isContract || isRequisition">
        <label>{{isRequisition ? 'Vigencia estimada:': 'Vigencia:'}}</label>
        <emp-ng-date-range-picker
          formControlName="datePeriod"
          bindLabelStartDate="Fecha inicio"
          bindlabelEndDate="Fecha fin"
          [showError]="formHelper.isControlInvalid(form.controls.datePeriod)">

        </emp-ng-date-range-picker>
      </div>

      <div class="fx-item-none" *ngIf="isContract">
        <label>Fecha de firma:</label>
        <emp-ng-datepicker
          formControlName="signDate"
          [showError]="formHelper.isControlInvalid(form.controls.signDate)">

        </emp-ng-datepicker>
      </div>

      <div class="fx-item" *ngIf="isRequisition">
        <label class="nowrap">Duración estimada en meses:</label>
        <emp-ng-input-numeric
          formControlName="estimatedMonths"
          [minDecimals]="0"
          [maxDecimals]="0"
          [showError]="formHelper.isControlInvalid(form.controls.estimatedMonths)">

        </emp-ng-input-numeric>
      </div>

      <div class="fx-item-one">
        <label>Nombre:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          formControlName="name"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.name)">

        </textarea>
      </div>

    </div>

    <mat-divider class="horizontal-md">

    </mat-divider>

    <div class="fx-row-container fx-wrap fx-wrap-gap-half">

      <div class="fx-item-half">

        <label>Área solicitante:</label>

        <emp-ng-select
          formControlName="requestedByUID"
          [config]="{virtualScroll: true, showTooltip: true}"
          [items]="orgUnitsList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.requestedByUID)"
          (changes)="onRequestedByChanges($event)">

        </emp-ng-select>

      </div>

      <div class="fx-item-half" *ngIf="isOrdersAvailableRequired">

        <label>{{isContractOrder ? 'Contrato:' : 'Requisición:'}}</label>

        <emp-ng-select
          formControlName="linkedOrderUID"
          bindTooltip="description"
          bindLabel="description"
          [config]="{ showTooltip: true, virtualScroll: true }"
          [items]="ordersAvailableList"
          [loading]="isLoadingOrdersAvailable"
          [showError]="formHelper.isControlInvalid(form.controls.linkedOrderUID)"
          [placeholder]="formHelper.getConditionalPlaceholder(!isSaved || editionMode,
            form.controls.requestedByUID.valid, 'área solicitante')"
          (changes)="onOrderAvailableChanges($event)">

          <ng-template #labelTemplate let-item="item">
            {{item.orderNo}}: {{item?.name}}
          </ng-template>

          <ng-template #optionTemplate let-item="item">
            <div class="item wrap">
              <span class="item-highlight">
                {{item.orderNo}}
              </span> <br>
              <span class="item-text-xs primary-text">
                {{item?.name}}
              </span>
            </div>
          </ng-template>

        </emp-ng-select>

      </div>

      <div class="fx-item-half" *ngIf="isRequisition || isContract">

        <label>Área beneficiaria:</label>

        <emp-ng-select
          formControlName="beneficiaryUID"
          [config]="{virtualScroll: true, showTooltip: true}"
          [items]="orgUnitsList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.beneficiaryUID)">

        </emp-ng-select>

      </div>

      <div class="fx-item-half" *ngIf="isRequisition || isContract">

        <label>Área administradora:</label>

        <emp-ng-select
          formControlName="responsibleUID"
          [config]="{virtualScroll: true, showTooltip: true}"
          [items]="orgUnitsList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.responsibleUID)">

        </emp-ng-select>

      </div>

      <div class="fx-item-half" *ngIf="isContract || isPurchase">

        <label>Proveedor:</label>

        <emp-ng-select-typeahead
          formControlName="providerUID"
          [config]="{ showTooltip: true }"
          [searcherAPI]="providersAPI"
          [initialValue]="isSaved ? order.provider : null"
          [showError]="formHelper.isControlInvalid(form.controls.providerUID)">

        </emp-ng-select-typeahead>

      </div>

      <ng-container *ngIf="isRequisition">

        <div class="fx-item-quarter">

          <label>Proyecto:</label>

          <emp-ng-select-typeahead
            formControlName="projectUID"
            [config]="{ showTooltip: true }"
            [searcherAPI]="projectsAPI"
            [initialValue]="isSaved ? order.project : null"
            [showError]="formHelper.isControlInvalid(form.controls.projectUID)">

          </emp-ng-select-typeahead>

        </div>

        <div class="fx-item-quarter"
          [style.margin-top.px]="12">

          <mat-checkbox empNgStopPropagation
            formControlName="isForMultipleBeneficiaries">
            Sobre múltiples áreas
          </mat-checkbox>

        </div>

      </ng-container>

      <div class="fx-item-half" *ngIf="isRequisition">

        <label>Tipo de presupuesto:</label>

        <emp-ng-select
          formControlName="budgetTypeUID"
          [items]="budgetTypesList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.budgetTypeUID)"
          (changes)="onBudgetTypeChanged($event)">

        </emp-ng-select>

      </div>

      <div [ngClass]="isRequisition || isContractOrder || isExpense ? 'fx-item-half' : 'fx-item-quarter'">

        <label>{{isRequisition || isContract ? 'Presupuestos:' : 'Presupuesto:'}}</label>

        <emp-ng-select *ngIf="!(isRequisition || isContract)"
          formControlName="budgetUID"
          [items]="budgetsList"
          [loading]="isLoading"
          [placeholder]="budgetPlaceholder"
          [showError]="formHelper.isControlInvalid(form.controls.budgetUID)">

        </emp-ng-select>

        <emp-ng-select *ngIf="isRequisition || isContract"
          formControlName="budgets"
          [config]="{multiple: true}"
          [items]="budgetsList"
          [loading]="isLoading"
          [placeholder]="budgetPlaceholder"
          [showError]="formHelper.isControlInvalid(form.controls.budgets)">

        </emp-ng-select>

      </div>

      <div *ngIf="isContract || isPurchase || isExpense"
        [ngClass]="isExpense ? 'fx-item-half' : 'fx-item-quarter'">

        <label>Moneda:</label>

        <emp-ng-select
          formControlName="currencyUID"
          [items]="currenciesList"
          [loading]="isLoading"
          [placeholder]="formHelper.getSimplePlaceholder(!isSaved || editionMode)"
          [showError]="formHelper.isControlInvalid(form.controls.currencyUID)">

        </emp-ng-select>

      </div>

    </div>

    <mat-divider class="horizontal-md">

    </mat-divider>

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Otras claves:</label>
        <emp-ng-input-tags
          formControlName="identificators"
          [showError]="formHelper.isControlInvalid(form.controls.identificators)">

        </emp-ng-input-tags>

      </div>

      <div class="fx-item-half">

        <label>Palabras de búsqueda adicionales:</label>
        <emp-ng-input-tags
          formControlName="tags"
          [showError]="formHelper.isControlInvalid(form.controls.tags)">

        </emp-ng-input-tags>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-one">
        <label>Descripción:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          formControlName="description"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">

        </textarea>
      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-one">
        <label>Justificación:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          formControlName="justification"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.justification)">

        </textarea>
      </div>

    </div>

    <div class="fx-row-container" *ngIf="isRequisition">

      <div class="fx-item-quarter">
        <label>Observaciones:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1" [maxHeightTextarea]="86"
          formControlName="observations"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.observations)">

        </textarea>
      </div>

      <div class="fx-item-quarter">
        <label>Garantías:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1" [maxHeightTextarea]="86"
          formControlName="guaranteeNotes"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.guaranteeNotes)">

        </textarea>
      </div>

      <div class="fx-item-quarter">
        <label>Penalizaciones:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1" [maxHeightTextarea]="86"
          formControlName="penaltyNotes"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.penaltyNotes)">

        </textarea>
      </div>

      <div class="fx-item-quarter">
        <label>Lugar y condiciones de entrega:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1" [maxHeightTextarea]="86"
          formControlName="deliveryNotes"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.deliveryNotes)">

        </textarea>
      </div>

    </div>

  </div>

  <mat-divider class="horizontal" *ngIf="!isSaved || hasActions">

  </mat-divider>

  <div #rowFooter class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitButtonClicked()">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div class="fx-item fx-items-center">

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.canDelete"
            type="button" class="btn-warning"
            (click)="onEventButtonClicked(eventTypes.DELETE)">
            Eliminar
          </button>

        </ng-container>

        <ng-container *ngIf="!editionMode">

          <button *ngIf="actions.canActivate"
            type="button" class="btn"
            (click)="onEventButtonClicked(eventTypes.ACTIVATE)">
            Reactivar
          </button>

          <button *ngIf="actions.canSuspend"
            type="button" class="btn"
            (click)="onEventButtonClicked(eventTypes.SUSPEND)">
            Suspender
          </button>

        </ng-container>

      </div>

      <div class="fx-item fx-end fx-items-center">

        <button *ngIf="!editionMode && hasActions"
          class="btn-action"
          (click)="enableEditor(true)">
          Editar
        </button>

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.canUpdate"
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>

        </ng-container>

      </div>

    </ng-container>

  </div>

</form>
