<emp-ng-card
  [heading]="title"
  [hint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab *ngFor="let tab of tabs" [label]="tab.label">

      <ng-container [ngSwitch]="tab.tab">

        <emp-ng-order-editor *ngSwitchCase="TabType.order"
          [config]="config"
          [order]="data.order"
          [actions]="data.actions"
          (orderEditorEvent)="onOrderEditorEvent($event)">

        </emp-ng-order-editor>

        <emp-ng-order-items-edition *ngSwitchCase="TabType.items"
          [config]="config"
          [order]="data.order"
          [items]="data.items"
          [taxes]="data.taxes"
          [canEdit]="data.actions.canEditItems"
          (orderItemsEditionEvent)="onOrderItemsEditionEvent($event)">

        </emp-ng-order-items-edition>

        <emp-bdg-budget-management *ngSwitchCase="TabType.budgetTransactions"
          [baseObjectType]="config.type"
          [baseObjectUID]="data.order.uid"
          [baseObjectName]="title"
          [budgetTotal]="data.order.total"
          [budgetTransactions]="data.budgetTransactions"
          [canCommit]="data.actions.canCommitBudget"
          [canRequest]="data.actions.canRequestBudget"
          [canRequestModification]="data.actions.canRequestBudgetModification"
          [canValidate]="data.actions.canValidateBudget"
          (budgetManagementEvent)="onBudgetManagementEvent($event)">

        </emp-bdg-budget-management>

        <emp-ng-order-orders-table *ngSwitchCase="TabType.orders"
          [orders]="data.orders"
          [ordersName]="tab.label">

        </emp-ng-order-orders-table>

        <emp-ng-bills-edition *ngSwitchCase="TabType.bills"
          entityType="orders"
          [entityUID]="data.order.uid"
          [bills]="data.bills"
          [canEdit]="data.actions.canEditBills"
          (billsEditionEvent)="onBillsEditionEvent($event)">

        </emp-ng-bills-edition>

        <emp-pmt-payments-orders-edition *ngSwitchCase="TabType.paymentOrders"
          [entityUID]="data.order.uid"
          [entityName]="config.pronounSingular + ' ' + config.nameSingular"
          [entityTotal]="data.order.total"
          [paymentsOrders]="data.paymentOrders"
          [displayType]="isRequisition || isContract"
          [canRequestPayment]="data.actions.canRequestPayment"
          (paymentsOrdersEditionEvent)="onPaymentsOrdersEditionEvent($event)">

        </emp-pmt-payments-orders-edition>

        <emp-ng-documents-edition *ngSwitchCase="TabType.documents"
          entityType="orders"
          [entityUID]="data.order.uid"
          [documents]="data.documents"
          [canEdit]="data.actions.canEditDocuments"
          (documentsEditionEvent)="onDocumentsEditionEvent($event)">

        </emp-ng-documents-edition>

        <emp-ng-history-table *ngSwitchCase="TabType.history"
          [history]="data.history">

        </emp-ng-history-table>

      </ng-container>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
