<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="section-title"> Información general </div>

    <div class="fx-row-container sm-fx-column-container sm-fx-gap-half">

      <div class="fx-item-quarter">
        <label>No. inventario:</label>
        <input type="text" class="text-box"
          formControlName="assetNo"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.assetNo)">
      </div>

      <div class="fx-item-quarter sm-fx-item">
        <label>Tipo de activo fijo:</label>
        <emp-ng-select
          formControlName="assetTypeUID"
          [items]="assetTypesList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.assetTypeUID)">
        </emp-ng-select>
      </div>

      <div class="fx-item-size sm-fx-item" style="--size: calc(50% - 221px)">
        <label>Condición:</label>
        <input type="text" class="text-box"
          formControlName="currentCondition"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.currentCondition)">
      </div>

      <div class="fx-item-none sm-fx-item">
        <label>Fecha inicio / Fecha fin:</label>
        <emp-ng-date-range-picker
          formControlName="datePeriod"
          [showError]="formHelper.isControlInvalid(form.controls.datePeriod)">

        </emp-ng-date-range-picker>
      </div>

    </div>


    <div class="fx-row-container sm-fx-column-container sm-fx-gap-half">

      <div class="fx-item">
        <label>Nombre:</label>
        <input #nameInput
          type="text" class="text-box" [title]="nameInput?.value ?? ''"
          formControlName="name"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.name)">
      </div>

    </div>


    <div class="fx-row-container sm-fx-column-container sm-fx-gap-half">

      <div class="fx-item-half sm-fx-item">
        <label>Persona resguardataria:</label>
        <emp-ng-select
          formControlName="assignedToUID"
          [items]="assignedTosList"
          [loading]="isLoading"
          [placeholder]="editionMode ? 'Seleccionar' : 'No determinado'"
          [showError]="formHelper.isControlInvalid(form.controls.assignedToUID)">
        </emp-ng-select>
      </div>

      <div class="fx-item-half sm-fx-item">
        <label>Área de resguardo:</label>
        <emp-ng-select
          formControlName="assignedToOrgUnitUID"
          [config]="{virtualScroll: true, showTooltip: true}"
          [items]="organizationalUnitsList"
          [loading]="isLoading"
          [placeholder]="editionMode ? 'Seleccionar' : 'No determinado'"
          [showError]="formHelper.isControlInvalid(form.controls.assignedToOrgUnitUID)">
        </emp-ng-select>
      </div>

    </div>


    <emp-inv-location-selector
      formControlName="location"
      [errors]="form.controls.location.errors"
      [showError]="formHelper.isControlInvalid(form.controls.location)">

    </emp-inv-location-selector>


    <div class="section-title"> Información adicional </div>

    <div class="fx-row-container">

      <div class="fx-item-quarter">
        <label>Marca:</label>
        <input type="text" class="text-box"
          formControlName="brand"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.brand)">
      </div>

      <div class="fx-item-quarter">
        <label>Modelo:</label>
        <input type="text" class="text-box"
          formControlName="model"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.model)">
      </div>

      <div class="fx-item-quarter">
        <label>No. serie:</label>
        <input type="text" class="text-box"
          formControlName="serialNo"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.serialNo)">
      </div>

      <div class="fx-item-quarter">
        <label>Fecha de adquisición:</label>
        <emp-ng-datepicker
          formControlName="acquisitionDate"
          [showError]="formHelper.isControlInvalid(form.controls.acquisitionDate)">
        </emp-ng-datepicker>
      </div>

    </div>


    <div class="fx-row-container">

      <div class="fx-item-quarter">
        <label>Número de factura:</label>
        <input type="text" class="text-box"
          formControlName="invoiceNo"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.invoiceNo)">
      </div>

      <div class="fx-item-quarter">
        <label>Identificador contable:</label>
        <input type="text" class="text-box"
          formControlName="accountingTag"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.accountingTag)">
      </div>

      <div class="fx-item-quarter">
        <label>Valor historico:</label>
        <emp-ng-input-numeric
          formControlName="historicalValue"
          [showError]="formHelper.isControlInvalid(form.controls.historicalValue)">
        </emp-ng-input-numeric>
      </div>

      <div class="fx-item-quarter">
        <label>En uso:</label>
        <emp-ng-select
          formControlName="inUse"
          [items]="inUseList"
          [showError]="formHelper.isControlInvalid(form.controls.inUse)">
        </emp-ng-select>
      </div>

    </div>


    <div class="fx-row-container">

      <div class="fx-item-half">
        <label>Proveedor:</label>
        <input type="text" class="text-box"
          formControlName="supplierName"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.supplierName)">
      </div>

      <div class="fx-item-quarter">
        <label>Otras claves:</label>
        <emp-ng-input-tags
          formControlName="identificators"
          [showError]="formHelper.isControlInvalid(form.controls.identificators)">

        </emp-ng-input-tags>
      </div>

      <div class="fx-item-quarter">
        <label>Palabras de búsqueda adicionales:</label>
        <emp-ng-input-tags
          formControlName="tags"
          [showError]="formHelper.isControlInvalid(form.controls.tags)">

        </emp-ng-input-tags>
      </div>

    </div>


    <div class="fx-row-container">

      <div class="fx-item-one">
        <label>Descripción:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          formControlName="description"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">
        </textarea>
      </div>

    </div>

  </div>

  <mat-divider class="horizontal" *ngIf="!isSaved || hasActions">

  </mat-divider>

  <div #rowFooter class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitButtonClicked()">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div class="fx-item fx-items-center">

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.canDelete"
            type="button" class="btn-warning"
            (click)="onDeleteButtonClicked()">
            Eliminar
          </button>

        </ng-container>

        <ng-container *ngIf="!editionMode">

        </ng-container>

      </div>

      <div class="fx-item fx-end fx-items-center">

        <button *ngIf="!editionMode && (actions.canDelete || actions.canUpdate)"
          class="btn-action"
          (click)="enableEditor(true)">
          Editar
        </button>

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.canUpdate"
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>

        </ng-container>

      </div>

    </ng-container>

  </div>

</form>
