<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container sm-fx-column-container sm-fx-gap-half">

      <div class="fx-item-half sm-fx-item">

        <label>Área responsable:</label>

        <emp-ng-select
          formControlName="assignedToOrgUnitUID"
          [config]="{virtualScroll: true, showTooltip: true}"
          [items]="organizationalUnitsList"
          [loading]="isLoading"
          [placeholder]="editionMode ? 'Seleccionar' : 'No determinado'"
          [showError]="formHelper.isControlInvalid(form.controls.assignedToOrgUnitUID)">
        </emp-ng-select>

      </div>

      <div class="fx-item-size sm-fx-item" style="--size: calc(50% - 221px)">

        <label>Tipo de activo fijo:</label>

        <emp-ng-select
          formControlName="assetTypeUID"
          [items]="assetTypesList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.assetTypeUID)">
        </emp-ng-select>

      </div>

      <div class="fx-item-none sm-fx-item">
        <label>Fecha inicio / Fecha fin:</label>
        <emp-ng-date-range-picker
          formControlName="datePeriod"
          [showError]="formHelper.isControlInvalid(form.controls.datePeriod)">

        </emp-ng-date-range-picker>
      </div>

    </div>

    <div class="fx-row-container sm-fx-column-container sm-fx-gap-half">

      <div class="fx-item-half sm-fx-item">

        <label>Persona responsable:</label>

        <emp-ng-select
          formControlName="assignedToUID"
          [items]="assignedTosList"
          [loading]="isLoading"
          [placeholder]="editionMode ? 'Seleccionar' : 'No determinado'"
          [showError]="formHelper.isControlInvalid(form.controls.assignedToUID)">
        </emp-ng-select>

      </div>

      <div class="fx-item-half sm-fx-item">

        <label>Nombre:</label>

        <input type="text" class="text-box"
          formControlName="name"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.name)">

      </div>

    </div>

    <emp-pyc-location-selector
      formControlName="location"
      [errors]="form.controls.location.errors"
      [showError]="formHelper.isControlInvalid(form.controls.location)">

    </emp-pyc-location-selector>

    <div class="fx-row-container">

      <div class="fx-item-quarter sm-fx-item-half">

        <label>Marca:</label>

        <input type="text" class="text-box"
          formControlName="brand"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.brand)">

      </div>

      <div class="fx-item-quarter">

        <label>Modelo:</label>

        <input type="text" class="text-box"
          formControlName="model"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.model)">

      </div>

      <div class="fx-item-quarter">

        <label>Año:</label>

        <input type="text" class="text-box"
          formControlName="year"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.year)">

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-one">
        <label>Descripción:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          formControlName="description"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">
        </textarea>
      </div>

    </div>

  </div>

  <mat-divider class="horizontal" *ngIf="!isSaved || hasActions">

  </mat-divider>

  <div #rowFooter class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitButtonClicked()">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div class="fx-item fx-items-center">

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.canDelete"
            type="button" class="btn-warning"
            (click)="onDeleteButtonClicked()">
            Eliminar
          </button>

        </ng-container>

        <ng-container *ngIf="!editionMode">

        </ng-container>

      </div>

      <div class="fx-item fx-end fx-items-center">

        <button *ngIf="!editionMode && (actions.canDelete || actions.canUpdate)"
          class="btn-action"
          (click)="enableEditor(true)">
          Editar
        </button>

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.canUpdate"
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>

        </ng-container>

      </div>

    </ng-container>

  </div>

</form>
