<div class="fill-table-container" [style.width.%]="100">

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="cashFlowAccount">
      <th mat-header-cell *matHeaderCellDef class="nowrap"> Concepto financiero </th>
      <td mat-cell *matCellDef="let row" [style.min-width.px]="200" class="italic-text wrap">
        <ng-container *ngIf="!!row.cashFlowAccountCode">({{ row.cashFlowAccountCode }}) </ng-container>
         {{ row.cashFlowAccountName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Año </th>
      <td mat-cell *matCellDef="let row">{{ row.year }}</td>
    </ng-container>

    <ng-container matColumnDef="monthName">
      <th mat-header-cell *matHeaderCellDef> Mes </th>
      <td mat-cell *matCellDef="let row">{{ row.monthName }}</td>
    </ng-container>

    <ng-container matColumnDef="projectionColumn">
      <th mat-header-cell *matHeaderCellDef> Movimiento </th>
      <td mat-cell *matCellDef="let row" class="nowrap">{{ row.projectionColumn }}</td>
    </ng-container>

    <ng-container matColumnDef="inflowAmount">
      <th mat-header-cell *matHeaderCellDef class="text-align-right"> Ingresos </th>
      <td mat-cell *matCellDef="let row" class="text-align-right">
        {{ row.inflowAmount !== 0 ? (row.inflowAmount | empDecimal) : '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="outflowAmount">
      <th mat-header-cell *matHeaderCellDef class="text-align-right"> Egresos </th>
      <td mat-cell *matCellDef="let row" class="text-align-right">
        {{ row.outflowAmount !== 0 ? (row.outflowAmount | empDecimal) : '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="actionDelete">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let row" class="column-action">

        <button mat-icon-button empNgStopPropagation *ngIf="!totalItemTypeList.includes(row.itemType)"
          title="Eliminar concepto"
          (click)="onRemoveEntryClicked(row)">
          <mat-icon>
            delete
          </mat-icon>
        </button>

      </td>
    </ng-container>

    <ng-container matColumnDef="notFoundMessage">
      <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
        Esta proyección no tiene conceptos.
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectEntryClicked(row)"
      [class.selectable-row]="!totalItemTypeList.includes(row.itemType)"
      [class.item-type-total]="totalItemTypeList.includes(row.itemType)"></tr>
    <tr mat-footer-row *matFooterRowDef="['notFoundMessage']" class="text-not-found"
      [hidden]="dataSource.data.length > 0"></tr>

  </table>

</div>
