<emp-ng-modal-window [config]="{width:'1024px'}">

  <emp-ng-card
    title="Agregar proyecto"
    hint='Información de la proyecto.'
    (cardClose)="onCloseModalClicked()">

      <div class="card-body-padding" [empNgSpinnerHost]="spinner">

        <emp-ng-spinner #spinner [visible]="submitted">

        </emp-ng-spinner>

        <emp-cf-project-header
          (projectHeaderEvent)="onProjectHeaderEvent($event)">

        </emp-cf-project-header>

      </div>

  </emp-ng-card>

</emp-ng-modal-window>
