<emp-ng-modal-window [config]="{width:'1024px'}">

  <emp-ng-card
    [heading]="title"
    hint='Información del concepto'
    (cardClose)="onCloseButtonClicked()">

    <div class="card-body-padding">

      <form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

        <div class="fx-column-container fx-gap-half">

          <div class="section-title"> Información del concepto </div>

          <ng-container *ngIf="isContract || isContractOrder || isPurchase || isExpense">

            <div class="fx-row-container">

              <div class="fx-item-one">

                <label>Concepto disponible:</label>

                <emp-ng-select class="emp-ng-select-tall"
                  formControlName="linkedItemUID"
                  [items]="availableItemsList"
                  [showError]="formHelper.isControlInvalid(form.controls.linkedItemUID)"
                  (changes)="onAvailableItemChanges($event)">

                  <ng-template #labelTemplate let-item="item">

                    <div class="item wrap">

                      <div class="item-highlight nowrap ellipsis">
                        {{!!item.productCode ? item.productCode + ': ' : ''}}{{item.description | uppercase}} ({{item.productUnit?.name | uppercase}})
                      </div>
                      <div class="fx-row-container item-text-xs primary-text">
                        <div class="fx-item-none nowrap ellipsis" [style.max-width.%]="55">{{item.budgetAccount?.name}}</div>
                        <div class="fx-item">&nbsp;| Verif: {{!!item.budgetControlNo ? item.budgetControlNo : 'N/D' }} | Cantidad: {{item.quantity | empDecimal}} | PU: {{item.unitPrice | empDecimal}}</div>
                      </div>
                    </div>

                  </ng-template>

                  <ng-template #optionTemplate let-item="item">

                    <div class="item wrap">

                      <span class="item-highlight">
                        {{!!item.productCode ? item.productCode + ': ' : ''}}{{item.description | uppercase}} ({{item.productUnit?.name | uppercase}})
                      </span>
                      <br>
                      <div class="fx-row-container item-text-xs primary-text">
                        <div class="fx-item-none nowrap ellipsis" [style.max-width.%]="55">{{item.budgetAccount?.name}}</div>
                        <div class="fx-item">&nbsp;| Verif: {{!!item.budgetControlNo ? item.budgetControlNo : 'N/D' }} | Cantidad: {{item.quantity | empDecimal}} | PU: {{item.unitPrice | empDecimal}}</div>
                      </div>

                    </div>

                  </ng-template>

                </emp-ng-select>

              </div>

            </div>

            <mat-divider class="horizontal">

            </mat-divider>

          </ng-container>

          <div class="fx-row-container" *ngIf="requestedByFieldRequired">

            <div [ngClass]="isContract ? 'fx-item-half' : 'fx-item-one'">

              <label>Área solicitante:</label>

              <emp-ng-select
                formControlName="requestedByUID"
                [config]="{virtualScroll: true, showTooltip: true}"
                [items]="orgUnitsList"
                [loading]="isLoading"
                [showError]="formHelper.isControlInvalid(form.controls.requestedByUID)"
                (changes)="onRequestedByChanges($event)">

              </emp-ng-select>

            </div>

          </div>


          <div class="fx-row-container" *ngIf="beneficiaryFieldRequired">

            <div class="fx-item-half">

              <label>Área beneficiaria:</label>

              <emp-ng-select
                formControlName="beneficiaryUID"
                [config]="{virtualScroll: true, showTooltip: true}"
                [items]="orgUnitsList"
                [loading]="isLoading"
                [showError]="formHelper.isControlInvalid(form.controls.beneficiaryUID)"
                (changes)="onRequestedByChanges($event)">

              </emp-ng-select>

            </div>

          </div>

          <ng-container *ngIf="isRequisition || isContract || isContractOrder || isPurchase || isExpense">

            <div class="fx-row-container fx-wrap fx-wrap-gap-half">

              <div class="fx-item-half" *ngIf="isRequisition || isContract">

                <label>Presupuesto:</label>

                <emp-ng-select
                  formControlName="budgetUID"
                  [items]="budgetsList"
                  [showError]="formHelper.isControlInvalid(form.controls.budgetUID)"
                  (changes)="onBudgetChanges($event)">

                </emp-ng-select>

              </div>

              <div class="fx-item-half" *ngIf="isRequisition || isContract || isContractOrder || isPurchase || isExpense">

                <label>Producto:</label>

                <emp-ng-select-typeahead #productSearcher
                  formControlName="productUID"
                  [config]="{showTooltip: true, clearable: true}"
                  [searcherAPI]="productsAPI"
                  [initialValue]="isSaved ? item.product : null"
                  [showError]="formHelper.isControlInvalid(form.controls.productUID)"
                  (changes)="onProductChanges($event)">

                </emp-ng-select-typeahead>

              </div>

              <div class="fx-item-half" *ngIf="isContractOrder || isPurchase || isExpense">

                <label>Unidad de medida:</label>

                <emp-ng-select
                  formControlName="productUnitUID"
                  [config]="{
                              notFoundText: form.controls.productUID.invalid ?
                                            'No se encontraron registros' :
                                            'El producto no tiene unidades de medida'
                            }"
                  [items]="productUnitsList"
                  [placeholder]="formHelper.getSimplePlaceholder(!isSaved || editionMode)"
                  [showError]="formHelper.isControlInvalid(form.controls.productUnitUID)">

                </emp-ng-select>

              </div>

            </div>

            <div class="fx-row-container" *ngIf="isRequisition || isContract">

              <div class="fx-item-half">

                <label>Partida:</label>

                <emp-ng-select
                  formControlName="budgetAccountUID"
                  [config]="{showTooltip: true}"
                  [items]="budgetAccountsList"
                  [loading]="isLoadingBudgetAccounts"
                  [placeholder]="formHelper.getConditionalPlaceholder(
                    !isSaved || editionMode,
                    requestedByFieldRequired ? !!form.value.requestedByUID && !!form.value.budgetUID : !!form.value.budgetUID,
                    requestedByFieldRequired ? 'área solicitante, presupuesto y/o producto'          : 'presupuesto y/o producto'
                  )"
                  [showError]="formHelper.isControlInvalid(form.controls.budgetAccountUID)">

                </emp-ng-select>

              </div>

              <div class="fx-item-size" style="--size: calc(50% - 221px)">

                <label>Unidad de medida:</label>

                <emp-ng-select
                  formControlName="productUnitUID"
                  [config]="{
                              notFoundText: form.controls.productUID.invalid ?
                                            'No se encontraron registros' :
                                            'El producto no tiene unidades de medida'
                            }"
                  [items]="productUnitsList"
                  [placeholder]="formHelper.getSimplePlaceholder(!isSaved || editionMode)"
                  [showError]="formHelper.isControlInvalid(form.controls.productUnitUID)">

                </emp-ng-select>

              </div>

              <div class="fx-item-none" *ngIf="isRequisition">
                <label>Vigencia:</label>
                <emp-ng-date-range-picker
                  formControlName="datePeriod"
                  bindLabelStartDate="Fecha inicio"
                  bindlabelEndDate="Fecha fin"
                  [showError]="formHelper.isControlInvalid(form.controls.datePeriod)">

                </emp-ng-date-range-picker>
              </div>

            </div>

          </ng-container>

          <div class="fx-row-container">

            <div class="fx-item-one">
              <label>Descripción:</label>
              <textarea class="text-area" empNgTextareaAutoresize rows="1"
                formControlName="description"
                [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">

              </textarea>
            </div>

          </div>

          <mat-divider class="horizontal">

          </mat-divider>

          <div class="fx-row-container">

            <div [ngClass]="numericFieldSize" *ngIf="!isContract">

              <label>Cantidad:</label>

              <emp-ng-input-numeric
                formControlName="quantity"
                [minDecimals]="0"
                [maxDecimals]="2"
                [showError]="formHelper.isControlInvalid(form.controls.quantity)"
                (valueChange)="onTotalChanges()">

              </emp-ng-input-numeric>

            </div>

            <ng-container *ngIf="isContract">

              <div [ngClass]="numericFieldSize">

                <label>Cantidad mínima:</label>

                <input type="text" empNgCurrency
                  class="text-box text-align-right"
                  formControlName="minQuantity"
                  [class.invalid-control]="formHelper.isControlInvalid(form.controls.minQuantity)">

              </div>

              <div [ngClass]="numericFieldSize">

                <label>Cantidad máxima:</label>

                <input type="text" empNgCurrency
                  class="text-box text-align-right"
                  formControlName="maxQuantity"
                  [class.invalid-control]="formHelper.isControlInvalid(form.controls.maxQuantity)">

              </div>

            </ng-container>

            <div [ngClass]="numericFieldSize">

              <label>Precio unitario:</label>

              <emp-ng-input-numeric
                formControlName="unitPrice"
                [showError]="formHelper.isControlInvalid(form.controls.unitPrice)"
                (valueChange)="onTotalChanges()">

              </emp-ng-input-numeric>

            </div>

            <div [ngClass]="numericFieldSize" *ngIf="isContractOrder || isPurchase || isExpense">

              <label>Descuento:</label>

              <emp-ng-input-numeric
                formControlName="discount"
                [showError]="formHelper.isControlInvalid(form.controls.discount)"
                (valueChange)="onTotalChanges()">

              </emp-ng-input-numeric>

            </div>

            <div [ngClass]="numericFieldSize" *ngIf="isContractOrder || isPurchase">

              <label>Penalizaciones:</label>

              <emp-ng-input-numeric
                formControlName="penaltyDiscount"
                [showError]="formHelper.isControlInvalid(form.controls.penaltyDiscount)"
                (valueChange)="onTotalChanges()">

              </emp-ng-input-numeric>

            </div>

            <div [ngClass]="numericFieldSize" *ngIf="!isContract">

              <label>Importe:</label>

              <emp-ng-input-numeric
                formControlName="total"
                [showError]="formHelper.isControlInvalid(form.controls.total)">

              </emp-ng-input-numeric>

            </div>

            <div [ngClass]="numericFieldSize" *ngIf="isRequisition">

              <label>País de origen:</label>

              <emp-ng-select
                formControlName="originCountryUID"
                [config]="{clearable: true}"
                [items]="countriesList"
                [showError]="formHelper.isControlInvalid(form.controls.originCountryUID)">

              </emp-ng-select>

            </div>

          </div>

          <div class="fx-row-container">

            <div class="fx-item-one">
              <label>Justificación:</label>
              <textarea class="text-area" empNgTextareaAutoresize rows="1"
                formControlName="justification"
                [class.invalid-control]="formHelper.isControlInvalid(form.controls.justification)">

              </textarea>
            </div>

          </div>

        </div>

        <ng-container *ngIf="!isSaved || (isSaved && canUpdate)">

          <mat-divider class="horizontal">

          </mat-divider>

          <div #rowFooter class="fx-row-container">

             <div class="fx-item fx-end fx-items-center">

                <button
                  [class.btn]="!formHelper.isFormReady(form)"
                  [class.btn-action]="formHelper.isFormReady(form)"
                  (click)="onSubmitButtonClicked()">
                  {{!isSaved ? 'Agregar' : 'Guardar'}}
                </button>

              </div>

          </div>

        </ng-container>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
