<div class="fx-column-container-fill fx-gap-half" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="submitted">

  </emp-ng-spinner>

  <div class="fx-row-container fx-gap-half fx-end fx-items-center" *ngIf="canEdit">

    <button *ngIf="isRequisition"
      class="btn"
      (click)="onEditTaxesButtonClicked()">
      Editar impuestos
    </button>

    <button
      class="btn-action"
      (click)="onAddItemButtonClicked()">
      Agregar concepto
    </button>

  </div>

  <emp-ng-order-items-table class="fx-item"
    [config]="config"
    [items]="items"
    [taxes]="taxes"
    [orderTotal]="order.total"
    [orderSubtotal]="order.subtotal"
    [isForMultipleBeneficiaries]="order.isForMultipleBeneficiaries"
    [isMultipleProviders]="order.providersGroup.length > 0"
    [canDelete]="canEdit"
    (orderItemsTableEvent)="onOrderItemsTableEvent($event)">

  </emp-ng-order-items-table>

</div>


<emp-ng-order-item-editor *ngIf="displayItemEditor"
  [config]="config"
  [order]="order"
  [canUpdate]="canEdit"
  [item]="selectedItem"
  (orderItemEditorEvent)="onOrderItemEditorEvent($event)">

</emp-ng-order-item-editor>


<emp-financial-taxes-edition *ngIf="displayTaxesEdition"
  [orderUID]="order.uid"
  [taxes]="taxes"
  [canEdit]="canEdit"
  (taxesEditionEvent)="onTaxesEditionEvent($event)">

</emp-financial-taxes-edition>
