<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="section-title"> Información general </div>

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Área solicitante:</label>

        <emp-ng-select
          formControlName="organizationalUnitUID"
          [config]="{virtualScroll: true, showTooltip: true}"
          [items]="orgUnitsList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.organizationalUnitUID)"
          (changes)="onPayableEntityReset()">

        </emp-ng-select>

      </div>

      <div class="fx-item-size" style="--size: calc(50% - 126px)">

        <label>Tipo de solicitud:</label>

        <emp-ng-select
          formControlName="paymentOrderTypeUID"
          [items]="paymentOrderTypesList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.paymentOrderTypeUID)"
          (changes)="onPayableEntityReset()">

        </emp-ng-select>

      </div>

      <div class="fx-item-none">

        <label>Fecha límite:</label>
        <emp-ng-datepicker
          formControlName="dueTime"
          [showError]="formHelper.isControlInvalid(form.controls.dueTime)">
        </emp-ng-datepicker>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Documento relacionado:</label>

        <emp-ng-select-typeahead #payableEntitySearcher
          formControlName="payableEntityUID"
          [placeholder]="payableEntityPlaceholder"
          [config]="{ searchByQuery: true, showTooltip: true }"
          [initQuery]="{
              payableTypeUID: form.value.paymentOrderTypeUID,
              organizationalUnitUID: form.value.organizationalUnitUID ?? null,
              keywords: ''
          }"
          [searcherAPI]="payableEntitiesAPI"
          [initialValue]="isSaved && !editionMode ? payableEntity : null"
          [showError]="formHelper.isControlInvalid(form.controls.payableEntityUID)"
          (changes)="onPayableEntityChanges($event)">

          <ng-template #tLabelTemplate let-item="item">
            {{(!!item.entityNo ? item.entityNo : 'N/D') | uppercase}}: {{!item?.name ? 'N/D' : item?.name}}
          </ng-template>

          <ng-template #tOptionTemplate let-item="item">

            <div class="item wrap">

              <span class="item-highlight">
                {{(!!item.entityNo ? item.entityNo : 'N/D') | uppercase}}: {{!item?.name ? 'N/D' : item?.name}}
              </span> <br>
              <span class="item-text-xs primary-text">
                {{item.payTo?.name}} | {{item.budget?.name}} | {{item.total ?? 0 | empDecimal}} | {{item.currency?.name}}
              </span>

            </div>

          </ng-template>

        </emp-ng-select-typeahead>

      </div>

      <div class="fx-item-quarter">

        <label>Prioridad:</label>

        <emp-ng-select
          formControlName="priority"
          [items]="priorityList"
          [showError]="formHelper.isControlInvalid(form.controls.priority)">

          <ng-template #optionTemplate let-item="item">
            <div [style.width.%]="100"
              [ngClass]="{'Default': item.uid === Priority.Normal,
                          'Terciario': item.uid === Priority.Urgent}">
              {{item.name}}
            </div>
          </ng-template>

        </emp-ng-select>

      </div>

      <div class="fx-item-quarter">

        <label>Presupuesto:</label>

        <emp-ng-select
          formControlName="budgetUID"
          [items]="!selectedPayableEntity?.budget?.uid ? [] : [selectedPayableEntity.budget]"
          [showError]="formHelper.isControlInvalid(form.controls.budgetUID)"
          [placeholder]="payableEntityDataPlaceholder">

        </emp-ng-select>

      </div>

    </div>

  <div class="section-title" [style.padding-top.rem]="0.5"> Información del pago </div>

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Pagar a:</label>

        <emp-ng-select
          formControlName="payToUID"
          [config]="{showTooltip: true}"
          [items]="!selectedPayableEntity?.payTo?.uid ? [] : [selectedPayableEntity.payTo]"
          [showError]="formHelper.isControlInvalid(form.controls.payToUID)"
          [placeholder]="payableEntityDataPlaceholder">

        </emp-ng-select>

      </div>

      <div class="fx-item-quarter">

        <label>Total:</label>

        <emp-ng-input-numeric
          formControlName="total"
          [showError]="formHelper.isControlInvalid(form.controls.total)"
          [placeholder]="payableEntityDataPlaceholder">

        </emp-ng-input-numeric>

      </div>

      <div class="fx-item-quarter">

        <label>Moneda:</label>

        <emp-ng-select
          formControlName="currencyUID"
          [items]="!selectedPayableEntity?.currency?.uid ? [] : [selectedPayableEntity.currency]"
          [showError]="formHelper.isControlInvalid(form.controls.currencyUID)"
          [placeholder]="payableEntityDataPlaceholder">

        </emp-ng-select>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-quarter">

        <label>Método de pago:</label>

        <emp-ng-select
          formControlName="paymentMethodUID"
          [items]="paymentMethodsList"
          [placeholder]="paymentMethodPlaceholder"
          [showError]="formHelper.isControlInvalid(form.controls.paymentMethodUID)"
          (changes)="onPaymentMethodChanges($event)">

        </emp-ng-select>

      </div>

      <div class="fx-item-quarter">

        <label>Referencia:</label>

        <input type="text" class="text-box"
          formControlName="referenceNumber"
          [placeholder]="referenceNumberPlaceholder"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.referenceNumber)">

      </div>

      <div class="fx-item-half">

        <label>Cuenta:</label>

        <emp-ng-select
          formControlName="paymentAccountUID"
          [items]="paymentAccountsList"
          [placeholder]="paymentAccountPlaceholder"
          [showError]="formHelper.isControlInvalid(form.controls.paymentAccountUID)">

          <ng-template #labelTemplate let-item="item">
             {{item.institution?.name}} | {{!!item.accountNo ? item.accountNo : 'N/D'}}
          </ng-template>

          <ng-template #optionTemplate let-item="item">

            <div class="item wrap">

              <span class="item-highlight">
                {{item.institution?.name}} | {{!!item.accountNo ? item.accountNo : 'N/D'}}
              </span> <br>

              <span class="item-text-xs primary-text">
                Beneficiario: {{item.holderName}}
              </span>

            </div>

          </ng-template>

        </emp-ng-select>

      </div>

    </div>

  <div class="section-title"></div>

    <div class="fx-row-container">

      <div class="fx-item-one">

        <label>Deudor:</label>

        <emp-ng-select-typeahead
          formControlName="debtorUID"
          [config]="{ clearable: true }"
          [searcherAPI]="providersAPI"
          [initialValue]="isSaved && !editionMode ? paymentOrder.debtor : null"
          [showError]="formHelper.isControlInvalid(form.controls.debtorUID)">

        </emp-ng-select-typeahead>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-half">
        <label>Descripción:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          formControlName="description"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">
        </textarea>
      </div>

      <div class="fx-item-half">
        <label>Observaciones:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          formControlName="observations"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.observations)">
        </textarea>
      </div>

    </div>

  </div>

  <mat-divider class="horizontal" *ngIf="!isSaved || hasActions">

  </mat-divider>

  <div #rowFooter class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitButtonClicked()">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div class="fx-item fx-items-center">

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.canCancel"
            type="button" class="btn-warning"
            (click)="onEventButtonClicked(eventTypes.CANCEL)">
            Cancelar
          </button>

        </ng-container>

        <ng-container *ngIf="!editionMode">

          <button *ngIf="actions.canSuspend"
            type="button" class="btn"
            (click)="onEventButtonClicked(eventTypes.SUSPEND)">
            Suspender
          </button>

          <button *ngIf="actions.canReset"
            type="button" class="btn"
            (click)="onEventButtonClicked(eventTypes.RESET)">
            Activar
          </button>

        </ng-container>

      </div>

      <div class="fx-item fx-end fx-items-center">

        <button *ngIf="!editionMode && (actions.canCancel || actions.canUpdate)"
          class="btn-action"
          (click)="enableEditor(true)">
          Editar
        </button>

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.canUpdate"
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>

        </ng-container>

      </div>

    </ng-container>

  </div>

</form>
