<div class="fx-column-container-fill fx-gap-half" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="submitted">

  </emp-ng-spinner>

  <emp-cf-accounts-controls
    [filter]="filter"
    [canEdit]="canEditAccounts"
    (accountsControlsEvent)="onAccountsControlsEvent($event)">

  </emp-cf-accounts-controls>

  <emp-cf-accounts-table
    class="fx-item"
    [accounts]="accounts"
    [filter]="filter"
    [displayProject]="displayProject"
    [canEditAccounts]="canEditAccounts"
    [canEditOperations]="canEditOperations"
    (accountsTableEvent)="onAccountsTableEvent($event)">

  </emp-cf-accounts-table>

</div>


<emp-cf-account-modal *ngIf="displayAccountModal"
  [projectUID]="createAccountMode ? projectUID : selectedAccount.project.uid"
  [organizationalUnitUID]="organizationalUnitUID"
  [account]="selectedAccount"
  [canUpdate]="canEditAccounts"
  (accountModalEvent)="onAccountModalEvent($event)">

</emp-cf-account-modal>


<emp-cf-project-modal *ngIf="displayProjectModal"
  [projectUID]="selectedData.projectUID"
  (projectModalEvent)="onProjectModalEvent($event)">

</emp-cf-project-modal>


<emp-cf-operations-modal *ngIf="displayOperationsModal"
  [projectUID]="selectedData.projectUID"
  [accountUID]="selectedData.accountUID"
  [canEdit]="canEditOperations"
  (operationsModalEvent)="onOperationsModalEvent($event)">

</emp-cf-operations-modal>
