<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <emp-bdg-budget-explorer
    class="primary priority"
    [class.std-hide]="displayTabbedView"
    [queryType]="queryType"
    [data]="data"
    [entrySelected]="entrySelected"
    [isLoading]="isLoading"
    [queryExecuted]="queryExecuted"
    (budgetExplorerEvent)="onBudgetExplorerEvent($event)">

  </emp-bdg-budget-explorer>

  <div class="secondary std-stacked" *ngIf="displayTabbedView">

  </div>

</div>
