<div class="fx-row-container fx-gap-size entry-gap-size sm-fx-gap">

  <div class="fx-item-size column-size-check" *ngIf="displayControls">
    <mat-checkbox empNgStopPropagation
      [checked]="selected"
      (change)="onCheckClicked()">
    </mat-checkbox>
  </div>

  <div class="fx-item">
    <div class="list-item-text-highlight nowrap"
      (click)="onSelectClicked()">
      <a class="bold-text">{{item.projectionNo}}</a>
    </div>
    <div class="bold-text">{{item.planName ?? 'N/D'}}</div>
    <div>{{item.partyName ?? 'N/D'}}</div>
  </div>

  <div class="fx-item-size column-size-md">
    <div class="list-item-text-highlight">{{item.projectionTypeName ?? 'N/D'}}</div>
    <div class="bold-text">{{item.projectTypeName ?? 'N/D'}}</div>
    <div>{{item.total | empDecimal}}</div>
  </div>

  <div class="fx-item-size column-size-sm">
    <div class="list-item-text-highlight">{{item.sourceName ?? 'N/D'}}</div>
    <div class="bold-text">
      {{!item.recordingTime ? '-' : (item.recordingTime | empDateTimeFormat)}}
    </div>
    <div>{{!item.recordedByName ? '-' : item.recordedByName}}</div>
  </div>

  <div class="fx-item-size column-size-sm">
    <span class="tag" [style.font-size.px]="10"
      [ngClass]="{'tag-base-error': ['Suspendida', 'Eliminada' , 'Rechazada'].includes(item.statusName)}">
      {{item.statusName}}
    </span>
    <div class="bold-text" [style.padding-top.rem]="0.25">
      {{!item.authorizationTime ? '-' : (item.authorizationTime | empDateTimeFormat)}}
    </div>
    <div>{{!item.authorizedByName ? '-' : item.authorizedByName}}</div>
  </div>

</div>
