<emp-ng-card
  [title]="title"
  [hint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Responsable">

      <emp-inv-assignment-editor
        [assignment]="data.assignment"
        (assignmentEditorEvent)="onAssignmentEditorEvent($event)">

      </emp-inv-assignment-editor>

    </mat-tab>

    <mat-tab label="Activos fijos">

      <ng-template matTabContent>

        <emp-inv-assignment-assets-edition
          [assignmentUID]="data.assignment.uid"
          [assets]="data.assets"
          [canEdit]="data.actions?.canClone"
          (assignmentAssetsEditionEvent)="onAssignmentAssetsEditionEvent($event)">

        </emp-inv-assignment-assets-edition>

      </ng-template>

    </mat-tab>

    <mat-tab label="Transacciones">

      <emp-inv-asset-transactions-table
        [transactions]="data.transactions"
        [displayAssignmentData]="false">

      </emp-inv-asset-transactions-table>

    </mat-tab>

    <mat-tab label="Documentos">

      <emp-ng-documents-edition
        entityType="asset-assignments"
        [entityUID]="data.assignment.uid"
        [documents]="data.documents ?? []"
        [canEdit]="data.actions?.canEditDocuments"
        (documentsEditionEvent)="onDocumentsEditionEvent($event)">

      </emp-ng-documents-edition>

    </mat-tab>

    <mat-tab label="Historial">

      <emp-ng-history-table
        [history]="data.history ?? []">

      </emp-ng-history-table>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
