<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Área solicitante:</label>

        <emp-ng-select
          formControlName="requesterOrgUnitUID"
          [config]="{virtualScroll: true}"
          [items]="organizationalUnitsList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.requesterOrgUnitUID)"
          (changes)="onRequesterOrgUnitUIDChanged($event)">

          <ng-template #optionTemplate let-item="item">
            <div class="item" [title]="item.name">
              {{item.name}}
            </div>
          </ng-template>

        </emp-ng-select>

      </div>

      <div class="fx-item-half">

        <label>Tipo de solicitud:</label>

        <emp-ng-select
          formControlName="requestType"
          [config]="{bindByValue: false}"
          [items]="requestsTypesList"
          [loading]="isLoadingRequesterOrgUnits"
          [placeholder]="!form.value.requesterOrgUnitUID ? 'Seleccionar el área' : 'Seleccionar'"
          [showError]="formHelper.isControlInvalid(form.controls.requestType)"
          (changes)="onRequestTypeChanged($event)">
        </emp-ng-select>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-one">
        <label>Descripción:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          formControlName="description"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">
        </textarea>
      </div>

    </div>

    <div *ngIf="form.controls.requestType.invalid || hasExtraFields" [style.min-height.px]="68">

      <mat-divider class="horizontal">

      </mat-divider>

      <div *ngIf="form.controls.requestType.invalid" class="instruction-text">
        Seleccione el tipo de solicitud.
      </div>

      <div class="fx-row-container fx-wrap">

        <div *ngFor="let field of dynamicFields"
          class="sm-fx-item"
          [ngClass]="field.fieldType === controlType.text_area ? 'fx-item-one' : 'fx-item-half'"
          [style.margin-bottom.rem]="0.5">

          <ng-container *ngIf="dynamicFormHelper.existFormControl(form, field.field)">

            <label>{{field.label}}:</label>

            <emp-ng-dynamic-form-control
              [formControlName]="field.field"
              [config]="field">

            </emp-ng-dynamic-form-control>

          </ng-container>

        </div>

      </div>

    </div>

  </div>

  <mat-divider class="horizontal" *ngIf="!isSaved || hasActions">

  </mat-divider>

  <div #rowFooter class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitButtonClicked()">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div class="fx-item fx-items-center">

        <ng-container *ngIf="editionMode">

          <button *ngIf="request.actions.canDelete"
            type="button" class="btn-warning"
            (click)="onEventButtonClicked(eventTypes.DELETE_REQUEST)">
            Eliminar
          </button>

        </ng-container>

        <ng-container *ngIf="!editionMode">

          <button *ngIf="request.actions.canComplete"
            type="button" class="btn"
            (click)="onEventButtonClicked(eventTypes.CLOSE_REQUEST)">
            Cerrar
          </button>

          <button *ngIf="request.actions.canStart"
            type="button" class="btn"
            (click)="onEventButtonClicked(eventTypes.START_REQUEST)">
            Iniciar proceso
          </button>

          <button *ngIf="request.actions.canActivate"
            type="button" class="btn"
            (click)="onEventButtonClicked(eventTypes.ACTIVATE_REQUEST)">
            Reactivar
          </button>

          <mat-divider vertical="true" class="vertical-slim"
            *ngIf="(request.actions.canComplete || request.actions.canStart || request.actions.canActivate) &&
                   (request.actions.canCancel|| request.actions.canSuspend)">

          </mat-divider>

          <button *ngIf="request.actions.canSuspend"
            type="button" class="btn"
            (click)="onEventButtonClicked(eventTypes.SUSPEND_REQUEST)">
            Suspender
          </button>

          <button *ngIf="request.actions.canCancel"
            type="button" class="btn"
            (click)="onEventButtonClicked(eventTypes.CANCEL_REQUEST)">
            Cancelar proceso
          </button>

        </ng-container>

      </div>

      <div class="fx-item fx-end fx-items-center">

        <button *ngIf="!editionMode && (request.actions.canDelete || request.actions.canUpdate)"
          class="btn-action"
          (click)="enableEditor(true)">
          Editar
        </button>

        <ng-container *ngIf="editionMode">

          <button *ngIf="request.actions.canUpdate"
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>

        </ng-container>

      </div>

    </ng-container>

  </div>

</form>
