<emp-ng-card
  [title]="title"
  [hint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Transacción">

      <emp-bdg-transaction-editor
        [transaction]="data.transaction"
        [actions]="data.actions"
        (transactionEditorEvent)="onTransactionEditorEvent($event)">

      </emp-bdg-transaction-editor>

    </mat-tab>

    <mat-tab label="Movimientos">

      <ng-template matTabContent>

        <emp-bdg-transaction-entries-edition
          [transaction]="data.transaction"
          [entries]="data.entries"
          [groupedEntries]="data.groupedEntries"
          [canEdit]="data.actions.canUpdate"
          (transactionEntriesEditionEvent)="onTransactionEntriesEditionEvent($event)">

        </emp-bdg-transaction-entries-edition>

      </ng-template>

    </mat-tab>

    <mat-tab label="Cédula">

      <ng-template matTabContent>

        <emp-bdg-transaction-print-view
          [transactionUID]="data.transaction.uid">

        </emp-bdg-transaction-print-view>

      </ng-template>

    </mat-tab>

    <mat-tab label="Documentos">

      <emp-ng-documents-edition
        entityType="budget-transactions"
        [entityUID]="data.transaction.uid"
        [documents]="data.documents"
        [canEdit]="data.actions.canEditDocuments"
        (documentsEditionEvent)="onDocumentsEditionEvent($event)">

      </emp-ng-documents-edition>

    </mat-tab>

    <mat-tab label="Historial">

      <div class="instruction-text">
        No se encontraron registros.
      </div>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
