<div class="section-title"> Información financiera </div>

<div class="fx-column-container fx-gap-half">

  <div class="fx-row-container">

    <div class="fx-item-quarter">

      <label>Saldo del crédito:</label>

      <emp-ng-input-numeric
        [(ngModel)]="selectedData.currentBalance"
        [showError]="showError && errors?.currentBalanceError"
        [disabled]="disabled"
        (valueChange)="onSelectedDataChanged()">
      </emp-ng-input-numeric>

    </div>

    <div class="fx-item-quarter">

      <label>Interés (%):</label>

      <emp-ng-input-numeric
        [(ngModel)]="selectedData.interestRate"
        [showError]="showError && errors?.interestRateError"
        [disabled]="disabled"
        (valueChange)="onSelectedDataChanged()">
      </emp-ng-input-numeric>

    </div>

    <div class="fx-item-quarter">

      <label>Comisión (%):</label>

      <emp-ng-input-numeric
        [(ngModel)]="selectedData.fees"
        [showError]="showError && errors?.feesError"
        [disabled]="disabled"
        (valueChange)="onSelectedDataChanged()">
      </emp-ng-input-numeric>

    </div>

    <div class="fx-item-quarter">

      <label>Tipo de cambio:</label>

      <emp-ng-input-numeric
        [(ngModel)]="selectedData.exchangeRate"
        [showError]="showError && errors?.exchangeRateError"
        [disabled]="disabled"
        (valueChange)="onSelectedDataChanged()">
      </emp-ng-input-numeric>

    </div>

  </div>

  <div class="fx-row-container">

    <div class="fx-item-quarter">

      <label>Plazo de inversión (meses):</label>

      <emp-ng-input-numeric
        [(ngModel)]="selectedData.investmentTerm"
        [showError]="showError && errors?.investmentTermError"
        [disabled]="disabled"
        (valueChange)="onSelectedDataChanged()">
      </emp-ng-input-numeric>

    </div>

    <div class="fx-item-quarter">

      <label>Período de gracia (meses):</label>

      <emp-ng-input-numeric
        [(ngModel)]="selectedData.gracePeriod"
        [showError]="showError && errors?.gracePeriodError"
        [disabled]="disabled"
        (valueChange)="onSelectedDataChanged()">
      </emp-ng-input-numeric>

    </div>

    <div class="fx-item-quarter">

      <label>Plazo de amortización (meses):</label>

      <emp-ng-input-numeric
        [(ngModel)]="selectedData.repaymentTerm"
        [showError]="showError && errors?.repaymentTermError"
        [disabled]="disabled"
        (valueChange)="onSelectedDataChanged()">
      </emp-ng-input-numeric>

    </div>

    <div class="fx-item-quarter">

      <label>Fecha de amortizacion:</label>

      <emp-ng-datepicker
        [(ngModel)]="selectedData.repaymentDate"
        [showError]="showError && errors?.repaymentDateError"
        [disabled]="disabled"
        (valueChange)="onSelectedDataChanged()">

      </emp-ng-datepicker>

    </div>

  </div>

  <div class="fx-row-container">

    <div class="fx-item-quarter">

      <label>Tasa base:</label>

      <emp-ng-select
        [(ngModel)]="selectedData.interestRateTypeUID"
        [items]="interestRateTypesList"
        [config]="{clearable: true}"
        [placeholder]="formHelper.getSimplePlaceholder(editionMode)"
        [showError]="showError && errors?.tasaError"
        [disabled]="disabled"
        [loading]="isLoading"
        (changes)="onSelectedDataChanged()">
      </emp-ng-select>

    </div>

    <div class="fx-item-quarter">

      <label>Factor de ajuste de tasa:</label>

      <emp-ng-input-numeric
        [(ngModel)]="selectedData.interestRateFactor"
        [showError]="showError && errors?.interestRateFactorError"
        [disabled]="disabled"
        (valueChange)="onSelectedDataChanged()">
      </emp-ng-input-numeric>

    </div>

    <div class="fx-item-quarter">

      <label>Tasa mínima (piso) (%):</label>

      <emp-ng-input-numeric
        [(ngModel)]="selectedData.interestRateFloor"
        [showError]="showError && errors?.interestRateFloorError"
        [disabled]="disabled"
        (valueChange)="onSelectedDataChanged()">
      </emp-ng-input-numeric>

    </div>

    <div class="fx-item-quarter">

      <label>Tasa máxima (techo) (%):</label>

      <emp-ng-input-numeric
        [(ngModel)]="selectedData.interestRateCeiling"
        [showError]="showError && errors?.interestRateCeilingError"
        [disabled]="disabled"
        (valueChange)="onSelectedDataChanged()">
      </emp-ng-input-numeric>

    </div>

  </div>

</div>
