<emp-ng-card
  [title]="title"
  [hint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Obligación">

      <emp-pmt-payable-editor
        [payable]="payableData.payable"
        [payableEntity]="payableData.payableEntity"
        [actions]="payableData.actions"
        (payableEditorEvent)="onPayableEditorEvent($event)">

      </emp-pmt-payable-editor>

    </mat-tab>

    <mat-tab label="Conceptos">

      <emp-pmt-payable-items-edition
        [items]="payableData.items"
        [actions]="payableData.actions"
        (payableItemsEditionEvent)="onPayableItemsEditionEvent($event)">

      </emp-pmt-payable-items-edition>

    </mat-tab>

    <mat-tab label="Documentos">

      <emp-ng-documents-edition
        entityType="payables"
        [entityUID]="payableData.payable.uid"
        [documents]="payableData.documents"
        [canEdit]="payableData.actions.canEditDocuments"
        (documentsEditionEvent)="onDocumentsEditionEvent($event)">

      </emp-ng-documents-edition>

    </mat-tab>

    <mat-tab label="Historial">

      <div class="instruction-text">
        No se encontraron registros.
      </div>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
