<emp-ng-card
  [heading]="title"
  [hint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Solicitud">

      <emp-pmt-payable-editor
        [payable]="data.payable"
        [payableEntity]="data.payableEntity"
        [actions]="data.actions"
        (payableEditorEvent)="onPayableEditorEvent($event)">

      </emp-pmt-payable-editor>

    </mat-tab>


    <mat-tab label="Facturas">

      <emp-ng-bills-edition
        [bills]="data.bills">

      </emp-ng-bills-edition>

    </mat-tab>

    <mat-tab label="Presupuesto">

      <emp-bdg-budget-management
        [baseObjectType]="ObjectTypes.PAYMENT_ORDER"
        [baseObjectUID]="data.payable.uid"
        [baseObjectName]="data.payable.payableNo"
        [budgetTotal]="data.payable.total"
        [budgetTransactions]="data.budgetTransactions"
        [canCommit]="data.actions.canCommitBudget"
        [canExercise]="data.actions.canExerciseBudget"
        [canRequest]="data.actions.canRequestBudget"
        (budgetManagementEvent)="onBudgetManagementEvent($event)">

      </emp-bdg-budget-management>

    </mat-tab>

    <mat-tab label="Conceptos">

      <emp-pmt-payable-items-edition
        [items]="data.items"
        [actions]="data.actions"
        (payableItemsEditionEvent)="onPayableItemsEditionEvent($event)">

      </emp-pmt-payable-items-edition>

    </mat-tab>

    <mat-tab label="Instrucción de pago">

      <emp-pmt-payments-orders-edition
        entityName="la solicitud de pago"
        [entityUID]="data.payable.uid"
        [entityTotal]="data.payable.total"
        [paymentsOrders]="data.paymentInstructions"
        [displayType]="true"
        [canSendToPay]="data.actions.canSendToPay"
        (paymentsOrdersEditionEvent)="onPaymentsOrdersEditionEvent($event)">

      </emp-pmt-payments-orders-edition>

    </mat-tab>

    <mat-tab label="Documentos">

      <emp-ng-documents-edition
        entityType="payables"
        [entityUID]="data.payable.uid"
        [documents]="data.documents"
        [canEdit]="data.actions.canEditDocuments"
        (documentsEditionEvent)="onDocumentsEditionEvent($event)">

      </emp-ng-documents-edition>

    </mat-tab>

    <mat-tab label="Historial">

      <emp-ng-history-table
        [history]="data.history">

      </emp-ng-history-table>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
