<emp-ng-card
  [cardTitle]="title"
  [cardHint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Solicitud">

      <emp-pmt-payable-editor
        [payable]="data.payable"
        [payableEntity]="data.payableEntity"
        [actions]="data.actions"
        (payableEditorEvent)="onPayableEditorEvent($event)">

      </emp-pmt-payable-editor>

    </mat-tab>

    <mat-tab label="Conceptos">

      <emp-pmt-payable-items-edition
        [items]="data.items"
        [actions]="data.actions"
        (payableItemsEditionEvent)="onPayableItemsEditionEvent($event)">

      </emp-pmt-payable-items-edition>

    </mat-tab>

    <mat-tab label="Documentos">

      <emp-ng-documents-edition
        entityType="payables"
        [entityUID]="data.payable.uid"
        [documents]="data.documents"
        [canEdit]="data.actions.canEditDocuments"
        (documentsEditionEvent)="onDocumentsEditionEvent($event)">

      </emp-ng-documents-edition>

    </mat-tab>

    <mat-tab label="Historial">

      <emp-ng-history-table
        [history]="data.history">

      </emp-ng-history-table>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
