<emp-ng-modal-window [config]="{width:'750px'}">

  <emp-ng-card
    [title]="title"
    hint='Información de los conceptos asignados a la cuenta.'
    (cardClose)="onCloseModalClicked()">

    <div class="card-body-padding">

      <emp-financial-operations-edition
        [projectUID]="projectUID"
        [accountUID]="accountUID"
        [data]="data"
        [canEdit]="canEdit"
        [isLoading]="isLoading"
        (operationsEditionEvent)="onOperationsEditionEvent($event)">

      </emp-financial-operations-edition>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
