<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div class="fx-item-size" style="--size: calc(100% - 126px)">

        <label>Área solicitante:</label>

        <emp-ng-select
          formControlName="organizationalUnitUID"
          [config]="{virtualScroll: true, showTooltip: true}"
          [items]="organizationalUnitsList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.organizationalUnitUID)">
        </emp-ng-select>

      </div>

      <div class="fx-item-none">

        <label>Fecha límite:</label>
        <emp-ng-datepicker
          formControlName="dueTime"
          [showError]="formHelper.isControlInvalid(form.controls.dueTime)">
        </emp-ng-datepicker>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-third">

        <label>Tipo de obligación:</label>

        <emp-ng-select
          formControlName="payableTypeUID"
          [items]="payableTypesList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.payableTypeUID)"
          (changes)="onPayableTypeChanges()">
        </emp-ng-select>

      </div>

      <div class="fx-item-third">

        <label>Documento relacionado:</label>

        <emp-ng-select-typeahead #payableEntitySearcher
          formControlName="payableEntityUID"
          bindLabel="entityNo"
          [placeholder]="!form.value.payableTypeUID ? 'Seleccione el tipo de obligación...' : 'Buscar documento...'"
          [config]="{ searchByQuery: true }"
          [initQuery]="{ payableTypeUID: form.value.payableTypeUID, keywords: '' }"
          [searcherAPI]="payableEntitiesAPI"
          [initialValue]="payableEntity"
          [showError]="formHelper.isControlInvalid(form.controls.payableEntityUID)">

        </emp-ng-select-typeahead>

      </div>

      <div class="fx-item-third">

        <label>Tipo de presupuesto:</label>

        <emp-ng-select
          formControlName="budgetTypeUID"
          [items]="budgetTypesList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.budgetTypeUID)">
        </emp-ng-select>

      </div>

    </div>


    <div class="fx-row-container">

      <div class="fx-item-two-third">

        <label>Pagar a:</label>

        <emp-ng-select-typeahead
          formControlName="payToUID"
          [searcherAPI]="suppliersAPI"
          [initialValue]="payable.payTo"
          [showError]="formHelper.isControlInvalid(form.controls.payToUID)">

        </emp-ng-select-typeahead>

      </div>

      <div class="fx-item-third">

        <label>Moneda:</label>

        <emp-ng-select
          formControlName="currencyUID"
          [items]="currenciesList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.currencyUID)">
        </emp-ng-select>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-one">
        <label>Descripción:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          formControlName="description"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">
        </textarea>
      </div>

    </div>

  </div>

  <mat-divider class="horizontal" *ngIf="!isSaved || hasActions">

  </mat-divider>

  <div #rowFooter class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitButtonClicked()">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div class="fx-item fx-items-center">

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.can.delete"
            type="button" class="btn-warning"
            (click)="onDeleteButtonClicked()">
            Eliminar
          </button>

        </ng-container>

        <ng-container *ngIf="!editionMode">

        </ng-container>

      </div>

      <div class="fx-item fx-end fx-items-center">

        <button *ngIf="!editionMode && (actions.can.delete || actions.can.update)"
          class="btn-action"
          (click)="enableEditor(true)">
          Editar
        </button>

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.can.update"
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>

        </ng-container>

      </div>

    </ng-container>

  </div>

</form>
