<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <emp-financial-concepts-explorer
    class="primary"
    [class.std-hide]="displayTabbedView"
    [group]="group"
    [query]="query"
    [data]="data"
    [selectedUID]="selectedData.concept.uid"
    [isLoading]="isLoading"
    [queryExecuted]="queryExecuted"
    (conceptsExplorerEvent)="onFinancialConceptsExplorerEvent($event)">

  </emp-financial-concepts-explorer>


  <emp-financial-concept-tabbed-view *ngIf="displayTabbedView"
    class="secondary priority std-stacked"
    [data]="selectedData"
    (conceptTabbedViewEvent)="onFinancialConceptTabbedViewEvent($event)">

  </emp-financial-concept-tabbed-view>

</div>
