<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Área:</label>

        <emp-ng-select
          formControlName="partyUID"
          [config]="{virtualScroll: true, showTooltip: true, autoSelect: !isSaved}"
          [items]="orgUnitsList"
          [loading]="isLoading"
          [placeholder]="formHelper.getSimplePlaceholder(editionMode)"
          [showError]="formHelper.isControlInvalid(form.controls.partyUID)"
          (changes)="onOrgUnitChanges($event)">
        </emp-ng-select>

      </div>

      <div class="fx-item-half">

        <label>Flujo de efectivo:</label>

        <emp-ng-select
          formControlName="planUID"
          [config]="{showTooltip: true, autoSelect: !isSaved}"
          [items]="plansList"
          [loading]="isLoading"
          [placeholder]="formHelper.getConditionalPlaceholder(editionMode, form.controls.partyUID.valid, 'área')"
          [showError]="formHelper.isControlInvalid(form.controls.planUID)">
        </emp-ng-select>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Tipo de proyección:</label>

        <emp-ng-select
          formControlName="projectionTypeUID"
          [config]="{showTooltip: true, autoSelect: !isSaved}"
          [items]="projectionTypesList"
          [loading]="isLoading"
          [placeholder]="formHelper.getConditionalPlaceholder(editionMode, form.controls.partyUID.valid, 'área')"
          [showError]="formHelper.isControlInvalid(form.controls.projectionTypeUID)"
          (changes)="onProjectionTypeChanges($event)">
        </emp-ng-select>

      </div>

      <div class="fx-item-half">

        <label>Fuente:</label>

        <emp-ng-select
          formControlName="sourceUID"
          [config]="{showTooltip: true, autoSelect: !isSaved}"
          [items]="sourcesList"
          [loading]="isLoading"
          [placeholder]="formHelper.getConditionalPlaceholder(editionMode, !!form.value.projectionTypeUID, 'tipo de proyección')"
          [showError]="formHelper.isControlInvalid(form.controls.sourceUID)">
        </emp-ng-select>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Tipo de proyecto:</label>

        <emp-ng-select
          formControlName="projectTypeUID"
          [config]="{showTooltip: true, autoSelect: !isSaved}"
          [items]="projectTypesList"
          [loading]="isLoading"
          [placeholder]="formHelper.getConditionalPlaceholder(editionMode, form.controls.projectionTypeUID.valid, 'tipo de proyección')"
          [showError]="formHelper.isControlInvalid(form.controls.projectTypeUID)"
          (changes)="onProjectTypeChanges($event)">
        </emp-ng-select>

      </div>

      <div class="fx-item-half">

        <label>Palabras de búsqueda adicionales:</label>
        <emp-ng-input-tags
          formControlName="tags"
          [showError]="formHelper.isControlInvalid(form.controls.tags)">

        </emp-ng-input-tags>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Proyecto:</label>

        <emp-ng-select
          formControlName="projectUID"
          [config]="{showTooltip: true, autoSelect: !isSaved}"
          [items]="projectsList"
          [loading]="isLoading"
          [placeholder]="formHelper.getConditionalPlaceholder(editionMode, !!form.value.projectTypeUID, 'tipo de proyecto')"
          [showError]="formHelper.isControlInvalid(form.controls.projectUID)"
          (changes)="onProjectChanges($event)">
        </emp-ng-select>

      </div>

      <div class="fx-item-half">

        <label>Cuenta:</label>

        <emp-ng-select
          formControlName="accountUID"
          [config]="{showTooltip: true, autoSelect: !isSaved}"
          [items]="accountsList"
          [loading]="isLoading"
          [placeholder]="formHelper.getConditionalPlaceholder(editionMode, !!form.value.projectUID, 'proyecto')"
          [showError]="formHelper.isControlInvalid(form.controls.accountUID)">
        </emp-ng-select>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-one">
        <label>Justificación:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          formControlName="justification"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.justification)">
        </textarea>
      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-one">
        <label>Descripción:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          formControlName="description"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">
        </textarea>
      </div>

    </div>

  </div>

  <mat-divider class="horizontal" *ngIf="!isSaved || hasActions">

  </mat-divider>

  <div #rowFooter class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitButtonClicked()">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div class="fx-item fx-items-center">

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.canDelete"
            type="button" class="btn-warning"
            (click)="onEventButtonClicked('Delete')">
            Eliminar
          </button>

        </ng-container>

        <ng-container *ngIf="!editionMode">

          <button *ngIf="actions.canSendToAuthorization"
            type="button" class="btn"
            (click)="onEventButtonClicked('SendToAuthorization')">
            Enviar a autorización
          </button>

          <button *ngIf="actions.canAuthorize"
            type="button" class="btn-action"
            (click)="onEventButtonClicked('Authorize')">
            Autorizar
          </button>

          <button *ngIf="actions.canClose"
            type="button" class="btn-action"
            (click)="onEventButtonClicked('Close')">
            Cerrar
          </button>

          <button *ngIf="actions.canReject"
            type="button" class="btn"
            (click)="onEventButtonClicked('Reject')">
            Rechazar
          </button>

        </ng-container>

      </div>

      <div class="fx-item fx-end fx-items-center">

        <button *ngIf="!editionMode && (actions.canDelete || actions.canUpdate)"
          class="btn-action"
          (click)="enableEditor(true)">
          Editar
        </button>

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.canUpdate"
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>

        </ng-container>

      </div>

    </ng-container>

  </div>

</form>


<emp-ng-confirm-submit-modal *ngIf="!!confirmModalMode"
  entityPronoun="la"
  entityText="proyección"
  [entityUID]="projection.uid"
  [entityNo]="projection.projectionNo"
  [entityType]="projection.plan.name"
  [party]="projection.party.name"
  [mode]="confirmModalMode"
  (confirmSubmitModalEvent)="onConfirmSubmitModalEvent($event)">

</emp-ng-confirm-submit-modal>
