<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <div class="primary priority" [class.std-hide]="displayTabbedView">

    <emp-pyc-requests-explorer
      [requestsList]="requestsList"
      [query]="query"
      [requestData]="requestData"
      [selectedRequest]="selectedRequest"
      [isLoading]="isLoading"
      [queryExecuted]="queryExecuted"
      (requestsExplorerEvent)="onRequestsExplorerEvent($event)">

    </emp-pyc-requests-explorer>

  </div>

  <div class="secondary" *ngIf="displayTabbedView">

  </div>

</div>


<emp-pyc-request-creator *ngIf="displayCreator"
  [requestsList]="requestsList"
  (requestCreatorEvent)="onRequestCreatorEvent($event)">

</emp-pyc-request-creator>
