<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <div class="primary priority" [class.std-hide]="displayTabbedView">

    <emp-pyc-requests-explorer
      [processGroup]="processGroup"
      [data]="data"
      [entrySelected]="entrySelected"
      [isLoading]="isLoading"
      [queryExecuted]="queryExecuted"
      (requestsExplorerEvent)="onRequestsExplorerEvent($event)">

    </emp-pyc-requests-explorer>

  </div>

  <div class="secondary" *ngIf="displayTabbedView">

  </div>

</div>
