<div class="fill-table-container" [style.width.%]="100">

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="party">
      <th mat-header-cell *matHeaderCellDef> Área </th>
      <td mat-cell *matCellDef="let row">
        {{ row.partyName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="budgetAccount">
      <th mat-header-cell *matHeaderCellDef
        [class.sticky-start.sticky-start-width]="hasItems">
        Partida
      </th>
      <td mat-cell *matCellDef="let row" class="sticky-start italic-text nowrapwrap"
        [title]="row.budgetAccountName">
        {{ row.budgetAccountCode }}
      </td>
    </ng-container>

    <ng-container matColumnDef="productCode">
      <th mat-header-cell *matHeaderCellDef [class.sticky-padding]="hasItems">
        CUCoP
      </th>
      <td mat-cell *matCellDef="let row" class="sticky-padding nowrap">
        {{ !!row.productCode ? row.productCode : '-' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let row">
        {{ !!row.description ? row.description : '-' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="controlNo">
      <th mat-header-cell *matHeaderCellDef> Verif </th>
      <td mat-cell *matCellDef="let row" class="nowrap">
        {{ !!row.controlNo ? row.controlNo : '-' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="program">
      <th mat-header-cell *matHeaderCellDef> Programa </th>
      <td mat-cell *matCellDef="let row">
        {{ !!row.program ? row.program : '-' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef class="nowrap"> Año </th>
      <td mat-cell *matCellDef="let row">{{ row.year }}</td>
    </ng-container>

    <ng-container matColumnDef="month">
      <th mat-header-cell *matHeaderCellDef> Mes </th>
      <td mat-cell *matCellDef="let row">{{ row.monthName }}</td>
    </ng-container>

    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef> Día </th>
      <td mat-cell *matCellDef="let row">{{ row.day }}</td>
    </ng-container>

    <ng-container matColumnDef="balanceColumn">
      <th mat-header-cell *matHeaderCellDef> Movimiento </th>
      <td mat-cell *matCellDef="let row" class="nowrap">{{ row.balanceColumn }}</td>
    </ng-container>

    <ng-container matColumnDef="deposit">
      <th mat-header-cell *matHeaderCellDef class="text-align-right nowrap"> Ampliaciones </th>
      <td mat-cell *matCellDef="let row" class="text-align-right nowrap">
        {{ row.deposit !== 0 ? (row.deposit | empDecimal) : '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="withdrawal">
      <th mat-header-cell *matHeaderCellDef class="text-align-right"> Reducciones </th>
      <td mat-cell *matCellDef="let row" class="text-align-right">
        {{ row.withdrawal !== 0 ? (row.withdrawal | empDecimal) : '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="actionDelete">
      <th mat-header-cell *matHeaderCellDef [class.sticky-end]="hasItems"> </th>
      <td mat-cell *matCellDef="let row" class="column-action sticky-end">

        <button mat-icon-button empNgStopPropagation *ngIf="!totalItemTypeList.includes(row.itemType)"
          title="Eliminar movimiento"
          (click)="onRemoveEntryClicked(row)">
          <mat-icon>
            delete
          </mat-icon>
        </button>

      </td>
    </ng-container>

    <ng-container matColumnDef="notFoundMessage">
      <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
        Esta transacción no tiene movimientos.
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectEntryClicked(row)"
      [class.selectable-row]="!totalItemTypeList.includes(row.itemType)"
      [class.item-type-total]="totalItemTypeList.includes(row.itemType)"></tr>
    <tr mat-footer-row *matFooterRowDef="['notFoundMessage']" class="text-not-found"
      [hidden]="dataSource.data.length > 0"></tr>

  </table>

</div>
