<div class="fx-column-container-fill fx-gap-half" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="submitted">

  </emp-ng-spinner>

  <emp-bdg-transaction-entries-controls
    [filter]="filter"
    [displayAllEntries]="displayAllEntries"
    [canEdit]="canEdit"
    (transactionEntriesControlsEvent)="onEntriesControlsEvent($event)">

  </emp-bdg-transaction-entries-controls>

  <emp-bdg-transaction-entries-table *ngIf="displayAllEntries"
    class="fx-item"
    [entries]="entries"
    [filter]="filter"
    [canDelete]="canEdit"
    (transactionEntriesTableEvent)="onEntriesTableEvent($event)">

  </emp-bdg-transaction-entries-table>

  <emp-ng-data-table *ngIf="!displayAllEntries"
    class="fx-item"
    [showControls]="false"
    [showColumnStickyStart]="true"
    [showColumnStickyEnd]="canEdit"
    [clickableEntry]="true"
    [dataTable]="groupedEntries"
    [externalFilter]="filter"
    [showDeleteButton]="canEdit"
    itemsNotFoundText="Esta transacción no tiene movimientos."
    (dataTableEvent)="onEntriesGroupedTableEvent($event)">

  </emp-ng-data-table>

</div>


<emp-bdg-transaction-entry-editor *ngIf="displayEntryEditor"
  [transaction]="transaction"
  [canUpdate]="canEdit"
  [entry]="selectedEntry"
  (transactionEntryEditorEvent)="onEntryEditorEvent($event)">

</emp-bdg-transaction-entry-editor>
