<emp-ng-card
  [heading]="title"
  [hint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab [label]="config.nameSingular">

      <emp-ng-supplier-editor *ngIf="displaySupplierData"
        [supplier]="supplierHolder.supplier"
        [actions]="data.actions"
        (supplierEditorEvent)="onSupplierEditorEvent($event)">
      </emp-ng-supplier-editor>

      <emp-ng-party-view *ngIf="!displaySupplierData"
        [config]="config"
        [data]="party">
      </emp-ng-party-view>

    </mat-tab>

    <mat-tab label="Responsabilidades" *ngIf="displayOrgUnitData">

      <ng-template matTabContent>

        <emp-ng-commisioner-accountabilities-edition
          [commissionerUID]="orgUnitHolder.organizationalUnit.uid"
          [data]="orgUnitHolder.accountabilities"
          [canEdit]="orgUnitHolder.actions?.canUpdate"
          (accountabilitiesEditionEvent)="onAccountabilitiesEditionEvent($event)">
        </emp-ng-commisioner-accountabilities-edition>

      </ng-template>

    </mat-tab>

    <mat-tab label="Puestos" *ngIf="displayOrgUnitData">

      <div class="instruction-text">
        No se encontraron registros.
      </div>

    </mat-tab>

    <mat-tab label="Cuentas" *ngIf="displaySupplierData">

      <emp-ng-payment-accounts-edition
        [supplierUID]="supplierHolder.supplier.uid"
        [paymentAccounts]="supplierHolder.paymentAccounts"
        [canEdit]="supplierHolder.actions.canUpdate"
        (paymentAccountsEditionEvent)="onPaymentAccountsEditionEvent($event)">
      </emp-ng-payment-accounts-edition>

    </mat-tab>

    <mat-tab label="Comprobantes" *ngIf="displaySupplierData">

      <emp-ng-bills-edition
        [bills]="supplierHolder.bills">

      </emp-ng-bills-edition>

    </mat-tab>

    <mat-tab label="Documentos" *ngIf="displaySupplierData">

      <emp-ng-documents-edition
        entityType="suppliers"
        [entityUID]="supplierHolder.supplier.uid"
        [documents]="supplierHolder.documents"
        [canEdit]="supplierHolder.actions?.canEditDocuments"
        (documentsEditionEvent)="onDocumentsEditionEvent($event)">
      </emp-ng-documents-edition>

    </mat-tab>

    <mat-tab label="Historial" *ngIf="displaySupplierData">

      <ng-template matTabContent>

        <emp-ng-history-table
          [history]="supplierHolder.history">
        </emp-ng-history-table>

      </ng-template>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
