<div class="fx-column-container" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="submitted || isLoading">

  </emp-ng-spinner>

  <emp-financial-operation-assigner *ngIf="canEdit"
    [accountUID]="accountUID"
    [operations]="data.availableOperations"
    (operationAssignerEvent)="onOperationAssignerEvent($event)">

  </emp-financial-operation-assigner>

  <br>

  <emp-financial-operations-table
    [accountUID]="accountUID"
    [operations]="data.currentOperations"
    [canEdit]="canEdit"
    (operationsTableEvent)="onOperationsTableEvent($event)">

  </emp-financial-operations-table>

</div>
