<div class="fill-table-container" [style.width.%]="100">

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="typeName">
      <th mat-header-cell *matHeaderCellDef class="nowrap"> Tipo </th>
      <td mat-cell *matCellDef="let row">
        {{ row.typeName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="categoryName">
      <th mat-header-cell *matHeaderCellDef> Categoría </th>
      <td mat-cell *matCellDef="let row">
        {{ row.categoryName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="orderNo">
      <th mat-header-cell *matHeaderCellDef class="nowrap"> No. orden </th>
      <td mat-cell *matCellDef="let row">
         {{ !row.orderNo ? 'N/D' : row.orderNo }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="nowrap"> Nombre </th>
      <td mat-cell *matCellDef="let row">
         {{ !row.name ? '-' : row.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="baseBudgetName">
      <th mat-header-cell *matHeaderCellDef class="nowrap"> Presupuesto </th>
      <td mat-cell *matCellDef="let row">
         {{ !row.baseBudgetName ? '-' : row.baseBudgetName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef class="text-align-right"> Total </th>
      <td mat-cell *matCellDef="let row" class="text-align-right nowrap">
        {{row.total | empDecimal}} <span *ngIf="!!row.currencyName">({{row.currencyName}})</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="period">
      <th mat-header-cell *matHeaderCellDef> Vigencia </th>
      <td mat-cell *matCellDef="let row">
        {{!row.startDate ? '' : (row.startDate | empDateTimeFormat)}}
        <span *ngIf="(row.startDate && row.endDate) || (!row.startDate && !row.endDate)">-</span>
        {{!row.endDate ? '' : (row.endDate | empDateTimeFormat)}}
      </td>
    </ng-container>

    <ng-container matColumnDef="notFoundMessage">
      <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
        No se encontraron {{ordersName | lowercase}}.
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['notFoundMessage']" class="text-not-found"
      [hidden]="dataSource.data.length > 0"></tr>

  </table>

</div>
