<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

      <div class="fx-row-container">

        <div class="fx-item-size" style="--size: calc(55% - 221px)">

          <label>Tipo de consulta:</label>

          <emp-ng-select name="queryType" required
            [(ngModel)]="formData.queryType"
            [items]="queryTypeList"
            [showError]="!formData.queryType">
          </emp-ng-select>

        </div>


        <div class="fx-item-none">

          <label>Período:</label>

          <emp-ng-date-range-picker name="datePeriod" required
            [(ngModel)]="formData.datePeriod"
            [showError]="!formData.datePeriod.fromDate || !formData.datePeriod.toDate">
          </emp-ng-date-range-picker>

        </div>


        <div class="fx-item">

          <label>Conceptos:</label>

          <emp-ng-input-tags name="keywords" required
            [(ngModel)]="formData.accounts"
            [showError]="!formData.accounts || formData.accounts.length === 0"
            (clear)="formData.accounts = []">
          </emp-ng-input-tags>

        </div>

        <div class="fx-item-none" [style.marginTop.px]="13">

          <button [class.btn-icon-action]="form.valid"
            [class.btn-icon]="form.invalid"
            [disabled]="form.invalid"
            (click)="onSearchClicked()"
            title="Buscar registros">

            <mat-icon>search</mat-icon>

          </button>

        </div>

      </div>

      <div class="fx-row-container">

        <div class="fx-item-size" style="--size: 55%">

          <label>Contabilidad:</label>

          <emp-ng-select name="ledger"
            [config]="{clearable: true, multiple: true, showTooltip: true}"
            [(ngModel)]="formData.ledgers"
            [items]="ledgersList"
            [loading]="isLoading"
            placeholder="Todas">
          </emp-ng-select>

        </div>

      </div>

  </div>

</form>
