<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

      <div class="fx-row-container">

        <div class="fx-item-size" style="--size: 40%">

          <label>Tipo de consulta:</label>

          <emp-ng-select name="queryType" required
            [(ngModel)]="formData.queryType"
            [config]="{showTooltip: true}"
            [items]="queryTypeList"
            [showError]="!formData.queryType"
            (changes)="onQueryTypeChanges()">
          </emp-ng-select>

        </div>

        <div class="fx-item-none" *ngIf="displayPeriod">

          <label>Período:</label>

          <emp-ng-date-range-picker name="datePeriod" required
            [(ngModel)]="formData.datePeriod"
            [showError]="!formData.datePeriod.fromDate || !formData.datePeriod.toDate">
          </emp-ng-date-range-picker>

        </div>

        <div class="fx-item-size" style="--size: 25%" *ngIf="displayOperationType">

          <label>Tipo de operación:</label>

          <emp-ng-select name="operationTypeUID"
            [(ngModel)]="formData.operationTypeUID"
            [config]="{clearable: true, showTooltip: true}"
            [items]="operationTypesList"
            [loading]="isLoading"
            placeholder="Todos">
          </emp-ng-select>

        </div>

        <div class="fx-item">

          <label>{{keywordslabel}}:</label>

          <emp-ng-input-tags name="keywords" required
            [(ngModel)]="formData.keywords"
            [showError]="!formData.keywords || formData.keywords.length === 0"
            (clear)="formData.keywords = []">
          </emp-ng-input-tags>

        </div>

        <div class="fx-item-none" [style.marginTop.px]="13">

          <button [class.btn-icon-action]="form.valid"
            [class.btn-icon]="form.invalid"
            [disabled]="form.invalid"
            (click)="onSearchClicked()"
            title="Buscar registros">

            <mat-icon>search</mat-icon>

          </button>

        </div>

      </div>

      <div class="fx-row-container">

        <div class="fx-item-size" style="--size: 40%" *ngIf="displayLedgers">

          <label>Contabilidad:</label>

          <emp-ng-select name="ledger"
            [config]="{clearable: true, multiple: true, showTooltip: true}"
            [(ngModel)]="formData.ledgers"
            [items]="ledgersList"
            [loading]="isLoading"
            placeholder="Todas">
          </emp-ng-select>

        </div>

        <div class="fx-item-size" style="--size: 40%" *ngIf="displayParties">

          <label>Área:</label>

          <emp-ng-select name="parties"
            [(ngModel)]="formData.parties"
            [config]="{virtualScroll: true, clearable: true, showTooltip: true}"
            [items]="orgUnitsList"
            [loading]="isLoading"
            placeholder="Todas">
          </emp-ng-select>

        </div>

      </div>

  </div>

</form>
