<div class="explorer fluid">

  <div class="primary">

    <div class="card card-border">

      <div class="card-header card-header-flat">

        <div class="card-title">
          Búsqueda universal

          <div class="card-hint" empNgProgressText
            loadingText="Cargando"
            [finalText]="cardHint"
            [isLoading]="isLoading">
          </div>

        </div>

      </div>

      <div class="card-body">

        <div class="fx-column-container-fill" [empNgSpinnerHost]="spinner">

          <emp-ng-spinner #spinner [visible]="isLoading" >

          </emp-ng-spinner>

          <emp-pyc-record-search-filter class="fx-item-none"
            [query]="data.query"
            (recordSearchFilterEvent)="onRecordSearchFilterEvent($event)">

          </emp-pyc-record-search-filter>

          <emp-ng-data-table class="fx-item"
            [dataTable]="data"
            [executed]="data.queryExecuted"
            [notQueryExecutedText]="isLoading ? 'Cargando...' : 'No se ha invocado la consulta.'"
            (dataTableEvent)="onDataTableEvent($event)">

          </emp-ng-data-table>

        </div>

      </div>

    </div>

  </div>

</div>
