<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

      <div class="fx-row-container">

        <div class="fx-item-half">

          <label>Buscar:</label>

          <emp-ng-select name="type" required
            [(ngModel)]="formData.type"
            [items]="recordSearchTypeList"
            [showError]="!formData.type">
          </emp-ng-select>

        </div>


        <div class="fx-item">

          <label>Período:</label>

          <emp-ng-date-range-picker name="datePeriod" required
            [(ngModel)]="formData.datePeriod"
            [showError]="!formData.datePeriod.fromDate || !formData.datePeriod.toDate">
          </emp-ng-date-range-picker>

        </div>


        <div class="fx-item-half fx-items-end">

          <div class="input-search-container">

            <input type="text" class="text-box" name="keywords" #keywords="ngModel" required
              placeholder="Buscar por concepto, descripción, palabra..."
              [(ngModel)]="formData.keywords"
              [class.invalid-control]="keywords.invalid"
              (keyup.enter)="onSearchClicked()"
              (keyup.escape)="onClearKeywords()">

          </div>

        </div>

        <div class="fx-item-none" [style.marginTop.px]="13">

          <button [class.btn-icon-action]="form.valid"
            [class.btn-icon]="form.invalid"
            [disabled]="form.invalid"
            (click)="onSearchClicked()"
            title="Buscar registros">

            <mat-icon>search</mat-icon>

          </button>

        </div>

      </div>

  </div>

</form>
