<div class="fx-column-container-fill">

  <emp-ng-list-controls *ngIf="queryExecuted"
    class="fx-item-none"
    [config]="{itemsName: 'resguardos', itemsPronouns: 'los', selectionMessage: 'seleccionados', showExportButton: true}"
    [selection]="selection"
    [operationsList]="operationsList"
    (listControlsEvent)="onListControlsEvent($event)">

  </emp-ng-list-controls>

  <div class="fx-item">

    <cdk-virtual-scroll-viewport tvsItemSize="41">

      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="check">
          <th mat-header-cell *matHeaderCellDef>
            <emp-ng-check-box-all title="Todos" *ngIf="dataSource.data.length > 0"
              [(selection)]="selection"
              [values]="dataSource.data">
            </emp-ng-check-box-all>
          </th>
          <td mat-cell *matCellDef="let row" class="column-checkbox">
            <mat-checkbox empNgStopPropagation
              [checked]="selection.isSelected(row)"
              (change)="selection.toggle(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="assignedTo">
          <th mat-header-cell *matHeaderCellDef class="nowrap"> Responsable </th>
          <td mat-cell *matCellDef="let row" class="column-lg">
            <a class="item-link" (click)="onSelectButtonClicked(row)">{{ row.assignedToName }}</a> <br>
            {{ row.assignedToOrgUnitName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="locationName">
          <th mat-header-cell *matHeaderCellDef> Localización </th>
          <td mat-cell *matCellDef="let row">{{row.locationName}}</td>
        </ng-container>

        <ng-container matColumnDef="lastTransaction">
          <th mat-header-cell *matHeaderCellDef class="nowrap"> Última transacción </th>
          <td mat-cell *matCellDef="let row" class="nowrap">
            <span class="text-highlight">{{row.lastAssignmentTransactionNo}}</span><br>
            {{row.lastAssignmentApplicationDate | empDateTimeFormat}}
          </td>
        </ng-container>

        <ng-container matColumnDef="releasedBy">
          <th mat-header-cell *matHeaderCellDef class="nowrap"> Entregó </th>
          <td mat-cell *matCellDef="let row">
            <span class="text-highlight nowrap">{{ row.releasedByName }}</span> <br>
            {{ row.releasedByOrgUnitName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="notFoundMessage">
          <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
            {{queryExecuted ? 'No se encontraron resguardos con el filtro proporcionado.' :
              'No se ha invocado la búsqueda de resguardos.'}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [class.row-selected]="row.uid === selectedUID"></tr>
        <tr mat-footer-row *matFooterRowDef="['notFoundMessage']" class="text-not-found"
          [hidden]="dataSource.data.length > 0"></tr>

      </table>

    </cdk-virtual-scroll-viewport>

  </div>

</div>
