<div class="list-header">

  <div class="list-header-container">

    <div class="fx-row-container fx-gap-size entry-gap-size fx-items-center sm-fx-gap">

      <div class="fx-item-size check-column-size sm-fx-item-none" *ngIf="displayControls">
        <div *ngIf="dataList.length > 0">

          <emp-ng-check-box-all
            [(selection)]="selection"
            [values]="dataList">
          </emp-ng-check-box-all>

        </div>
      </div>

      <div class="fx-item-size first-column-size sm-fx-item-none">
        <span class="nowrap">No. transacción</span><br>
        <span class="nowrap">Tipo de transacción</span><br>
        Área
      </div>

      <div class="fx-item-size second-column-size sm-fx-item-none">
        <span class="nowrap">Tipo de presupuesto</span> <br>
        Presupuesto<br>
        Total
      </div>

      <div class="fx-item">
        Fuente<br>
        <span class="nowrap">Fecha de solicitud</span><br>
      </div>

      <div class="fx-item-size status-column-size sm-fx-item-none">
        Estado<br>
        <span class="nowrap">Fecha de aplicación</span><br>
      </div>

    </div>

  </div>

</div>
