<emp-ng-card
  [heading]="title"
  [hint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Concepto">

      <emp-financial-concept-view
        [concept]="data.concept"
        [actions]="data.actions"
        (conceptViewEvent)="onConceptViewEvent($event)">

      </emp-financial-concept-view>

    </mat-tab>

    <mat-tab label="Integración">

      <emp-financial-concept-integration-table
        [integration]="data.integration"
        (conceptIntegrationTableEvent)="onConceptIntegrationTableEvent($event)">

      </emp-financial-concept-integration-table>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
