<emp-ng-modal-window [config]="{width: '545px', maxHeight: '95vh'}">

  <emp-ng-card
    heading="Anexar comprobante"
    hint="Información del comprobante o factura a anexar."
    (cardClose)="onCloseButtonClicked()">

    <div class="card-body-padding">

      <form [formGroup]="form" [empNgSpinnerHost]="spinner" empNgFormKeyDownEnter
        autocomplete="off" class="form-section">

        <emp-ng-spinner #spinner [visible]="submitted">

        </emp-ng-spinner>

        <div class="fx-column-container-fill fx-gap-half">

          <div class="fx-row-container">

            <div class="fx-item-one" >
              <label>Tipo de comprobante:</label>
              <emp-ng-select
                formControlName="documentProductUID"
                [items]="documentProductsList"
                [loading]="isLoading"
                [showError]="formHelper.isControlInvalid(form.controls.documentProductUID)"
                (changes)="onDocumentProductChanges($event)">
              </emp-ng-select>
            </div>

          </div>

          <div class="fx-row-container">

            <div [class]="isCFDI ? 'fx-item-one' : 'fx-item-three-quarter'">
              <label>Descripción del comprobante:</label>
              <input type="text" class="text-box"
                  formControlName="name"
                  [class.invalid-control]="formHelper.isControlInvalid(form.controls.name)">
            </div>

            <div class="fx-item-quarter" *ngIf="!isCFDI">

              <label>Importe:</label>

              <emp-ng-input-numeric
                formControlName="total"
                [showError]="formHelper.isControlInvalid(form.controls.total)">
              </emp-ng-input-numeric>

            </div>

          </div>

          <div class="section-title"> Archivos a anexar </div>

          <div class="fx-column-container fx-gap-half" [style.min-height.px]="63">

            <ng-container *ngIf="form.controls.documentProductUID.invalid">

              <div class="instruction-text">
                Seleccionar el tipo de comprobante.
              </div>

            </ng-container>

            <ng-container *ngIf="form.controls.documentProductUID.valid">

              <div class="fx-item-one" *ngIf="isCFDI">

                <label>Archivo XML (CFDI):</label>
                <emp-ng-file-control
                  [(fileControl)]="xmlFile"
                  [config]="{autoUpload: true,
                            filesTypes: ['xml'],
                            placeholder: 'Elegir o arrastrar el archivo XML.' }"
                  [showError]="isFormInvalidated && !xmlFile">

                </emp-ng-file-control>

              </div>

              <div class="fx-item-one">

                <label>Archivo PDF{{isCFDI ? ' (CFDI)' : ''}}:</label>
                <emp-ng-file-control
                  [(fileControl)]="pdfFile"
                  [config]="{autoUpload: true,
                             filesTypes: ['pdf'],
                             placeholder: 'Elegir o arrastrar el archivo PDF.' }"
                  [showError]="isFormInvalidated && !isCFDI && !pdfFile">

                </emp-ng-file-control>

              </div>

            </ng-container>

          </div>


          <mat-divider class="horizontal-slim"></mat-divider>

          <div class="fx-row-container">

            <div class="fx-item fx-end fx-items-center">

              <button
                [class.btn]="!isFormReady"
                [class.btn-action]="isFormReady"
                (click)="onSubmitButtonClicked()">
                Anexar comprobante
              </button>

            </div>

          </div>

        </div>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
