<div class="fx-column-container-fill">

  <emp-ng-list-controls *ngIf="displayControls && dataList.length > 0 && selection.selected.length > 0"
    class="fx-item-none"
    [config]="{
      itemsName: isQueryTypeEntries ? 'movimientos' : 'pólizas',
      itemsPronouns: isQueryTypeEntries ? 'los' : 'las',
      selectionMessage: isQueryTypeEntries ? 'seleccionados' : 'seleccionadas'}"
    [selection]="selection"
    [operationsList]="operationsList"
    (listControlsEvent)="onListControlsEvent($event)">

  </emp-ng-list-controls>


  <emp-cf-cash-ledger-list-header
    class="fx-item-none"
    [queryType]="queryType"
    [dataList]="dataList"
    [selection]="selection"
    [displayControls]="displayControls">

  </emp-cf-cash-ledger-list-header>


  <div #listContainer class="fx-item">

    <cdk-virtual-scroll-viewport itemSize="67">

        <div *cdkVirtualFor="let item of dataList"
          class="list-item"
          [class.list-item-selected]="item.id === selectedID">

          <div class="list-item-container">

            <emp-cf-cash-ledger-list-item
              [queryType]="queryType"
              [item]="item"
              [selected]="selection.isSelected(item)"
              [displayControls]="displayControls"
              (cashLedgerListItemEvent)="onCashLedgerListItemEvent($event)">

            </emp-cf-cash-ledger-list-item>

          </div>

        </div>

        <div *ngIf="dataList.length === 0" class="text-not-found">
          {{ queryExecuted ?
             'No se encontraron registros ' + (displayControls ? ' con el filtro proporcionado.' : '.') :
             'No se ha invocado la búsqueda.' }}
        </div>

    </cdk-virtual-scroll-viewport>

  </div>

</div>
