<div class="list-header">

  <div class="list-header-container">

    <div class="fx-row-container fx-gap-size entry-gap-size fx-items-center sm-fx-gap">

      <div class="fx-item-size column-size-check sm-fx-item-none" *ngIf="displayControls">
        <div *ngIf="dataList.length > 0">

          <emp-ng-check-box-all
            [(selection)]="selection"
            [values]="dataList">
          </emp-ng-check-box-all>

        </div>
      </div>

      <div class="fx-item column-size-sm sm-fx-item-none">
        <span class="nowrap">No. Póliza</span><br>
        <span>Contabilidad</span><br>
        Origen
      </div>

      <div class="fx-item-size column-size-sm sm-fx-item-none">
        <span class="nowrap">Tipo de transacción</span><br>
        <span class="nowrap">Fecha de elaboración</span><br>
        Elaboró
      </div>

      <div class="fx-item-size column-size-sm sm-fx-item-none">
        <span class="nowrap">Tipo de póliza</span><br>
        <span class="nowrap">Fecha de afectación</span><br>
        Estado
      </div>

      <div class="fx-item">
        Concepto
      </div>

    </div>

  </div>

</div>
