<div class="fx-row-container fx-gap-size entry-gap-size sm-fx-gap">

  <div class="fx-item-size column-size-check sm-fx-item-none" *ngIf="displayControls">
    <mat-checkbox empNgStopPropagation
      [checked]="selected"
      (change)="onCheckClicked()">
    </mat-checkbox>
  </div>

  <div class="fx-item column-size-sm sm-fx-item-none">
    <div class="list-item-text-highlight nowrap"
      (click)="onSelectClicked()">
      <a class="bold-text">{{item.number}}</a>
    </div>
    <div class="bold-text">{{item.ledgerName}}</div>
    <div>{{item.sourceName ?? 'N/D'}}</div>
  </div>

  <div class="fx-item-size column-size-sm sm-fx-item-none">
    <div class="list-item-text-highlight">{{item.transactionTypeName ?? 'N/D'}}</div>
    <div class="bold-text">{{!item.recordingDate ? '-' : (item.recordingDate | empDateTimeFormat)}}</div>
    <div>{{item.elaboratedBy}}</div>
  </div>

  <div class="fx-item-size column-size-sm sm-fx-item-none">
    <div class="list-item-text-highlight">{{item.voucherTypeName ?? 'N/D'}}</div>
    <div class="bold-text">
      {{!item.accountingDate ? '-' : (item.accountingDate | empDateTimeFormat)}}
    </div>
    <div>{{!item.statusName ? '-' : item.statusName}}</div>
  </div>

  <div class="fx-item">
    <span>{{!item.concept ? '-' : item.concept}}</span>
  </div>

</div>
