<div class="fx-column-container-fill fx-gap-half" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="submitted">

  </emp-ng-spinner>

  <emp-financial-accounts-controls
    [filter]="filter"
    [canEdit]="canUpdate"
    (accountsControlsEvent)="onAccountsControlsEvent($event)">

  </emp-financial-accounts-controls>

  <emp-financial-accounts-table
    class="fx-item"
    [accounts]="accounts"
    [filter]="filter"
    [showProject]="showProject"
    [showOperations]="showOperations"
    [canDelete]="canDelete"
    [canEditStatus]="canEditStatus"
    [canEditOperations]="canEditOperations"
    (accountsTableEvent)="onAccountsTableEvent($event)">

  </emp-financial-accounts-table>

</div>


<emp-financial-account-modal *ngIf="displayAccountModal"
  [chartOfAccountsUID]="chartOfAccountsUID"
  [projectUID]="projectUID"
  [organizationalUnitUID]="organizationalUnitUID"
  [account]="selectedAccount"
  [accountTypesList]="accountTypesList"
  [canUpdate]="canUpdate"
  (accountModalEvent)="onAccountModalEvent($event)">

</emp-financial-account-modal>


<emp-financial-project-modal *ngIf="displayProjectModal"
  [projectUID]="projectUID"
  (projectModalEvent)="onProjectModalEvent($event)">

</emp-financial-project-modal>


<emp-financial-operations-modal *ngIf="displayOperationsModal"
  [projectUID]="projectUID"
  [accountUID]="selectedData.accountUID"
  [canEdit]="canEditOperations"
  (operationsModalEvent)="onOperationsModalEvent($event)">

</emp-financial-operations-modal>
