<emp-ng-modal-window [config]="{width:'900px'}">

  <emp-ng-card
    [heading]="title"
    hint='Información de la cuenta'
    (cardClose)="onCloseModalClicked()">

    <div class="card-body-padding">

      <emp-financial-account-header
        [chartOfAccountsUID]="chartOfAccountsUID"
        [projectUID]="projectUID"
        [organizationalUnitUID]="organizationalUnitUID"
        [account]="account"
        [initAccountTypesList]="accountTypesList"
        [canUpdate]="canUpdate"
        (accountHeaderEvent)="onAccountHeaderEvent($event)">

      </emp-financial-account-header>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
