  <div class="fx-row-container">

    <div class="fx-item">

      <label>Buscar (No. crédito SIC):</label>

      <input #inputSearch empNgAutofocus
        type="text" class="text-box"
        [(ngModel)]="externalCreditNo"
        [class.invalid-control]="!externalCreditNo"
        [disabled]="hasValidData"
        (keyup.escape)="externalCreditNo = null"
        (keyup.enter)="onExternalCreditSearch()">

    </div>

    <div class="fx-item-none" [style.paddingTop.px]="13">

      <button *ngIf="!hasValidData"
        title="Buscar"
        [class.btn-icon]="!externalCreditNo"
        [class.btn-icon-action]="externalCreditNo"
        [class.spinner]="isLoading"
        (click)="onExternalCreditSearch()">

        <mat-icon> search </mat-icon>

      </button>

      <button *ngIf="hasValidData"
        title="Limpiar"
        class="btn-icon"
        (click)="onExternalCreditClear()">

        <mat-icon> close </mat-icon>

      </button>

    </div>

  </div>
