<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      {{ cardTitle }}

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="cardHint"
        [isLoading]="isLoading">
      </div>

    </div>

   <div class="card-header-options">

      <div class="fx-row-container fx-space-between fx-items-center fx-gap-half">

        <emp-ng-select
          [(ngModel)]="stage"
          [items]="stagesList"
          [required]="true"
          [showError]="!stage"
          [style.width.px]="160"
          [style.min-width.px]="160"
          (changes)="onStageChanged()">
        </emp-ng-select>

        <ng-container *empNgHasPermission="PERMISSION_TO_CREATE">

          <mat-divider vertical="true" class="vertical-slim">

          </mat-divider>

          <button
            class="btn-action"
            (click)="onCreateTransactionClicked()">
            Agregar transacción
          </button>

        </ng-container>

      </div>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div class="fx-column-container-fill">

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>


      <emp-pyc-transactions-filter
        class="fx-item-none"
        [stage]="stage"
        [query]="query"
        [(showFilters)]="showFilters"
        (transactionsFilterEvent)="onTransactionsFilterEvent($event)">

      </emp-pyc-transactions-filter>

      <emp-pyc-transactions-list class="fx-item"
        [dataList]="dataList"
        [selectedUID]="selectedUID"
        [queryExecuted]="queryExecuted"
        (transactionsListEvent)="onTransactionsListEvent($event)">

      </emp-pyc-transactions-list>
    </div>

  </div>

</div>


<emp-ng-export-report-modal *ngIf="displayExportModal"
  title="Exportar transacciones de activo fijo"
  [fileUrl]="fileUrl"
  (exportReportModalEvent)="onExportReportModalEvent($event)">

</emp-ng-export-report-modal>
