<emp-ng-modal-window [config]="{width:'750px'}">

  <emp-ng-card
    [title]="title"
    hint='Información de los conceptos asignados a la cuenta.'
    (cardClose)="onCloseButtonClicked()">

    <div class="card-body-padding" [empNgSpinnerHost]="spinner" [style.overflow]="'hidden'">

      <emp-ng-spinner #spinner [visible]="submitted">

      </emp-ng-spinner>

      <emp-cf-operation-assigner *ngIf="canEdit"
        [accountUID]="accountUID"
        [operations]="data.availableOperations"
        (operationAssignerEvent)="onOperationAssignerEvent($event)">

      </emp-cf-operation-assigner>

      <br>

      <emp-cf-operations-table
        [accountUID]="accountUID"
        [operations]="data.currentOperations"
        [canEdit]="canEdit"
        (operationsTableEvent)="onOperationsTableEvent($event)">

      </emp-cf-operations-table>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
