<emp-ng-card
  [title]="title + status"
  [hint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Contrato">

      <emp-pmt-contract-editor
        [contract]="data.contract"
        [actions]="data.actions"
        (contractEditorEvent)="onContractEditorEvent($event)">

      </emp-pmt-contract-editor>

    </mat-tab>

    <mat-tab label="Conceptos">

      <emp-pmt-contract-items-edition
        [contract]="data.contract"
        [items]="data.items"
        [canEdit]="data.actions.canEditItems"
        (contractItemsEditionEvent)="onContractItemsEditionEvent($event)">

      </emp-pmt-contract-items-edition>

    </mat-tab>

    <mat-tab label="Presupuesto">

      <ng-template matTabContent>

        <emp-bdg-budget-management
          [baseObjectType]="objectType"
          [baseObjectUID]="data.contract.uid"
          [baseObjectName]="title"
          [budgetTotal]="data.contract.total"
          [budgetTransactions]="data.budgetTransactions"
          [canRequest]="data.actions.canRequestBudget"
          (budgetManagementEvent)="onBudgetManagementEvent($event)">

        </emp-bdg-budget-management>

      </ng-template>

    </mat-tab>

    <mat-tab label="Entregas">

      <emp-pmt-contract-orders-table
        [orders]="data.orders">

      </emp-pmt-contract-orders-table>

    </mat-tab>

    <mat-tab label="Documentos">

      <emp-ng-documents-edition
        entityType="contracts"
        [entityUID]="data.contract.uid"
        [documents]="data.documents"
        [canEdit]="data.actions.canEditDocuments"
        (documentsEditionEvent)="onDocumentsEditionEvent($event)">

      </emp-ng-documents-edition>

    </mat-tab>

    <mat-tab label="Historial">

      <div class="instruction-text">
        No se encontraron registros.
      </div>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
