<emp-ng-card
  [title]="title"
  [hint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Contrato">

      <emp-pmt-contract-editor
        [contract]="contractData.contract"
        (contractEditorEvent)="onContractEditorEvent($event)">

      </emp-pmt-contract-editor>

    </mat-tab>

    <mat-tab label="Conceptos">

      <emp-pmt-contract-items-table
        [items]="contractData.items">

      </emp-pmt-contract-items-table>

    </mat-tab>

    <mat-tab label="Entregas">

      <emp-pmt-contract-milestones-table
        [milestones]="contractData.milestones">

      </emp-pmt-contract-milestones-table>

    </mat-tab>

    <mat-tab label="Documentos">

      <div class="instruction-text">
        No se encontraron registros.
      </div>

    </mat-tab>

    <mat-tab label="Historial">

      <div class="instruction-text">
        No se encontraron registros.
      </div>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
