<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <emp-financial-accounts-explorer
    class="primary"
    [class.std-hide]="displayTabbedView"
    [query]="query"
    [dataList]="dataList"
    [selectedUID]="selectedData.account.uid"
    [isLoading]="isLoading"
    [queryExecuted]="queryExecuted"
    (accountsExplorerEvent)="onAccountsExplorerEvent($event)">

  </emp-financial-accounts-explorer>

  <emp-financial-account-tabbed-view *ngIf="displayTabbedView"
    class="secondary priority std-stacked"
    [data]="selectedData"
    (accountTabbedViewEvent)="onAccountTabbedViewEvent($event)">

  </emp-financial-account-tabbed-view>

</div>


<emp-ng-export-report-modal *ngIf="displayExportModal"
  title="Exportar cuentas"
  [fileUrl]="fileUrl"
  (exportReportModalEvent)="onExportReportModalEvent($event)">

</emp-ng-export-report-modal>
