<emp-ng-card
  [title]="title"
  [hint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Solicitud">

      <emp-pyc-request-editor
        [requestsList]="requestsList"
        [request]="data.request"
        (requestEditorEvent)="onRequestEditorEvent($event)">

      </emp-pyc-request-editor>

    </mat-tab>

    <mat-tab label="Tareas">

      <emp-pyc-request-steps-edition
        [requestsList]="requestsList"
        [requestData]="data"
        (requestStepsEditionEvent)="onRequestStepsEditionEvent($event)">

      </emp-pyc-request-steps-edition>

    </mat-tab>

    <mat-tab label="Documentos">

      <emp-ng-documents-edition
        entityType="requests"
        [entityUID]="data.request.uid"
        [documents]="data.documents"
        [canEdit]="data.request.actions.canEditDocuments"
        (documentsEditionEvent)="onDocumentsEditionEvent($event)">

      </emp-ng-documents-edition>

    </mat-tab>

    <mat-tab label="Historial">

      <div class="instruction-text">
        No se encontraron registros.
      </div>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
