<emp-ng-card
  [title]="title"
  [hint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Solicitud">

      <emp-pyc-request-editor
        [requestsList]="requestsList"
        [request]="requestData.request"
        (requestEditorEvent)="onRequestEditorEvent($event)">

      </emp-pyc-request-editor>

    </mat-tab>

    <mat-tab label="Tareas">

      <emp-pyc-request-tasks-edition
        [requestData]="requestData"
        (requestTasksEditionEvent)="onRequestTasksEditionEvent($event)">

      </emp-pyc-request-tasks-edition>

    </mat-tab>

    <mat-tab label="Documentos">

      <div class="instruction-text">
        No se han agregado documentos a la solicitud.
      </div>

    </mat-tab>

    <mat-tab label="Historial">

      <div class="instruction-text">
        No se encontraron registros.
      </div>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
