<div class="fx-column-container-fill">

  <emp-ng-list-controls *ngIf="displayControls && dataList.length > 0 && selection.selected.length > 0"
    class="fx-item-none"
    [config]="{
      itemsPronouns: 'las',
      itemsName: 'transacciones',
      selectionMessage: 'seleccionadas',
      labelOperationSize: '300px'
    }"
    [selection]="selection"
    [operationsList]="operationsList"
    (listControlsEvent)="onListControlsEvent($event)">

  </emp-ng-list-controls>


  <emp-bdg-transactions-list-header
    class="fx-item-none"
    [dataList]="dataList"
    [selection]="selection"
    [displayControls]="displayControls"
    [displayFile]="displayFile">

  </emp-bdg-transactions-list-header>


  <div #listContainer class="fx-item">

    <cdk-virtual-scroll-viewport itemSize="67">

        <div *cdkVirtualFor="let item of dataList"
          class="list-item"
          [class.list-item-selected]="item.uid === selectedUID">

          <div class="list-item-container">

            <emp-bdg-transactions-list-item
              [transaction]="item"
              [selected]="selection.isSelected(item)"
              [displayControls]="displayControls"
              [displayFile]="displayFile"
              (transactionsListItemEvent)="onTransactionsListItemEvent($event)">

            </emp-bdg-transactions-list-item>

          </div>

        </div>

        <div *ngIf="dataList.length === 0" class="text-not-found">
          {{ queryExecuted ?
             'No se encontraron transacciones ' + (displayControls ? 'con el filtro proporcionado.' : '.') :
             'No se ha invocado la búsqueda de transacciones.' }}
        </div>

    </cdk-virtual-scroll-viewport>

  </div>

</div>
