<div class="list-header">

  <div class="list-header-container">

    <div class="fx-row-container fx-gap-size entry-gap-size fx-items-center sm-fx-gap">

      <div class="fx-item-size column-size-check" *ngIf="displayControls">
        <div *ngIf="dataList.length > 0">

          <emp-ng-check-box-all
            [(selection)]="selection"
            [values]="dataList">
          </emp-ng-check-box-all>

        </div>
      </div>

      <div class="fx-item">
        <span class="nowrap">No. transacción</span><br>
        <span class="nowrap">Tipo de transacción</span><br>
        Área
      </div>

      <div class="fx-item-size column-size-sm">
        Presupuesto <br>
        <span class="nowrap">Documento relacionado</span><br>
        Total
      </div>

      <div class="fx-item-size column-size-md">
        Fuente<br>
        <span class="nowrap">Fecha de elaboración</span><br>
        Elaboró
      </div>

      <div class="fx-item-size column-size-md">
        Estado<br>
        <span class="nowrap">Fecha de autorización</span><br>
        Autorizó
      </div>

      <div class="fx-item-size column-size-action" *ngIf="displayFile">

      </div>

    </div>

  </div>

</div>
