<div class="fx-row-container fx-gap-size entry-gap-size sm-fx-gap">

  <div class="fx-item-size column-size-check" *ngIf="displayControls">
    <mat-checkbox empNgStopPropagation
      [checked]="selected"
      (change)="onCheckClicked()">
    </mat-checkbox>
  </div>

  <div class="fx-item">
    <div class="list-item-text-highlight nowrap"
      (click)="onSelectClicked()">
      <a class="bold-text">{{transaction.transactionNo}}</a>
    </div>
    <div class="bold-text">{{transaction.transactionTypeName}}</div>
    <div>{{transaction.basePartyName}}</div>
  </div>

  <div class="fx-item-size column-size-sm">
    <div class="list-item-text-highlight">{{transaction.budgetTypeName}}</div>
    <div class="bold-text">{{transaction.budgetName}}</div>
    <div>{{transaction.total | empDecimal}}</div>
  </div>

  <div class="fx-item-size column-size-md">
    <div class="list-item-text-highlight">{{transaction.operationSourceName}}</div>
    <div class="bold-text">
      {{!transaction.recordingDate ? '-' : (transaction.recordingDate | empDateTimeFormat)}}
    </div>
    <div>{{!transaction.recordedBy ? '-' : transaction.recordedBy}}</div>
  </div>

  <div class="fx-item-size column-size-md">
    <span class="tag" [style.font-size.px]="10"
      [ngClass]="{'tag-base-error': ['Suspendida', 'Eliminada' , 'Rechazada'].includes(transaction.statusName)}">
      {{transaction.statusName}}
    </span>
    <div class="bold-text" [style.padding-top.rem]="0.25">
      {{!transaction.authorizationDate ? '-' : (transaction.authorizationDate | empDateTimeFormat)}}
    </div>
    <div>{{!transaction.authorizedBy ? '-' : transaction.authorizedBy}}</div>
  </div>

</div>
