<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="section-title"> Información general del comprobante </div>

    <div class="fx-row-container">

      <div class="fx-item-size" style="--size: calc(100% - 126px)">

        <label>Área:</label>

        <emp-ng-select
          formControlName="managedByUID"
          [config]="{virtualScroll: true, showTooltip: true}"
          [items]="managedByList"
          [loading]="isLoading"
          [placeholder]="editionMode ? 'Seleccionar' : 'No determinado'"
          [showError]="formHelper.isControlInvalid(form.controls.managedByUID)">
        </emp-ng-select>

      </div>

      <div class="fx-item-none">
        <label>Emisión:</label>
        <emp-ng-datepicker
          formControlName="issueDate"
          [showError]="formHelper.isControlInvalid(form.controls.issueDate)">

        </emp-ng-datepicker>
      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Categoría:</label>

        <emp-ng-select
          formControlName="categoryUID"
          [items]="categoriesList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.categoryUID)">
        </emp-ng-select>

      </div>

      <div class="fx-item-half">

        <label>Tipo de comprobante:</label>

        <emp-ng-select
          formControlName="billTypeUID"
          [items]="billTypesList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.billTypeUID)">
        </emp-ng-select>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Emisor:</label>

        <emp-ng-select
          formControlName="issuedByUID"
          [items]="issuedByList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.issuedByUID)">
        </emp-ng-select>

      </div>

      <div class="fx-item-half">

        <label>Receptor:</label>

        <emp-ng-select
          formControlName="issuedToUID"
          [items]="issuedToList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.issuedToUID)">
        </emp-ng-select>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-quarter">
        <label>Moneda:</label>
        <input type="text" class="text-box"
          formControlName="currencyCode"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.currencyCode)">
      </div>

      <div class="fx-item-quarter">
        <label>Subtotal:</label>
        <emp-ng-input-numeric
          formControlName="subtotal"
          [showError]="formHelper.isControlInvalid(form.controls.subtotal)">
        </emp-ng-input-numeric>
      </div>

      <div class="fx-item-quarter">
        <label>Descuento:</label>
        <emp-ng-input-numeric
          formControlName="discount"
          [showError]="formHelper.isControlInvalid(form.controls.discount)">
        </emp-ng-input-numeric>
      </div>

      <div class="fx-item-quarter">
        <label>Total:</label>
        <emp-ng-input-numeric
          formControlName="total"
          [showError]="formHelper.isControlInvalid(form.controls.total)">
        </emp-ng-input-numeric>
      </div>

    </div>

    <div class="section-title"> Información del documento relacionado </div>

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Tipo de documento relacionado:</label>

        <emp-ng-select
          formControlName="baseEntityTypeUID"
          [items]="baseEntityTypesList"
          [loading]="isLoading"
          [placeholder]="formHelper.getSimplePlaceholder(editionMode)"
          [showError]="formHelper.isControlInvalid(form.controls.baseEntityTypeUID)">
        </emp-ng-select>

      </div>

      <div class="fx-item-half">

        <label>Documento relacionado:</label>

        <emp-ng-select
          formControlName="baseEntityUID"
          [items]="baseEntitiesList"
          [loading]="isLoading"
          [placeholder]="formHelper.getConditionalSearcherPlaceholder(editionMode,
                           form.controls.baseEntityTypeUID.valid, 'tipo de documento relacionado')"
          [showError]="formHelper.isControlInvalid(form.controls.baseEntityUID)">

          <ng-template #tLabelTemplate let-item="item">
            {{(!!item.entityNo ? item.entityNo : 'N/D') | uppercase}} | {{!item?.name ? 'N/D' : item?.name}}
          </ng-template>

          <ng-template #tOptionTemplate let-item="item">

            <div class="item wrap">

              <span class="item-highlight">
                {{(!!item.entityNo ? item.entityNo : 'N/D') | uppercase}} | {{!item?.name ? 'N/D' : item?.name}}

              </span> <br>
              <span class="item-text-xs primary-text">
                {{(!!item.entityNo ? item.entityNo : 'N/D') | uppercase}} | {{!item?.name ? 'N/D' : item?.name}}
              </span>

            </div>

          </ng-template>

        </emp-ng-select>

      </div>

    </div>

  </div>

  <mat-divider class="horizontal" *ngIf="!isSaved || hasActions">

  </mat-divider>

  <div #rowFooter class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitButtonClicked()">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div class="fx-item fx-items-center">

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.canDelete"
            type="button" class="btn-warning"
            (click)="onDeleteButtonClicked()">
            Eliminar
          </button>

        </ng-container>

        <ng-container *ngIf="!editionMode">

        </ng-container>

      </div>

      <div class="fx-item fx-end fx-items-center">

        <button *ngIf="!editionMode && (actions.canDelete || actions.canUpdate)"
          class="btn-action"
          (click)="enableEditor(true)">
          Editar
        </button>

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.canUpdate"
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>

        </ng-container>

      </div>

    </ng-container>

  </div>

</form>
