<div class="fx-column-container-fill">

  <emp-ng-list-controls *ngIf="dataList.length > 0 && selection.selected.length > 0"
    class="fx-item-none"
    [config]="{itemsName: 'obligaciones de pago', itemsPronouns: 'las', selectionMessage: 'seleccionadas'}"
    [selection]="selection"
    [operationsList]="operationsList"
    (listControlsEvent)="onListControlsEvent($event)">

  </emp-ng-list-controls>


  <emp-pmt-payables-list-header class="fx-item-none"
    [dataList]="dataList"
    [selection]="selection">

  </emp-pmt-payables-list-header>


  <div #listContainer class="fx-item">

    <cdk-virtual-scroll-viewport itemSize="61">

        <div *cdkVirtualFor="let item of dataList"
          class="list-item"
          [class.list-item-selected]="item.uid === selectedUID">

          <div class="list-item-container">

            <emp-pmt-payables-list-item
              [item]="item"
              [selected]="selection.isSelected(item)"
              (payablesListItemEvent)="onPayablesListItemEvent($event)">

            </emp-pmt-payables-list-item>

          </div>

        </div>

        <div *ngIf="dataList.length === 0" class="text-not-found">
          {{ queryExecuted ?
             'No se encontraron obligaciones de pago con el filtro proporcionado.' :
             'No se ha invocado la búsqueda de obligaciones de pago.' }}
        </div>

    </cdk-virtual-scroll-viewport>

  </div>

</div>
