<div class="fx-row-container fx-gap-size entry-gap-size sm-fx-gap">

  <div class="fx-item-size check-column-size">
    <mat-checkbox empNgStopPropagation
      [checked]="selected"
      (change)="onCheckClicked()">
    </mat-checkbox>
  </div>

  <div class="fx-item-size first-column-size">
    <div class="list-item-text-highlight nowrap"
      (click)="onSelectClicked()">
      <a class="bold-text">{{payable.payableNo}}</a>
    </div>
    <div class="bold-text">{{payable.payableTypeName}}</div>
    <div>{{payable.payTo}}</div>
  </div>

  <div class="fx-item-size second-column-size">
    <div class="list-item-text-highlight">{{payable.budgetTypeName}}</div>
    <div class="bold-text">{{payable.contractNo}}</div>
    <div>{{payable.total | empDecimal}} {{payable.currencyCode}}</div>
  </div>

  <div class="fx-item">
    <div class="list-item-text-highlight">{{payable.requestedBy}}</div>
    <div class="bold-text">
      {{!payable.requestedTime ? '-' : (payable.requestedTime | empDateTimeFormat: 'DMY HH:mm')}}
    </div>
    <div>
      {{!payable.dueTime ? '-' : (payable.dueTime | empDateTimeFormat: 'DMY HH:mm')}}
    </div>
  </div>

  <div class="fx-item-size status-column-size">
    <span class="tag"
      [ngClass]="{'tag-base-error': ['Suspendida', 'Eliminada' , 'Rechazada'].includes(payable.statusName)}">
      {{payable.statusName}}
    </span>
  </div>

</div>
