<div class="list-header">

  <div class="list-header-container">

    <div class="fx-row-container fx-gap-size entry-gap-size fx-items-center sm-fx-gap">

      <div class="fx-item-size check-column-size">
        <div *ngIf="dataList.length > 0">

          <emp-ng-check-box-all
            [(selection)]="selection"
            [values]="dataList">
          </emp-ng-check-box-all>

        </div>
      </div>

      <div class="fx-item-size first-column-size nowrap">
        <span class="nowrap">No. de solicitud</span> <br>
        <span class="nowrap">Tipo de solicitud</span> <br>
        <span class="nowrap">Pagar a</span>
      </div>

      <div class="fx-item-size second-column-size">
        Presupuesto <br>
        Orden <br>
        Total
      </div>

      <div class="fx-item">
        Deudor <br>
        <span class="nowrap">Solicitado por</span> <br>
        <span class="nowrap">Fecha de solicitud</span>
      </div>

      <div class="fx-item-size status-column-size">
        Estado <br>
        Prioridad <br>
        Vencimiento
      </div>

    </div>

  </div>

</div>
