<div class="fx-column-container-fill fx-gap-half" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="submitted">

  </emp-ng-spinner>

  <emp-inv-assignment-entries-table class="fx-item"
    [entries]="entries"
    [displayOperations]="canEdit"
    (assignmentEntriesTableEvent)="onAssignmentEntriesTableEvent($event)">

  </emp-inv-assignment-entries-table>

</div>


<emp-inv-assignments-operation-data *ngIf="displayOperationDataModal"
  [data]="selectedOperationData"
  (assignmentsOperationDataEvent)="onAssignmentsOperationDataEvent($event)">

</emp-inv-assignments-operation-data>


<emp-ng-file-preview #filePreview
  title="Impresión de transacción de activos fijos"
  hint="Información de la transacción de activos fijos">

</emp-ng-file-preview>
