<div class="section-title"> Información financiera </div>

<div class="fx-column-container fx-gap-half">

  <div class="fx-row-container">

    <div class="fx-item-quarter">

      <label>Saldo del crédito:</label>

        <emp-ng-input-numeric
          [(ngModel)]="selectedData.saldo"
          [showError]="showError && errors?.saldoError"
          [disabled]="disabled"
          (valueChange)="onSelectedDataChanged()">
        </emp-ng-input-numeric>

    </div>

    <div class="fx-item-quarter">

      <label>Interés (%):</label>

        <emp-ng-input-numeric
          [(ngModel)]="selectedData.interes"
          [showError]="showError && errors?.interesError"
          [disabled]="disabled"
          (valueChange)="onSelectedDataChanged()">
        </emp-ng-input-numeric>

    </div>

    <div class="fx-item-quarter">

      <label>Comisión (%):</label>

        <emp-ng-input-numeric
          [(ngModel)]="selectedData.comision"
          [showError]="showError && errors?.comisionError"
          [disabled]="disabled"
          (valueChange)="onSelectedDataChanged()">
        </emp-ng-input-numeric>

    </div>

    <div class="fx-item-quarter">

      <label>Tipo de cambio:</label>

        <emp-ng-input-numeric
          [(ngModel)]="selectedData.tipoCambio"
          [showError]="showError && errors?.tipoCambioError"
          [disabled]="disabled"
          (valueChange)="onSelectedDataChanged()">
        </emp-ng-input-numeric>

    </div>

  </div>

  <div class="fx-row-container">

    <div class="fx-item-quarter">

      <label>Plazo de inversión (meses):</label>

        <emp-ng-input-numeric
          [(ngModel)]="selectedData.plazoInversion"
          [showError]="showError && errors?.plazoInversionError"
          [disabled]="disabled"
          (valueChange)="onSelectedDataChanged()">
        </emp-ng-input-numeric>

    </div>

    <div class="fx-item-quarter">

      <label>Período de gracia (meses):</label>

        <emp-ng-input-numeric
          [(ngModel)]="selectedData.periodoGracia"
          [showError]="showError && errors?.periodoGraciaError"
          [disabled]="disabled"
          (valueChange)="onSelectedDataChanged()">
        </emp-ng-input-numeric>

    </div>

    <div class="fx-item-quarter">

      <label>Plazo de amortización (meses):</label>

        <emp-ng-input-numeric
          [(ngModel)]="selectedData.plazoAmortizacion"
          [showError]="showError && errors?.plazoAmortizacionError"
          [disabled]="disabled"
          (valueChange)="onSelectedDataChanged()">
        </emp-ng-input-numeric>

    </div>

    <div class="fx-item-quarter">

      <label>Fecha de amortizacion:</label>

        <emp-ng-datepicker
          [(ngModel)]="selectedData.fechaAmortizacion"
          [showError]="showError && errors?.fechaAmortizacionError"
          [disabled]="disabled"
          (valueChange)="onSelectedDataChanged()">

        </emp-ng-datepicker>

    </div>

  </div>

  <div class="fx-row-container">

    <div class="fx-item-quarter">

      <label>Tasa base (%):</label>

        <emp-ng-input-numeric
          [(ngModel)]="selectedData.tasa"
          [showError]="showError && errors?.tasaError"
          [disabled]="disabled"
          (valueChange)="onSelectedDataChanged()">
        </emp-ng-input-numeric>

    </div>

    <div class="fx-item-quarter">

      <label>Factor de ajuste de tasa:</label>

        <emp-ng-input-numeric
          [(ngModel)]="selectedData.factorTasa"
          [showError]="showError && errors?.factorTasaError"
          [disabled]="disabled"
          (valueChange)="onSelectedDataChanged()">
        </emp-ng-input-numeric>

    </div>

    <div class="fx-item-quarter">

      <label>Tasa mínima (piso) (%):</label>

        <emp-ng-input-numeric
          [(ngModel)]="selectedData.tasaPiso"
          [showError]="showError && errors?.tasaPisoError"
          [disabled]="disabled"
          (valueChange)="onSelectedDataChanged()">
        </emp-ng-input-numeric>

    </div>

    <div class="fx-item-quarter">

      <label>Tasa máxima (techo) (%):</label>

        <emp-ng-input-numeric
          [(ngModel)]="selectedData.tasaTecho"
          [showError]="showError && errors?.tasaTechoError"
          [disabled]="disabled"
          (valueChange)="onSelectedDataChanged()">
        </emp-ng-input-numeric>

    </div>

  </div>

</div>
