<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div class="fx-item-half fx-row-container">

        <div class="fx-item-size" style="--size: calc(100% - 221px)">

          <label class="nowrap">Tipo de reporte:</label>

          <emp-ng-select
            formControlName="reportType"
            [items]="reportTypesList"
            [showError]="formHelper.isControlInvalid(form.controls.reportType)">
          </emp-ng-select>

        </div>

        <div class="fx-item-none">

          <label>Fecha de afectación:</label>

          <emp-ng-date-range-picker
            formControlName="accountingDate"
            [showError]="formHelper.isControlInvalid(form.controls.accountingDate)">
          </emp-ng-date-range-picker>

        </div>

      </div>

      <div class="fx-item">

        <label>Contabilidad:</label>

        <emp-ng-select
          formControlName="accountingLedgerUID"
          [config]="{clearable: true, showTooltip: true}"
          [items]="accountingLedgersList"
          [showError]="formHelper.isControlInvalid(form.controls.accountingLedgerUID)"
          placeholder="Todas">
        </emp-ng-select>

      </div>

      <div #filterOptionsSection class="fx-item-none fx-items-end" [style.paddingBottom.px]="2">

        <button title="Buscar"
          [class.btn-icon-action]="this.form.valid"
          [class.btn-icon]="!this.form.valid"
          (click)="onSearchClicked()">

          <mat-icon>search</mat-icon>

        </button>

        <mat-divider vertical="true" class="vertical-slim">

        </mat-divider>

        <button class="btn-base btn-filter-options"
          (click)="onShowFiltersClicked()" >
          {{showFilters ? 'Ocultar' :'Mostrar'}} <mat-icon>filter_list</mat-icon>
        </button>

      </div>

    </div>

    <div *ngIf="showFilters" [@empExpandCollapse]>

      <div class="fx-column-container fx-gap-half">

        <mat-divider class="horizontal-md">

        </mat-divider>

        <div class="fx-row-container">

          <div class="fx-item-half">

            <label>Área responsable:</label>

            <emp-ng-select
              formControlName="partyUID"
              [config]="{virtualScroll: true, clearable: true, showTooltip: true}"
              [items]="orgUnitsList"
              [loading]="isLoading"
              [showError]="formHelper.isControlInvalid(form.controls.partyUID)"
              placeholder="Todas">
            </emp-ng-select>

          </div>

          <div class="fx-item-half">

            <label>Tipo de proyecto:</label>

            <emp-ng-select
              formControlName="projectTypeUID"
              [config]="{clearable: true, showTooltip: true}"
              [items]="projectTypesList"
              [loading]="isLoading"
              [showError]="formHelper.isControlInvalid(form.controls.projectTypeUID)"
              placeholder="Todos">
            </emp-ng-select>

          </div>

        </div>

        <div class="fx-row-container">

          <div class="fx-item-half">

            <label>Proyecto:</label>

            <emp-ng-select-typeahead
              formControlName="projectUID"
              placeholder="Todos"
              [config]="{ clearable: true, showTooltip: true }"
              [searcherAPI]="projectsAPI"
              [initialValue]="selectedProject"
              (changes)="onProjectChanges($event)">
            </emp-ng-select-typeahead>

          </div>

          <div class="fx-item-half">
            <label>Cuenta financiera:</label>

            <emp-ng-select-typeahead
              formControlName="financialAccountUID"
              placeholder="Todas"
              [config]="{ clearable: true, showTooltip: true }"
              [searcherAPI]="accountsAPI"
              [initialValue]="selectedAccount"
              (changes)="onAccountChanges($event)">
            </emp-ng-select-typeahead>

          </div>

        </div>

        <div class="fx-row-container">

          <div class="fx-item-half">

            <label>Concepto:</label>

            <emp-ng-select
              formControlName="operationTypeUID"
              [config]="{clearable: true, showTooltip: true}"
              [items]="operationTypesList"
              [loading]="isLoading"
              [showError]="formHelper.isControlInvalid(form.controls.operationTypeUID)"
              placeholder="Todos">
            </emp-ng-select>

          </div>

          <div  class="fx-item-half">

            <label>Fuente de financiamiento:</label>

            <emp-ng-select
              formControlName="financingSourceUID"
              [config]="{clearable: true, showTooltip: true}"
              [items]="sourcesList"
              [loading]="isLoading"
              [showError]="formHelper.isControlInvalid(form.controls.financingSourceUID)"
              placeholder="Todas">
            </emp-ng-select>

          </div>

        </div>

        <div class="fx-row-container">

          <div class="fx-item-half">

            <label>Programa:</label>

            <emp-ng-select
              formControlName="programUID"
              [config]="{clearable: true, showTooltip: true}"
              [items]="programsList"
              [loading]="isLoading"
              [showError]="formHelper.isControlInvalid(form.controls.programUID)"
              placeholder="Todas">
            </emp-ng-select>

          </div>

          <div  class="fx-item-half">

            <label>Subprograma:</label>

            <emp-ng-select
              formControlName="subprogramUID"
              [config]="{clearable: true, showTooltip: true}"
              [items]="subprogramsList"
              [loading]="isLoading"
              [showError]="formHelper.isControlInvalid(form.controls.subprogramUID)"
              placeholder="Todas">
            </emp-ng-select>

          </div>

        </div>

        <ng-container #clearFilterSection>

          <mat-divider class="horizontal">

          </mat-divider>

          <div class="fx-row-container fx-end fx-items-end">

            <mat-divider vertical="true" class="vertical-inline">

            </mat-divider>

            <div class="fx-item-none">

              <button class="btn-base btn-filter-options"
                (click)="onClearFilters()">
                Limpiar <mat-icon>filter_list</mat-icon>
              </button>

            </div>

          </div>

        </ng-container>

      </div>

    </div>

  </div>

</form>
