<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div class="fx-item">

        <label>Tipo de transacción:</label>

        <emp-ng-select
          formControlName="transactionTypeUID"
          [items]="transactionTypesList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.transactionTypeUID)">
        </emp-ng-select>

      </div>

      <div class="fx-item-none">

        <label>Fecha de registro:</label>

        <emp-ng-datepicker
          formControlName="requestedTime"
          [showError]="formHelper.isControlInvalid(form.controls.requestedTime)">
        </emp-ng-datepicker>

      </div>

      <div class="fx-item-none">

        <label>Fecha de aplicación:</label>

        <emp-ng-datepicker
          formControlName="applicationTime"
          [showError]="formHelper.isControlInvalid(form.controls.applicationTime)">
        </emp-ng-datepicker>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Persona responsable:</label>

        <emp-ng-select-typeahead
          formControlName="assignedToUID"
          [config]="{ showTooltip: true}"
          [searcherAPI]="assigneesAPI"
          [initialValue]="isSaved ? transaction.assignedTo : null"
          [showError]="formHelper.isControlInvalid(form.controls.assignedToUID)"
          [placeholder]="isSaved && !editionMode ? 'No determinado' : 'Buscar...'">
        </emp-ng-select-typeahead>

      </div>

      <div class="fx-item-half">

        <label>Área responsable:</label>

        <emp-ng-select
          formControlName="assignedToOrgUnitUID"
          [config]="{virtualScroll: true, showTooltip: true}"
          [items]="orgUnitsList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.assignedToOrgUnitUID)"
          [placeholder]="isSaved && !editionMode ? 'No determinado' : 'Seleccione'">
        </emp-ng-select>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Persona administradora:</label>

        <emp-ng-select-typeahead
          formControlName="managerUID"
          [config]="{ showTooltip: true}"
          [searcherAPI]="managersAPI"
          [initialValue]="isSaved ? transaction.manager : null"
          [showError]="formHelper.isControlInvalid(form.controls.managerUID)"
          [placeholder]="isSaved && !editionMode ? 'No determinado' : 'Buscar...'">
        </emp-ng-select-typeahead>

      </div>

      <div class="fx-item-half">

        <label>Área administradora:</label>

        <emp-ng-select
          formControlName="managerOrgUnitUID"
          [config]="{virtualScroll: true, showTooltip: true}"
          [items]="orgUnitsList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.managerOrgUnitUID)"
          [placeholder]="isSaved && !editionMode ? 'No determinado' : 'Seleccione'">
        </emp-ng-select>

      </div>

    </div>

    <emp-pyc-location-selector
      formControlName="location"
      [required]="true"
      [errors]="form.controls.location.errors"
      [showError]="formHelper.isControlInvalid(form.controls.location)">

    </emp-pyc-location-selector>

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Otras claves:</label>
        <emp-ng-input-tags
          formControlName="identificators"
          [showError]="formHelper.isControlInvalid(form.controls.identificators)">

        </emp-ng-input-tags>

      </div>


      <div class="fx-item-half">

        <label>Palabras de búsqueda adicionales:</label>
        <emp-ng-input-tags
          formControlName="tags"
          [showError]="formHelper.isControlInvalid(form.controls.tags)">

        </emp-ng-input-tags>

      </div>

    </div>


    <div class="fx-row-container">

      <div class="fx-item-one">
        <label>Descripción:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          formControlName="description"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">
        </textarea>
      </div>

    </div>

  </div>

  <mat-divider class="horizontal" *ngIf="!isSaved || hasActions">

  </mat-divider>

  <div #rowFooter class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitButtonClicked()">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div class="fx-item fx-items-center">

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.canDelete"
            type="button" class="btn-warning"
            (click)="onDeleteButtonClicked()">
            Eliminar
          </button>

        </ng-container>

        <ng-container *ngIf="!editionMode">

          <button *ngIf="actions.canClose"
            type="button" class="btn"
            (click)="onCloseButtonClicked()">
            Cerrar
          </button>

          <ng-container *ngIf="actions.canClone">

            <button
              type="button" class="btn"
              (click)="onChangeCustodyButtonClicked()">
              Cambio de resguardo
            </button>

            <button
              type="button" class="btn"
              (click)="onInventoryButtonClicked()">
              Inventario
            </button>

          </ng-container>

        </ng-container>

      </div>

      <div class="fx-item fx-end fx-items-center">

        <button *ngIf="!editionMode && (actions.canDelete || actions.canUpdate)"
          class="btn-action"
          (click)="enableEditor(true)">
          Editar
        </button>

        <ng-container *ngIf="editionMode">

          <button *ngIf="actions.canUpdate"
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>

        </ng-container>

      </div>

    </ng-container>

  </div>

</form>
