<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div class="fx-item-quarter">

        <label class="nowrap">Tipo de reporte:</label>

        <emp-ng-select
          formControlName="reportType"
          [items]="reportTypesList"
          [showError]="formHelper.isControlInvalid(form.controls.reportType)"
          (changes)="onReportTypeChanged($event)">
        </emp-ng-select>

      </div>

      <div class="fx-item-quarter">

        <label>Tipo de presupuesto:</label>

        <emp-ng-select
          formControlName="budgetTypeUID"
          [items]="budgetTypesList"
          [config]="{selectFirst: true}"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.budgetTypeUID)"
          (changes)="onBudgetTypeChanged($event)">
        </emp-ng-select>

      </div>

      <div class="fx-item-size" style="--size: calc(50% - 36px)">

        <label>Presupuesto:</label>

        <emp-ng-select
          formControlName="budgetUID"
          [config]="{autoSelect: true}"
          [items]="budgetsList"
          [showError]="formHelper.isControlInvalid(form.controls.budgetUID)">
        </emp-ng-select>

      </div>

      <div #filterOptionsSection class="fx-item-none fx-items-start" [style.paddingTop.px]="13">

        <button title="Buscar"
          [class.btn-icon-action]="this.form.valid"
          [class.btn-icon]="!this.form.valid"
          (click)="onSearchClicked()">

          <mat-icon>search</mat-icon>

        </button>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Áreas:</label>

        <emp-ng-select
          formControlName="baseParties"
          [config]="{virtualScroll: true, multiple: true, clearable: true, showTooltip: true}"
          [items]="orgUnitsList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.baseParties)"
          placeholder="Todas">
        </emp-ng-select>

      </div>

      <div class="fx-item-quarter">

        <label>Agrupar por:</label>

        <emp-ng-select
          formControlName="groupByColumn"
          [items]="groupByColumnsList"
          [showError]="formHelper.isControlInvalid(form.controls.groupByColumn)">
        </emp-ng-select>

      </div>

      <div class="fx-item-quarter">

        <label>Partidas presupuestales:</label>
        <emp-ng-input-tags
          formControlName="budgetAccounts"
          [showError]="formHelper.isControlInvalid(form.controls.budgetAccounts)">
        </emp-ng-input-tags>

      </div>

    </div>

  </div>

</form>
