<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Explorador del presupuesto

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="hint"
        [isLoading]="isLoading">
      </div>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div class="fx-column-container-fill">

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <emp-bdg-budget-filter class="fx-item-none"
        [(showFilters)]="showFilters"
        (budgetFilterEvent)="onBudgetFilterEvent($event)">

      </emp-bdg-budget-filter>

      <emp-ng-data-table class="fx-item"
        [dataTable]="data"
        [executed]="queryExecuted"
        [notQueryExecutedText]="isLoading ? 'Cargando...' : 'No se ha invocado la consulta.'"
        (dataTableEvent)="onDataTableEvent($event)">

      </emp-ng-data-table>

    </div>

  </div>

</div>
