<div class="list-header">

  <div class="list-header-container">

    <div class="fx-row-container fx-gap-size entry-gap-size fx-items-center sm-fx-gap">

      <div class="fx-item-size check-column-size">
        <div *ngIf="dataList.length > 0">

          <emp-ng-check-box-all
            [(selection)]="selection"
            [values]="dataList">
          </emp-ng-check-box-all>

        </div>
      </div>

      <div class="fx-item-size first-column-size nowrap">
        No. instrucción <br>
        Tipo de instrucción <br>
        Pagar a
      </div>

      <div class="fx-item-size second-column-size">
        Método de pago <br>
        <span class="nowrap">No. solicitud pago</span> <br>
        Por pagar
      </div>

      <div class="fx-item">
        <span class="nowrap"></span>Solicitado por<br>
        Fecha de solicitud <br>
        Fecha de vencimiento
      </div>

      <div class="fx-item-size status-column-size">
        Estado
      </div>

    </div>

  </div>

</div>
