<div class="list-header">

  <div class="list-header-container">

    <div class="fx-row-container fx-gap-size entry-gap-size fx-items-center sm-fx-gap">

      <div class="fx-item-size check-column-size" *ngIf="displayControls">
        <div *ngIf="dataList.length > 0">

          <emp-ng-check-box-all
            [(selection)]="selection"
            [values]="dataList">
          </emp-ng-check-box-all>

        </div>
      </div>

      <div class="fx-item-size first-column-size nowrap">
        <span class="nowrap">No. instrucción</span><br>
        <span class="nowrap">Tipo de pago</span><br>
        Área
      </div>

      <div class="fx-item-size second-column-size">
        <span class="nowrap">Método de pago</span><br>
        Cuenta<br>
        Importe
      </div>

      <div class="fx-item">
        <span class="nowrap">Pagar a</span><br>
        <span class="nowrap">Solicitado por</span><br>
        <span class="nowrap">No. operación</span>
      </div>

      <div class="fx-item-size status-column-size">
        Estado<br>
        Solicitud<br>
        <span class="nowrap">Ultima actualización</span>
      </div>

    </div>

  </div>

</div>
