<div class="fx-column-container-fill">

  <emp-ng-list-controls *ngIf="queryExecuted"
    class="fx-item-none"
    [config]="{itemsName: 'activos fijos', itemsPronouns: 'los', selectionMessage: 'seleccionados', showExportButton: true}"
    [selection]="selection"
    [operationsList]="operationsList"
    (listControlsEvent)="onListControlsEvent($event)">

  </emp-ng-list-controls>

  <div class="fx-item">

    <cdk-virtual-scroll-viewport tvsItemSize="32">

      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="check">
          <th mat-header-cell *matHeaderCellDef>
            <emp-ng-check-box-all title="Todos" *ngIf="dataSource.data.length > 0"
              [(selection)]="selection"
              [values]="dataSource.data">
            </emp-ng-check-box-all>
          </th>
          <td mat-cell *matCellDef="let row" class="column-checkbox">
            <mat-checkbox empNgStopPropagation
              [checked]="selection.isSelected(row)"
              (change)="selection.toggle(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="assetNo">
          <th mat-header-cell *matHeaderCellDef class="nowrap"> No. inventario </th>
          <td mat-cell *matCellDef="let row">
            <a class="item-link" (click)="onSelectButtonClicked(row)">
              {{ !!row.assetNo ? row.assetNo : 'No determinado' }}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Activo fijo </th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let row">{{row.assetTypeName}}</td>
        </ng-container> -->

        <ng-container matColumnDef="locationName">
          <th mat-header-cell *matHeaderCellDef> Localización </th>
          <td mat-cell *matCellDef="let row">{{row.locationName}}</td>
        </ng-container>

        <ng-container matColumnDef="assignedTo">
          <th mat-header-cell *matHeaderCellDef class="nowrap"> Persona responsable </th>
          <td mat-cell *matCellDef="let row">{{!row.assignedToName ? 'No determinado' : row.assignedToName}}</td>
        </ng-container>

        <ng-container matColumnDef="assignedToOrgUnit">
          <th mat-header-cell *matHeaderCellDef class="nowrap"> Área responsable </th>
          <td mat-cell *matCellDef="let row">{{!row.assignedToOrgUnitName ? 'No determinado' : row.assignedToOrgUnitName}}</td>
        </ng-container>

        <ng-container matColumnDef="notFoundMessage">
          <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
            {{queryExecuted ? 'No se encontraron activos fijos con el filtro proporcionado.' :
              'No se ha invocado la búsqueda de activos fijos.'}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [class.row-selected]="row.uid === selectedUID"></tr>
        <tr mat-footer-row *matFooterRowDef="['notFoundMessage']" class="text-not-found"
          [hidden]="dataSource.data.length > 0"></tr>

      </table>

    </cdk-virtual-scroll-viewport>

  </div>

</div>
