<div class="card card-border" [class.card-shadow]="!showCardHeaderFlat">

  <div class="card-header"
    [ngClass]="{'card-header-flat': showCardHeaderFlat,
                'card-highlight': headerHighlight,
                'no-hint': !showHint,}">

    <div class="card-title">
      <span [innerHTML]="heading | empSafeHtml"></span>
      <div class="card-hint" *ngIf="showHint"
        [innerHTML]="hint | empSafeHtml"></div>
    </div>

    <div *ngIf="!disableClose || showExpand" class="card-header-options">
      <div class="fx-row-container fx-gap">

        <div *ngIf="showExpand" class="std-hide">

          <mat-icon
            class="card-icon"
            [title]="expanded ? 'Reducir' : 'Ampliar'"
            (click)="onExpand()">
            {{expanded ? 'last_page' : 'first_page'}}
          </mat-icon>

        </div>

        <div *ngIf="showInfo">

          <mat-icon
            class="card-icon material-icons-outlined"
            title="Mostrar información"
            (click)="onInfo()">
            info
          </mat-icon>

        </div>

        <mat-icon *ngIf="!disableClose"
          class="card-icon"
          title="Cerrar"
          (click)="onClose()">
          close
        </mat-icon>

      </div>
    </div>

  </div>

  <div class="card-body" (scroll)="onWindowScroll($event)">

    <ng-content>

    </ng-content>

  </div>

</div>
