<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Explorador de {{ config.namePlural }}

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="cardHint"
        [isLoading]="isLoading">
      </div>


    </div>

    <div class="card-header-options">

      <button *empNgHasPermission="config.permissionToCreate"
        class="btn-action"
        (click)="onCreatePartyClicked()">
        Agregar {{config.nameSingular}}
      </button>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div class="fx-column-container-fill">

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <emp-ng-parties-filter class="fx-item-none"
        [config]="config"
        [query]="query"
        [(showFilters)]="showFilters"
        (partiesFilterEvent)="onPartiesFilterEvent($event)">

      </emp-ng-parties-filter>

      <emp-ng-data-table class="fx-item"
        [dataTable]="data"
        [selectedUID]="selectedUID"
        [executed]="queryExecuted"
        [notQueryExecutedText]="isLoading ? 'Cargando...' : 'No se ha invocado la consulta.'"
        (dataTableEvent)="onPartiesTableEvent($event)">

      </emp-ng-data-table>

    </div>

  </div>

</div>
