<emp-ng-card
  [title]="title"
  [hint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Cuenta estándar">

      <emp-cf-standard-account-view
        [standardAccount]="data.standardAccount"
        (standardAccountViewEvent)="onStandardAccountViewEvent($event)">

      </emp-cf-standard-account-view>

    </mat-tab>

    <mat-tab label="Cuentas">

      <emp-cf-accounts-table
        [accounts]="data.accounts">

      </emp-cf-accounts-table>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
