<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Agrupación:</label>

        <emp-ng-select
          formControlName="groupUID"
          [config]="{showTooltip: true, selectFirst: true}"
          [items]="groupsList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.groupUID)">
        </emp-ng-select>

      </div>

      <div class="fx-item-none">

        <label>Fecha:</label>

        <emp-ng-datepicker
          formControlName="date"
          [showError]="formHelper.isControlInvalid(form.controls.date)">

        </emp-ng-datepicker>

      </div>

      <div class="fx-item fx-items-end">

        <div class="input-search-container">

          <input type="text" class="text-box" name="keywords"
            formControlName="keywords"
            placeholder="Buscar..."
            (keyup.enter)="onSearchClicked()"
            (keyup.escape)="form.controls.keywords.reset()">

        </div>

      </div>

      <div class="fx-item-none fx-items-start" [style.paddingTop.px]="13">

        <button title="Buscar"
          [class.btn-icon-action]="form.valid"
          [class.btn-icon]="!form.valid"
          (click)="onSearchClicked()">

          <mat-icon>search</mat-icon>

        </button>

      </div>

    </div>

  </div>

</form>
