<div class="fx-column-container-fill">

  <div class="fx-item-none" *ngIf="dataList.length > 0 && selection.selected.length > 0">

    <emp-ng-list-controls
      class="fx-item-none"
      [config]="{itemsName: 'activos fijos', itemsPronouns: 'los', selectionMessage: 'seleccionados'}"
      [selection]="selection"
      [operationsList]="operationsList"
      (listControlsEvent)="onListControlsEvent($event)">

    </emp-ng-list-controls>

  </div>

  <div class="fx-item">

    <cdk-virtual-scroll-viewport tvsItemSize="53">

      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="check">
          <th mat-header-cell *matHeaderCellDef>
            <emp-ng-check-box-all title="Todos" *ngIf="dataSource.data.length > 0"
              [(selection)]="selection"
              [values]="dataSource.data">
            </emp-ng-check-box-all>
          </th>
          <td mat-cell *matCellDef="let row" class="column-checkbox">
            <mat-checkbox empNgStopPropagation
              [checked]="selection.isSelected(row)"
              (change)="selection.toggle(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="fixedAsset">
          <th mat-header-cell *matHeaderCellDef> No. inventario / Activo fijo</th>
          <td mat-cell *matCellDef="let row">
            <a class="link-highlight bold-text" (click)="onRowClicked(row)">
              {{ !!row.inventoryNo ? row.inventoryNo : '-' }}
            </a><br><br>
            {{ row.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef class="nowrap"> Tipo / Condición </th>
          <td mat-cell *matCellDef="let row">
            <div class="text-highlight">{{row.fixedAssetTypeName}}</div>
            <div>{{row.condition}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="custodian">
          <th mat-header-cell *matHeaderCellDef class="nowrap"> Área responsable / Localización </th>
          <td mat-cell *matCellDef="let row">
            <div class="text-highlight">{{row.custodianOrgUnitName}}</div>
            <div>{{row.location}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="nowrap"> Estatus / Fechas </th>
          <td mat-cell *matCellDef="let row">
            <span class="tag" *ngIf="row.statusName"
              [ngClass]="{'tag-base-error': isEntityStatusInWarning(row.statusName)}">
              {{row.statusName}}
            </span>
            <div class="nowrap" [style.padding-top.rem]="0.5">
              {{!row.startDate ? 'N/D' : (row.startDate | empDateTimeFormat)}}
              -
              {{!row.endDate ? 'N/D' : (row.endDate | empDateTimeFormat)}}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="notFoundMessage">
          <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
            {{queryExecuted ? 'No se encontraron activos fijos con el filtro proporcionado.' :
              'No se ha invocado la búsqueda de activos fijos.'}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [class.row-selected]="row.uid === selectedUID"></tr>
        <tr mat-footer-row *matFooterRowDef="['notFoundMessage']" class="text-not-found"
          [hidden]="dataSource.data.length > 0"></tr>

      </table>

    </cdk-virtual-scroll-viewport>

  </div>

</div>
