<div class="fx-row-container fx-gap-size entry-gap-size sm-fx-gap">

  <div class="fx-item-size check-column-size">
    <mat-checkbox empNgStopPropagation
      [checked]="selected"
      (change)="onCheckItemClicked()">
    </mat-checkbox>
  </div>

  <div class="fx-item-size first-column-size">
    <div class="list-item-text-highlight nowrap"
      (click)="onItemClicked()">
      <a class="bold-text">{{!item.contractNo ? 'N/D' : item.contractNo}}</a>
    </div>
    <div class="bold-text">{{item.contractType}}</div>
    <div>{{item.name}}</div>
  </div>

  <div class="fx-item-size second-column-size">
    <div class="list-item-text-highlight">{{item.managedByOrgUnit}}</div>
    <div class="bold-text">{{item.budgetType}}</div>
    <div>{{item.supplier}}</div>
  </div>

  <div class="fx-item">
    <div class="list-item-text-highlight">{{item.total | empDecimal}}</div>
    <div class="bold-text">{{item.currency}}</div>
      {{!item.fromDate ? '' : (item.fromDate | empDateTimeFormat)}}
      <span *ngIf="(item.fromDate && item.toDate) || (!item.fromDate && !item.toDate)">-</span>
      {{!item.toDate ? '' : (item.toDate | empDateTimeFormat)}}
  </div>

  <div class="fx-item-size status-column-size">
    <span class="tag" *ngIf="item.statusName"
      [ngClass]="{'tag-base-error': isEntityStatusInWarning(item.statusName)}">
      {{item.statusName}}
    </span>
    <div class="bold-text" [style.padding-top.rem]="0.4">
      {{!item.signDate ? '-' : (item.signDate | empDateTimeFormat)}}
    </div>

  </div>

</div>
