<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <emp-financial-rules-explorer
    class="primary"
    [class.std-hide]="displayTabbedView"
    [query]="query"
    [data]="data"
    [selectedUID]="selectedData?.uid ?? null"
    [isLoading]="isLoading"
    [queryExecuted]="queryExecuted"
    (rulesExplorerEvent)="onRulesExplorerEvent($event)">

  </emp-financial-rules-explorer>


  <emp-financial-rule-tabbed-view *ngIf="displayTabbedView"
    class="secondary priority std-stacked"
    [data]="selectedData"
    [dataIDField]="dataIDField"
    (ruleTabbedViewEvent)="onRuleTabbedViewEvent($event)">

  </emp-financial-rule-tabbed-view>

</div>


<emp-financial-rule-creator *ngIf="displayCreator"
  (ruleCreatorEvent)="onRuleCreatorEvent($event)">

</emp-financial-rule-creator>
