<emp-ng-card
  [title]="title"
  [hint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Información">

      <emp-bdg-transaction-editor
        [transaction]="data.transaction"
        (transactionEditorEvent)="onTransactionEditorEvent($event)">

      </emp-bdg-transaction-editor>

    </mat-tab>

    <mat-tab label="Movimientos">

      <emp-bdg-transaction-entries-edition
        [entries]="data.entries"
        (transactionEntriesEditionEvent)="onTransactionEntriesEditionEvent($event)">

      </emp-bdg-transaction-entries-edition>

    </mat-tab>

    <mat-tab label="Documentos">

      <div class="instruction-text">
        No se encontraron registros.
      </div>

    </mat-tab>

    <mat-tab label="Historial">

      <div class="instruction-text">
        No se encontraron registros.
      </div>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
