<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <emp-fa-transactions-explorer
    class="primary priority"
    [class.std-hide]="displayTabbedView"
    [query]="query"
    [dataList]="dataList"
    [selectedUID]="selectedData.transaction.uid"
    [isLoading]="isLoading"
    [queryExecuted]="queryExecuted"
    (transactionsExplorerEvent)="onTransactionsExplorerEvent($event)">

  </emp-fa-transactions-explorer>

  <emp-fa-transaction-tabbed-view *ngIf="displayTabbedView"
    class="secondary std-stacked"
    [data]="selectedData"
    (transactionTabbedViewEvent)="onTransactionTabbedViewEvent($event)">

  </emp-fa-transaction-tabbed-view>

</div>
