<div class="explorer">

  <emp-pyc-report-viewer
    class="primary full-size"
    [reportGroup]="reportGroup"
    [reportQuery]="reportQuery"
    [selectedReportType]="selectedReportType"
    [reportData]="reportData"
    [queryExecuted]="queryExecuted"
    [fileUrl]="fileUrl"
    [isLoading]="isLoading"
    (reportViewerEvent)="onReportViewerEvent($event)">

    <ng-container [ngSwitch]="reportGroup">

      <emp-pyc-budget-report-filter *ngSwitchCase="ReportGroups.BudgetReports"
        class="fx-item-none"
        [(showFilters)]="showFilters"
        (budgetReportFilterEvent)="onReportFilterEvent($event)">

      </emp-pyc-budget-report-filter>

      <emp-pyc-report-filter *ngSwitchDefault
        class="fx-item-none"
        [reportGroup]="reportGroup"
        [(showFilters)]="showFilters"
        (reportFilterEvent)="onReportFilterEvent($event)">

      </emp-pyc-report-filter>

    </ng-container>

  </emp-pyc-report-viewer>

</div>


<emp-ng-file-preview #filePreview
  [heading]="filePreviewData.heading"
  [hint]="filePreviewData.hint">

</emp-ng-file-preview>
