<div class="explorer">

  <emp-pyc-report-viewer
    class="primary full-size"
    [reportGroup]="reportGroup"
    [reportQuery]="reportQuery"
    [selectedReportType]="selectedReportType"
    [reportData]="reportData"
    [queryExecuted]="queryExecuted"
    [fileUrl]="fileUrl"
    [isLoading]="isLoading"
    (reportViewerEvent)="onReportViewerEvent($event)">

    <emp-pyc-report-filter
      class="fx-item-none"
      [reportGroup]="reportGroup"
      [(showFilters)]="showFilters"
      (reportFilterEvent)="onReportFilterEvent($event)">

    </emp-pyc-report-filter>

  </emp-pyc-report-viewer>

</div>


<emp-ng-file-preview #filePreview
  [heading]="filePreviewData.heading"
  [hint]="filePreviewData.hint">

</emp-ng-file-preview>
