<div class="explorer">

  <emp-pyc-report-viewer
    class="primary"
    [class.full-size]="!displayEntryViewer"
    [class.grow]="displayEntryViewer"
    [class.std-hide]="displayEntryViewer"
    [reportGroup]="reportGroup"
    [reportQuery]="reportQuery"
    [selectedReportType]="selectedReportType"
    [reportData]="reportData"
    [queryExecuted]="queryExecuted"
    [selectedEntry]="selectedEntry"
    [fileUrl]="fileUrl"
    [isLoading]="isLoading"
    (reportViewerEvent)="onReportViewerEvent($event)">

    <ng-container [ngSwitch]="reportGroup">

      <emp-pyc-budget-report-filter *ngSwitchCase="ReportGroups.BudgetReports"
        class="fx-item-none"
        [(showFilters)]="showFilters"
        (budgetReportFilterEvent)="onReportFilterEvent($event)">

      </emp-pyc-budget-report-filter>

      <emp-pyc-report-filter *ngSwitchDefault
        class="fx-item-none"
        [reportGroup]="reportGroup"
        [(showFilters)]="showFilters"
        (reportFilterEvent)="onReportFilterEvent($event)">

      </emp-pyc-report-filter>

    </ng-container>

  </emp-pyc-report-viewer>


  <ng-container *ngIf="displayEntryViewer"
    [ngSwitch]="entryViewer">

    <emp-bdg-transaction-tabbed-view *ngSwitchCase="'ViewBudgetTransaction'"
      class="secondary std-stacked priority"
      [data]="entryViewerData"
      [readonly]="true"
      (transactionTabbedViewEvent)="onEntryViewerEvent($event)">

    </emp-bdg-transaction-tabbed-view>

  </ng-container>

  </div>


<emp-ng-file-preview #filePreview
  [heading]="filePreviewData.heading"
  [hint]="filePreviewData.hint">

</emp-ng-file-preview>
