<emp-ng-card
  [heading]="title"
  [hint]="hint"
  [showExpand]="true"
  [expanded]="expand"
  (cardClose)="onCloseClicked()"
  (cardExpand)="onExpandClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex">

    <mat-tab label="Desglose">

      <emp-bdg-budget-entry-explorer
        [subQuery]="subQuery"
        [data]="data.breakdown"
        [queryExecuted]="queryExecuted"
        (budgetEntryExplorerEvent)="onBudgetEntryExplorerEvent($event)">

      </emp-bdg-budget-entry-explorer>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
