<emp-ng-modal-window
  [config]="{width:'500px'}">

  <emp-ng-card
    [heading]="title"
    [showHint]="false"
    [headerHighlight]="true"
    [disableClose]="true">

    <div class="card-body-confirmation">

      Esta operación generará las transacciones pendientes del presupuesto planeado del Gasto Corriente 2026.

      <br><br>

      ¿Genero las transacciones?

      <mat-divider [style.margin]="'20px -16px 8px -16px'"></mat-divider>

      <div class="fx-row-container fx-end fx-items-center fx-gap-half">

        <button class="btn-action"
          [class.spinner]="submitted"
          (click)="onSubmitButtonClicked()">Generar</button>

        <button class="btn"
          [disabled]="submitted"
          (click)="onCloseButtonClicked()">Cancelar</button>

      </div>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
