<emp-ng-modal-window [config]="{width:'1024px'}">

  <emp-ng-card
    heading="Solicitud de pago"
    hint='Información de la solicitud de pago.'
    (cardClose)="onCloseModalClicked()">

    <div class="card-body-padding">

      <form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

        <div class="fx-column-container fx-gap-half">

          <div class="fx-row-container">

            <div class="fx-item-half">

              <label>Método de pago:</label>

              <emp-ng-select
                formControlName="paymentMethodUID"
                [items]="paymentMethodsList"
                [showError]="formHelper.isControlInvalid(form.controls.paymentMethodUID)"
                (changes)="onPaymentMethodChanges($event)">

              </emp-ng-select>

            </div>

            <div class="fx-item-none">

              <label>Fecha límite:</label>
              <emp-ng-datepicker
                formControlName="dueTime"
                [showError]="formHelper.isControlInvalid(form.controls.dueTime)">
              </emp-ng-datepicker>

            </div>

          </div>

          <div class="fx-row-container">

            <div class="fx-item-half">

              <label>Cuenta:</label>

              <emp-ng-select
                formControlName="paymentAccountUID"
                [items]="paymentAccountsList"
                [loading]="isLoading"
                [placeholder]="paymentAccountPlaceholder"
                [showError]="formHelper.isControlInvalid(form.controls.paymentAccountUID)"
                (changes)="onPaymentAccountChanges($event)">

                <ng-template #labelTemplate let-item="item">
                  {{item.institution?.name}} | {{!!item.accountNo ? item.accountNo : 'N/D'}}
                </ng-template>

                <ng-template #optionTemplate let-item="item">

                  <div class="item wrap">

                    <span class="item-highlight">
                      {{item.institution?.name}} | {{!!item.accountNo ? item.accountNo : 'N/D'}}
                    </span> <br>

                    <span class="item-text-xs">
                      Beneficiario: {{item.holderName}}
                    </span>

                  </div>

                </ng-template>

              </emp-ng-select>

            </div>

            <div class="fx-item-half">

              <label>Referencia:</label>

              <input type="text" class="text-box"
                formControlName="referenceNumber"
                [placeholder]="referenceNumberPlaceholder"
                [class.invalid-control]="formHelper.isControlInvalid(form.controls.referenceNumber)">

            </div>

          </div>

          <div class="fx-row-container">

            <div class="fx-item-one">
              <label>Observaciones:</label>
              <textarea class="text-area" empNgTextareaAutoresize rows="1"
                formControlName="description"
                [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">
              </textarea>
            </div>

          </div>

        </div>

        <mat-divider class="horizontal">

        </mat-divider>

        <div class="fx-row-container">

          <div class="fx-item fx-end fx-items-center">

            <button
              [class.btn]="!formHelper.isFormReady(form)"
              [class.btn-action]="formHelper.isFormReady(form)"
              (click)="onSubmitButtonClicked()">
              Solicitar pago
            </button>

          </div>

        </div>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
