<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <div class="primary priority" [class.std-hide]="displayTabbedView">

    <emp-budgeting-budget-explorer
      [queryType]="queryType"
      [data]="data"
      [entrySelected]="entrySelected"
      [isLoading]="isLoading"
      [queryExecuted]="queryExecuted"
      (budgetExplorerEvent)="onBudgetExplorerEvent($event)">

    </emp-budgeting-budget-explorer>

  </div>

  <div class="secondary" *ngIf="displayTabbedView">

  </div>

</div>
