<div class="fill-table-container" [style.width.%]="100">

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="accountType">
      <th mat-header-cell *matHeaderCellDef class="nowrap"> Tipo </th>
      <td mat-cell *matCellDef="let row">{{ row.accountType.name }}</td>
    </ng-container>

    <ng-container matColumnDef="institution">
      <th mat-header-cell *matHeaderCellDef> Institución </th>
      <td mat-cell *matCellDef="let row">{{ row.institution.name }}</td>
    </ng-container>

    <ng-container matColumnDef="accountNo">
      <th mat-header-cell *matHeaderCellDef class="nowrap"> Forma de pago </th>
      <td mat-cell *matCellDef="let row">
        <a class="item-link" (click)="onSelectAccountClicked(row)">
          {{row.paymentMethod.name}}{{!!row.accountNo ? ': ' + row.accountNo : ''}}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="referenceNumber">
      <th mat-header-cell *matHeaderCellDef> Referencia </th>
      <td mat-cell *matCellDef="let row">{{ !row.referenceNumber ? '-' : row.referenceNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="holderName">
      <th mat-header-cell *matHeaderCellDef> Beneficiario </th>
      <td mat-cell *matCellDef="let row">{{ row.holderName }}</td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef> Moneda </th>
      <td mat-cell *matCellDef="let row">{{ row.currency.name }}</td>
    </ng-container>

    <ng-container matColumnDef="actionDelete">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let row" class="column-action">

        <button mat-icon-button empNgStopPropagation
          title="Eliminar cuenta"
          (click)="onRemoveClicked(row)">
          <mat-icon>
            delete
          </mat-icon>
        </button>

      </td>
    </ng-container>

    <ng-container matColumnDef="notFoundMessage">
      <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
        No se encontraron cuentas.
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['notFoundMessage']" class="text-not-found"
      [hidden]="dataSource.data.length > 0"></tr>

  </table>

</div>
