<emp-ng-card
  [title]="title"
  [hint]="hint"
  (cardClose)="onCloseButtonClicked()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Proyecto">

      <emp-cf-project-editor
        [project]="data.project"
        [actions]="data.actions"
        (projectEditorEvent)="onProjectEditorEvent($event)">

      </emp-cf-project-editor>

    </mat-tab>

    <mat-tab label="Cuentas">

      <ng-template matTabContent>

        <emp-cf-accounts-edition
          queryType="financial-project"
          [projectUID]="data.project.uid"
          [organizationalUnitUID]="data.project.baseOrgUnit.uid"
          [accounts]="data.accounts"
          [canUpdate]="data.actions.canUpdate"
          (accountsEditionEvent)="onAccountsEditionEvent($event)">

        </emp-cf-accounts-edition>

      </ng-template>

    </mat-tab>

    <mat-tab label="Documentos">

      <emp-ng-documents-edition
        entityType="financial-projects"
        [entityUID]="data.project.uid"
        [documents]="data.documents"
        [canEdit]="data.actions.canEditDocuments"
        (documentsEditionEvent)="onDocumentsEditionEvent($event)">

      </emp-ng-documents-edition>

    </mat-tab>

    <mat-tab label="Historial">

      <emp-ng-history-table
        [history]="data.history">

      </emp-ng-history-table>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
