<div class="section-title"> Información del crédito </div>

<div class="fx-column-container fx-gap-half">

  <div class="fx-row-container sm-fx-column-container sm-fx-gap-half">

    <div class="fx-item-quarter">

      <label>Tipo de crédito:</label>

      <emp-ng-select
        bindValue="id"
        [(ngModel)]="selectedData.creditTypeId"
        [items]="creditTypesList"
        [config]="{clearable: true}"
        [placeholder]="null"
        [showError]="showError && errors?.creditTypeIdError"
        [disabled]="!canEditExternalData"
        (changes)="onSelectedDataChanged()">
      </emp-ng-select>

    </div>

    <div class="fx-item">

      <label>No. crédito SIC:</label>

      <input type="text" class="text-box"
        [(ngModel)]="selectedData.externalCreditNo"
        [class.invalid-control]="showError && errors?.externalCreditNoNumberError"
        [disabled]="!canEditExternalData"
        (change)="onSelectedDataChanged()">

    </div>

    <div class="fx-item-quarter">

      <label>Auxiliar:</label>

      <input type="text" class="text-box"
        [(ngModel)]="selectedData.subledgerAccountNo"
        [class.invalid-control]="showError && errors?.subledgerAccountNoError"
        [disabled]="!canEditExternalData"
        (change)="onSelectedDataChanged()">

    </div>

    <div class="fx-item-quarter">

      <label>Etapa del crédito:</label>

      <emp-ng-select
        bindValue="id"
        [(ngModel)]="selectedData.creditStageId"
        [items]="creditStagesList"
        [config]="{clearable: true}"
        [placeholder]="null"
        [showError]="showError && errors?.creditStageIdError"
        [disabled]="!canEditExternalData"
        (changes)="onSelectedDataChanged()">
      </emp-ng-select>

    </div>

  </div>

  <div class="fx-row-container sm-fx-column-container sm-fx-gap-half">

    <div class="fx-item-one">

      <label>Acreditado:</label>

      <input type="text" class="text-box"
        [(ngModel)]="selectedData.borrower"
        [class.invalid-control]="showError && errors?.borrowerError"
        [disabled]="!canEditExternalData"
        (change)="onSelectedDataChanged()">

    </div>

  </div>

 </div>
