<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <emp-financial-chart-of-accounts-explorer
    class="primary"
    [class.std-hide]="displayTabbedView"
    [query]="query"
    [data]="data"
    [selectedUID]="selectedData.standardAccount.uid"
    [isLoading]="isLoading"
    [queryExecuted]="queryExecuted"
    (chartOfAccountsExplorerEvent)="onChartOfAccountsExplorerEvent($event)">

  </emp-financial-chart-of-accounts-explorer>


  <emp-financial-standard-account-tabbed-view *ngIf="displayTabbedView"
    class="secondary priority std-stacked"
    [chartOfAccountsUID]="data.uid"
    [data]="selectedData"
    (standardAccountTabbedViewEvent)="onStandardAccountTabbedViewEvent($event)">

  </emp-financial-standard-account-tabbed-view>

</div>
