<div class="list-header">

  <div class="list-header-container">

    <div class="fx-row-container fx-items-center fx-gap-size entry-gap-size">

      <div class="fx-item-size column-size-md">
        <span class="nowrap">No. cuenta</span><br>
        <span class="nowrap">Tipo de cuenta</span><br>
        Descripción
      </div>

      <div class="fx-item">
        <span class="nowrap">Cuenta estándar</span>
      </div>

      <div class="fx-item-size column-size-md">
        Área<br>
        Auxiliar<br>
        Moneda
      </div>

      <div class="fx-item-size column-size-md">
        <span class="nowrap">No. proyecto</span><br>
        Proyecto<br>
        <span class="nowrap">Tipo de proyecto</span>
      </div>

      <div class="fx-item-size column-size-status"> Estado </div>

    </div>

  </div>

</div>
