<div class="list-header">

  <div class="list-header-container">

    <div class="fx-row-container fx-gap-size entry-gap-size fx-items-center sm-fx-gap">

      <div class="fx-item-size check-column-size sm-fx-item-none">

        <emp-ng-check-box-all *ngIf="dataList.length > 0"
          [(selection)]="selection"
          [values]="dataList">
        </emp-ng-check-box-all>

      </div>

      <div class="fx-item-size first-column-size sm-fx-item-none">
        <span class="nowrap">No. transacción</span><br>
        <span class="nowrap">Tipo de transacción</span><br>
      </div>

      <div class="fx-item-size second-column-size sm-fx-item-none">
        <span class="nowrap">Persona responsable</span><br>
        <span class="nowrap">Área responsable</span>
      </div>

      <div class="fx-item-size third-column-size sm-fx-item-none">
        <span class="nowrap">Fecha elaboración</span><br>
        <span class="nowrap">Fecha registro</span><br>
      </div>


      <div class="fx-item">
        Descripción
      </div>

      <div class="fx-item-size status-column-size sm-fx-item-none">
        Estado
      </div>

    </div>

  </div>

</div>
