<div class="fx-column-container-fill">

  <emp-ng-list-controls
    class="fx-item-none"
    [config]="{itemsName: 'movimientos', itemsPronouns: 'los', selectionMessage: 'seleccionados',
               labelsAside: 'top', searcherAside: 'right',
               showDivider: false, showStatus: true, showSearcher: true,
               searcherText: displayedItemsText}"
    [selection]="selection"
    [operationsList]="operationsList"
    [statusList]="cashAccountStatusList"
    [filter]="filter"
    [status]="cashAccountStatus"
    [style.margin]="'0 -16px 0 -8px'"
    (listControlsEvent)="onListControlsEvent($event)">

  </emp-ng-list-controls>


  <div class="fill-table-container" [style.width.%]="100">

    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef>
          <emp-ng-check-box-all *ngIf="hasData"
            [(selection)]="selection"
            [values]="dataSource.data"
            [filteredValues]="dataSource.filteredData">
          </emp-ng-check-box-all>
        </th>
        <td mat-cell *matCellDef="let row" class="column-checkbox">
          <mat-checkbox empNgStopPropagation
            [checked]="selection.isSelected(row)"
            (change)="selection.toggle(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef class="nowrap"> Cuenta </th>
        <td mat-cell *matCellDef="let row" [title]="row.parentAccountFullName">
          <span class="nowrap">{{ row.accountNumber }}</span>
          <br>
          <em>{{ row.accountName }}</em>
        </td>
      </ng-container>

      <ng-container matColumnDef="sector">
        <th mat-header-cell *matHeaderCellDef> Sec </th>
        <td mat-cell *matCellDef="let row">{{ row.sectorCode }}</td>
      </ng-container>

      <ng-container matColumnDef="subledgerAccount">
        <th mat-header-cell *matHeaderCellDef> Auxiliar </th>
        <td mat-cell *matCellDef="let row">
          <span class="nowrap">{{ !!row.subledgerAccountNumber ? row.subledgerAccountNumber : 'No aplica' }}</span>
          <br>
          <em *ngIf="!!row.subledgerAccountName">{{ row.subledgerAccountName }}</em>
        </td>
      </ng-container>

      <ng-container matColumnDef="verificationNumber">
        <th mat-header-cell *matHeaderCellDef> Verif </th>
        <td mat-cell *matCellDef="let row">{{ !row.verificationNumber ? '-' : row.verificationNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="responsibilityArea">
        <th mat-header-cell *matHeaderCellDef> Área </th>
        <td mat-cell *matCellDef="let row">
          <span [title]="row.responsibilityAreaName">{{ row.responsibilityAreaCode }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef> Moneda </th>
        <td mat-cell *matCellDef="let row" class="nowrap">
          {{ row.currencyName }}
          <br *ngIf="row.currencyId !== 1">
          <em *ngIf="row.currencyId !== 1">T.C.: {{ row.exchangeRate !== 0 ? (row.exchangeRate | number : '1.6-6') : '-'}}</em>
        </td>
      </ng-container>

      <ng-container matColumnDef="debit">
        <th mat-header-cell *matHeaderCellDef class="text-align-right"> Debe </th>
        <td mat-cell *matCellDef="let row" class="text-align-right">{{ row.debit | number : '1.2-2' }}</td>
      </ng-container>

      <ng-container matColumnDef="credit">
        <th mat-header-cell *matHeaderCellDef class="text-align-right"> Haber </th>
        <td mat-cell *matCellDef="let row" class="text-align-right">{{ row.credit | number : '1.2-2' }}</td>
      </ng-container>

      <ng-container matColumnDef="cashAccount">
        <th mat-header-cell *matHeaderCellDef class="nowrap"> Concepto </th>
        <td mat-cell *matCellDef="let row"
            class="cell-cash-account"
            [class.cell-cash-account-enabled]="isRowInEdition(row.id)">
          <ng-container *ngIf="!isRowInEdition(row.id)">{{ !row.cashAccount?.name ? '-' : row.cashAccount.name }}</ng-container>
          <ng-container *ngIf="isRowInEdition(row.id)">

            <input type="text" class="text-box" empNgStopPropagation empNgAutofocus
              [(ngModel)]="rowInEdition.cashAccountEdit"
              [class.invalid-control]="!rowInEdition.cashAccountEdit"
              (keyup.escape)="rowInEdition.cashAccountEdit = ''"
              (keyup.enter)="onUpdateEntryClicked()">

          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row" class="column-action">

          <div class="fx-row-container fx-end" *ngIf="!isRowInEdition(row.id)">

            <div [style.width.px]="32"></div>

            <button *ngIf="row.canEditCashFlow"
              mat-icon-button empNgStopPropagation
              title="Editar concepto presupuestal"
              (click)="onEditEntryClicked(row)">
              <mat-icon> edit </mat-icon>
            </button>

          </div>

          <div class="fx-row-container" *ngIf="isRowInEdition(row.id)">

            <button mat-icon-button empNgStopPropagation
              title="Cancelar"
              (click)="onCancelEditionClicked()">
              <mat-icon> close </mat-icon>
            </button>

            <button mat-icon-button empNgStopPropagation
              title="Guardar"
              [color]="isEntryInEditionValid ? 'primary' : null"
              [style.marginRight]="0"
              [disabled]="!isEntryInEditionValid"
              (click)="onUpdateEntryClicked()">
              <mat-icon [color]="isEntryInEditionValid ? 'primary' : null"> done </mat-icon>
            </button>
          </div>

        </td>
      </ng-container>

      <ng-container matColumnDef="notFoundMessage">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
          {{!hasData ? 'Esta póliza no tiene movimientos.' :
            'No se encontraron movimientos con el filtro proporcionado.'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="column-no-padding">

          <div class="fx-row-container fx-end fx-items-center fx-gap-half" style="padding: 5px 0;">

            <mat-icon [ngClass]="hasEntriesPending ? 'icon-warning' : 'icon-success'">info</mat-icon>

            <span class="text-status">
              {{ hasEntriesPending ?
                 'Hay ' + entriesPendingCount + ' movimientos pendientes de codificación.' :
                 'Todos los movimientos están codificados.' }}
            </span>

            <div class="fx-item">

            </div>

            <button *ngIf="canEdit" class="btn-action"
              (click)="onAutoCodifyClicked()">
              Codificación automática
            </button>

          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectEntryClicked(row)"
        class="selectable-row" [class.row-selected]="row.id === selectedEntryID"></tr>
      <tr mat-footer-row *matFooterRowDef="['notFoundMessage']" class="text-not-found"
        [hidden]="!showNotFound"></tr>
      <tr mat-footer-row *matFooterRowDef="['status']; sticky: true;"
        [hidden]="!canEdit"></tr>

    </table>

  </div>

</div>
