<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Explorador de productos

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="hint"
        [isLoading]="isLoading">
      </div>

    </div>

    <div class="card-header-options">

      <button *empNgHasPermission="PERMISSION_TO_CREATE"
        class="btn-action"
        (click)="onCreateProductClicked()">
        Agregar producto
      </button>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div class="fx-column-container-fill">

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <emp-ng-products-filter class="fx-item-none"
        [query]="query"
        [(showFilters)]="showFilters"
        (productsFilterEvent)="onProductsFilterEvent($event)">

      </emp-ng-products-filter>

      <emp-ng-products-table class="fx-item"
        [dataList]="dataList"
        [selectedUID]="selectedUID"
        [queryExecuted]="queryExecuted"
        (productsTableEvent)="onProductsTableEvent($event)">

      </emp-ng-products-table>

    </div>

  </div>

</div>
