<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <emp-bdg-transactions-explorer
    class="primary"
    [class.std-hide]="displayTabbedView"
    [query]="query"
    [dataList]="dataList"
    [selectedUID]="selectedData.transaction.uid"
    [isLoading]="isLoading"
    [queryExecuted]="queryExecuted"
    (transactionsExplorerEvent)="onTransactionsExplorerEvent($event)">

  </emp-bdg-transactions-explorer>

  <emp-bdg-transaction-tabbed-view *ngIf="displayTabbedView"
    class="secondary priority std-stacked"
    [data]="selectedData"
    (transactionTabbedViewEvent)="onTransactionTabbedViewEvent($event)">

  </emp-bdg-transaction-tabbed-view>

</div>


<emp-bdg-transactions-importer *ngIf="displayImporter"
  (transactionsImporterEvent)="onTransactionsImporterEvent($event)">

</emp-bdg-transactions-importer>


<emp-bdg-transaction-creator *ngIf="displayCreator"
  (transactionCreatorEvent)="onTransactionCreatorEvent($event)">

</emp-bdg-transaction-creator>


<emp-ng-export-report-modal *ngIf="displayExportModal"
  [title]="selectedExportData.title"
  [message]=" selectedExportData.message"
  [fileUrl]="selectedExportData.fileUrl"
  (exportReportModalEvent)="onExportReportModalEvent($event)">

</emp-ng-export-report-modal>
