<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <div class="primary priority" [class.std-hide]="displayTabbedView">

    <emp-bdg-transactions-explorer
      [queryType]="queryType"
      [query]="query"
      [dataList]="dataList"
      [selectedUID]="selectedData.transaction.uid"
      [isLoading]="isLoading"
      [queryExecuted]="queryExecuted"
      (transactionsExplorerEvent)="onTransactionsExplorerEvent($event)">

    </emp-bdg-transactions-explorer>

  </div>

  <div class="secondary" *ngIf="displayTabbedView">

    <ng-container [ngSwitch]="queryType">

      <emp-bdg-transaction-tabbed-view *ngSwitchCase="'budgets'"
        [data]="selectedData"
        (transactionTabbedViewEvent)="onTransactionTabbedViewEvent($event)">

      </emp-bdg-transaction-tabbed-view>

    </ng-container>

  </div>

</div>
