<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <emp-ng-orders-explorer
    class="primary"
    [class.std-hide]="displayTabbedView"
    [config]="config"
    [query]="query"
    [dataList]="dataList"
    [selectedUID]="selectedData.order.uid"
    [isLoading]="isLoading"
    [queryExecuted]="queryExecuted"
    (ordersExplorerEvent)="onOrdersExplorerEvent($event)">

  </emp-ng-orders-explorer>

  <emp-ng-order-tabbed-view *ngIf="displayTabbedView"
    class="secondary priority std-stacked"
    [config]="config"
    [data]="selectedData"
    (orderTabbedViewEvent)="onOrderTabbedViewEvent($event)">

  </emp-ng-order-tabbed-view>

</div>

<emp-ng-order-creator *ngIf="displayCreator"
  [config]="config"
  (orderCreatorEvent)="onOrderCreatorEvent($event)">

</emp-ng-order-creator>
