<emp-ng-modal-window [config]="{width:'900px'}">

  <emp-ng-card
    [heading]="title"
    hint='Información del concepto'
    (cardClose)="onCloseButtonClicked()">

    <div class="card-body-padding">

      <form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

        <div class="fx-column-container fx-gap-half">

          <div class="section-title"> Información del concepto </div>

          <div class="fx-row-container">

            <div class="fx-item-half">

              <label>Área solicitante:</label>

              <emp-ng-select
                formControlName="requesterOrgUnitUID"
                [config]="{virtualScroll: true, showTooltip: true}"
                [items]="orgUnitsList"
                [loading]="isLoading"
                [placeholder]="isOrgUnitRequired ? selectionPlaceholder : 'No aplica'"
                [showError]="formHelper.isControlInvalid(form.controls.requesterOrgUnitUID)"
                (changes)="onRequesterOrgUnitChanges($event)">
              </emp-ng-select>

            </div>

            <div class="fx-item-half">

              <label>Proveedor:</label>

              <emp-ng-select
                formControlName="supplierUID"
                [items]="suppliersList"
                [placeholder]="isSupplierRequired ? selectionPlaceholder : 'No aplica'"
                [showError]="formHelper.isControlInvalid(form.controls.supplierUID)">
              </emp-ng-select>

            </div>

          </div>

          <div class="fx-row-container">

            <div class="fx-item-half">

              <label>Presupuesto:</label>

              <emp-ng-select
                formControlName="budgetUID"
                [items]="contract.budgets ?? []"
                [showError]="formHelper.isControlInvalid(form.controls.budgetUID)"
                (changes)="onBudgetChanges($event)">
              </emp-ng-select>

            </div>

            <div class="fx-item-half">

              <label>Proyecto:</label>

              <emp-ng-select-typeahead
                formControlName="projectUID"
                [config]="{clearable: true}"
                [searcherAPI]="projectsAPI"
                [initialValue]="isSaved ? item.project : null"
                [showError]="formHelper.isControlInvalid(form.controls.projectUID)">

              </emp-ng-select-typeahead>

            </div>

          </div>

          <mat-divider class="horizontal">

          </mat-divider>

          <div class="fx-row-container">

            <div class="fx-item-half">

              <label>Producto:</label>

              <emp-ng-select-typeahead
                formControlName="productUID"
                [config]="{showTooltip: true}"
                [searcherAPI]="productsAPI"
                [initialValue]="isSaved ? item.product : null"
                [showError]="formHelper.isControlInvalid(form.controls.productUID)"
                (changes)="onProductChanges($event)">

              </emp-ng-select-typeahead>

            </div>

            <div class="fx-item-half">

              <label>Unidad:</label>

              <emp-ng-select
                formControlName="productUnitUID"
                [config]="{notFoundText: form.controls.productUID.invalid ?
                          'No se encontraron registros' : 'El producto no tiene unidades'}"
                [items]="productUnitsList"
                [placeholder]="form.controls.productUID.invalid ? 'Seleccione el producto' : selectionPlaceholder"
                [showError]="formHelper.isControlInvalid(form.controls.productUnitUID)">
              </emp-ng-select>

            </div>

          </div>

          <div class="fx-row-container">

            <div class="fx-item-one">

              <label>Cuenta presupuestal:</label>

              <emp-ng-select
                formControlName="budgetAccountUID"
                [config]="{showTooltip: true}"
                [items]="budgetAccountsList"
                [loading]="isLoadingBudgetAccounts"
                [placeholder]="budgetAccountPlaceholder"
                [showError]="formHelper.isControlInvalid(form.controls.budgetAccountUID)">
              </emp-ng-select>

            </div>

          </div>

          <div class="fx-row-container">

            <div class="fx-item-quarter">

              <label>Periodicidad:</label>

              <emp-ng-select
                formControlName="periodicityTypeUID"
                [items]="periodicityTypesList"
                [loading]="isLoading"
                [showError]="formHelper.isControlInvalid(form.controls.periodicityTypeUID)"
                [placeholder]="selectionPlaceholder">
              </emp-ng-select>

            </div>

            <div class="fx-item-quarter">

              <label>Cantidad mínima:</label>

              <input type="text" empNgCurrency
                class="text-box text-align-right"
                formControlName="minQuantity"
                [class.invalid-control]="formHelper.isControlInvalid(form.controls.minQuantity)">

            </div>

            <div class="fx-item-quarter">

              <label>Cantidad máxima:</label>

              <input type="text" empNgCurrency
                class="text-box text-align-right"
                formControlName="maxQuantity"
                [class.invalid-control]="formHelper.isControlInvalid(form.controls.maxQuantity)">

            </div>

            <div class="fx-item-quarter">

              <label>Precio unitario:</label>

              <input type="text" empNgCurrency
                class="text-box text-align-right"
                formControlName="unitPrice"
                [class.invalid-control]="formHelper.isControlInvalid(form.controls.unitPrice)">

            </div>

          </div>

          <div class="fx-row-container">

            <div class="fx-item-one">
              <label>Descripción:</label>
              <textarea class="text-area" empNgTextareaAutoresize rows="1"
                formControlName="description"
                [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">
              </textarea>
            </div>

          </div>

        </div>

        <ng-container *ngIf="!isSaved || (isSaved && canUpdate)">

          <mat-divider class="horizontal">

          </mat-divider>

          <div #rowFooter class="fx-row-container">

             <div class="fx-item fx-end fx-items-center">

                <button
                  [class.btn]="!formHelper.isFormReady(form)"
                  [class.btn-action]="formHelper.isFormReady(form)"
                  (click)="onSubmitButtonClicked()">
                  {{!isSaved ? 'Agregar' : 'Guardar'}}
                </button>

              </div>

          </div>

        </ng-container>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
