<emp-ng-modal-window [config]="{width: '960px', maxHeight: '95vh'}">

  <emp-ng-card
    heading="Anexar documento"
    hint="Información del documento a anexar."
    (cardClose)="onCloseButtonClicked()">

    <div class="card-body-padding">

      <form [formGroup]="form" [empNgSpinnerHost]="spinner" empNgFormKeyDownEnter
        autocomplete="off" class="form-section">

        <emp-ng-spinner #spinner [visible]="submitted">

        </emp-ng-spinner>

        <div class="fx-column-container-fill fx-gap-half">

          <div class="fx-row-container">

            <div class="fx-item-half">
              <label>Categoría:</label>
              <emp-ng-select
                formControlName="documentCategory"
                [config]="{bindByValue: false}"
                [items]="categoriesList"
                [loading]="isLoading"
                [showError]="formHelper.isControlInvalid(form.controls.documentCategory)"
                (changes)="onDocumentCategoryChanges()">
              </emp-ng-select>
            </div>

            <div class="fx-item-half">
              <label>Tipo de documento:</label>
              <emp-ng-select
                formControlName="documentProduct"
                [config]="{bindByValue: false}"
                [items]="form.value.documentCategory?.products ?? []"
                [loading]="isLoading"
                [placeholder]="form.controls.documentCategory.invalid ? 'Seleccione la categoría' : 'Seleccionar'"
                [showError]="formHelper.isControlInvalid(form.controls.documentProduct)"
                (changes)="onDocumentProductChanges()">
              </emp-ng-select>
            </div>

          </div>

          <div class="fx-row-container">

            <div class="fx-item-one">
              <label>Nombre del documento:</label>
              <input type="text" class="text-box"
                  formControlName="name"
                  [class.invalid-control]="formHelper.isControlInvalid(form.controls.name)">
            </div>

          </div>

          <div class="section-title"> Archivo a anexar </div>

          <div class="fx-row-container" [style.min-height.px]="63">

            <div class="fx-item-one">

              <ng-container *ngIf="form.controls.documentProduct.valid">

                <label>Archivo:</label>
                <emp-ng-file-control
                  [(fileControl)]="fileData"
                  [config]="{autoUpload: true,
                             filesTypes: [form.value.documentProduct.fileType],
                             placeholder: 'Elegir o arrastrar el archivo ' + form.value.documentProduct.fileType.toLowerCase() + '.'}"
                  [showError]="isFormInvalidated && !fileData">

                </emp-ng-file-control>

              </ng-container>

              <ng-container *ngIf="form.controls.documentProduct.invalid">

                <div class="instruction-text">
                  Seleccione el tipo de documento.
                </div>

              </ng-container>

            </div>

          </div>


          <mat-divider class="horizontal-slim"></mat-divider>

          <div class="fx-row-container">

            <div class="fx-item fx-end fx-items-center">

              <button
                [class.btn]="!isFormReady"
                [class.btn-action]="isFormReady"
                (click)="onSubmitButtonClicked()">
                Anexar documento
              </button>

            </div>

          </div>

        </div>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
