<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Reglas de agrupación

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="hint"
        [isLoading]="isLoading">
      </div>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div class="fx-column-container-fill">

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <emp-financial-concepts-filter
        class="fx-item-none"
        [query]="query"
        (conceptsFilterEvent)="onFinancialConceptsFilterEvent($event)">

      </emp-financial-concepts-filter>

      <emp-ng-data-table class="fx-item"
        [dataTable]="data"
        [selectedUID]="selectedUID"
        [executed]="queryExecuted"
        [notQueryExecutedText]="isLoading ? 'Cargando...' : 'No se ha invocado la consulta.'"
        (dataTableEvent)="onFinancialConceptsTableEvent($event)">

      </emp-ng-data-table>

    </div>

  </div>

</div>
