<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container sm-fx-column-container sm-fx-gap-half">

      <div class="fx-item-half sm-fx-item">

        <label>Área:</label>

        <emp-ng-select
          formControlName="baseOrgUnitUID"
          [config]="{virtualScroll: true, clearable: true, showTooltip: true}"
          [items]="orgUnitsList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.baseOrgUnitUID)"
          placeholder="Todas">
        </emp-ng-select>

      </div>

      <div class="fx-item-sixth sm-fx-item">

        <label>Estado:</label>

        <emp-ng-select
          formControlName="status"
          [config]="{clearable: true}"
          [items]="statusList"
          [showError]="formHelper.isControlInvalid(form.controls.status)"
          placeholder="Todos">
        </emp-ng-select>

      </div>

      <div class="fx-item fx-items-end sm-fx-item">

        <div class="input-search-container">

          <input type="text" class="text-box" name="keywords"
            formControlName="keywords"
            placeholder="Buscar..."
            (keyup.enter)="onSearchClicked()"
            (keyup.escape)="form.controls.keywords.reset()">

        </div>

      </div>


      <div #filterOptionsSection class="fx-item-none fx-items-start" [style.paddingTop.px]="13">

        <button title="Buscar"
          [class.btn-icon-action]="this.form.valid"
          [class.btn-icon]="!this.form.valid"
          (click)="onSearchClicked()">

          <mat-icon>search</mat-icon>

        </button>

        <mat-divider vertical="true" class="vertical-slim">

        </mat-divider>

        <button class="btn-base btn-filter-options"
          (click)="onShowFiltersClicked()" >
          {{showFilters ? 'Ocultar' :'Mostrar'}} <mat-icon>filter_list</mat-icon>
        </button>

      </div>

    </div>

    <div *ngIf="showFilters" [@empExpandCollapse]>

      <div class="fx-column-container fx-gap-half">

        <mat-divider class="horizontal-md">

        </mat-divider>


        <div class="fx-row-container sm-fx-column-container sm-fx-gap-half">

          <div class="fx-item-half sm-fx-item">

            <label>Tipo de proyecto:</label>

            <emp-ng-select
              formControlName="projectTypeUID"
              [config]="{clearable: true, showTooltip: true}"
              [items]="projectTypesList"
              [loading]="isLoading"
              [showError]="formHelper.isControlInvalid(form.controls.projectTypeUID)"
              placeholder="Todos">
            </emp-ng-select>

          </div>

          <div class="fx-item-quarter sm-fx-item">

            <label>Programa:</label>

            <emp-ng-select
              formControlName="programUID"
              [config]="{clearable: true, showTooltip: true}"
              [items]="programsList"
              [loading]="isLoading"
              [showError]="formHelper.isControlInvalid(form.controls.programUID)"
              placeholder="Todas">
            </emp-ng-select>

          </div>

          <div  class="fx-item-quarter sm-fx-item">

            <label>Subprograma:</label>

            <emp-ng-select
              formControlName="subprogramUID"
              [config]="{clearable: true, showTooltip: true}"
              [items]="subprogramsList"
              [loading]="isLoading"
              [showError]="formHelper.isControlInvalid(form.controls.subprogramUID)"
              placeholder="Todas">
            </emp-ng-select>

          </div>

        </div>


        <mat-divider class="horizontal-slim">

        </mat-divider>

        <div class="fx-row-container fx-end fx-items-end">

          <mat-divider vertical="true" class="vertical-inline">

          </mat-divider>

          <div class="fx-item-none">

            <button class="btn-base btn-filter-options"
              (click)="onClearFilters()">
              Limpiar <mat-icon>filter_list</mat-icon>
            </button>

          </div>

        </div>

      </div>

    </div>

  </div>

</form>
